<h1 class="col cv_title-text">
    {{('FRONT.TITLE' | translate) + ' ' + citySecondName | titleCase: language.id}}
</h1>

<!-- DEPRECATED -->
<div class="col-auto cv_title-links" *ngIf="false">
    <a class="cv_title-btn" data-toggle="collapse" href="#sortout" role="button" aria-expanded="false"
       aria-controls="sortout">{{'FRONT.SORT' | translate}} <img src="assets/images/arro-down.svg" alt=""></a>


    <div class="cv_title-links-sort collapse" id="sortout">
        <a href="#" class="cv_title-link"
           [class.active]="sortDirection === 'asc'"
           (click)="changeOrderBy('asc', $event)">
            {{'FRONT.FIRST_CHEAPER' | translate}}
        </a>
        <a href="#" class="cv_title-link"
           [class.active]="sortDirection === 'desc'"
           (click)="changeOrderBy('desc', $event)">
            {{'FRONT.AT_FIRST_EXPENSIVE' | translate}}
        </a>
    </div>
</div>