<a class="cv_nav-burger col-auto" data-toggle="collapse" href="#main-nav" role="button">
    <img src="assets/images/burger.svg" alt="">
</a>
<div class="collapse cv_nav-collapse col-12" id="main-nav">

    <nav class="cv_footer-nav row justify-content-start align-items-center" data-toggle="collapse" data-target="#main-nav">
        <a [href]="getUrl('/delivery')" class="col-12 cv_footer-nav-link">
            {{'HEADER.DELIVERY' | translate}}
        </a>
        <a [href]="getUrl('/payment')" class="col-12 cv_footer-nav-link">
            {{'HEADER.PAYMENT' | translate}}
        </a>
        <a [href]="getUrl('/contacts')" class="col-12 cv_footer-nav-link">
            {{'HEADER.CONTACTS' | translate}}
        </a>
        <a [href]="getUrl('/guarantee')" class="col-12 cv_footer-nav-link">
            {{'HEADER.GUARANTEES' | translate}}
        </a>
        <a [href]="getUrl('/reviews')" class="col-12 cv_footer-nav-link">
            {{'HEADER.REVIEWS' | translate}}
        </a>
    </nav>
    <div class="row justify-content-center align-items-center">

        <app-language-selector class="col-12">
        </app-language-selector>

        <div class="col-12">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    {{currency.code}}
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a *ngFor="let c of currencies$ | async" class="dropdown-item" (click)="setCurrency(c)">
                        {{c.code}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cv_nav-mob col-12 row justify-content-center align-items-center" *ngIf="false">

    <a [href]="bouquetPath" class="col-auto cv_nav-link">
        <img src="assets/images/nav-1.jpg" [alt]="'MENU.FLOWERS' | translate">
        {{'MENU.FLOWERS' | translate}}
    </a>
    <a href="/" class="col-auto cv_nav-link">
        <img src="assets/images/nav-2.jpg" [alt]="'MENU.GIFTS' | translate">
        {{'MENU.GIFTS' | translate}}
    </a>
    <a href="/" class="col-auto cv_nav-link">
        <img src="assets/images/nav-3.jpg" [alt]="'MENU.BASKETS' | translate">
        {{'MENU.BASKETS' | translate}}
    </a>
    <a href="/" class="col-auto cv_nav-link">
        <img src="assets/images/nav-4.jpg" [alt]="'MENU.PLANTS' | translate">
        {{'MENU.PLANTS' | translate}}
    </a>
    <a href="/" class="col-auto cv_nav-link">
        <img src="assets/images/nav-5.jpg" [alt]="'MENU.BALLS' | translate">
        {{'MENU.BALLS' | translate}}
    </a>
</div>