<div class="col">
    <h1 class="cv_infopage-title">

        <ng-container *ngIf="tabIndex===1">
            {{'FAQ.TITLES.DELIVERY' | translate}}
            <ng-container *ngIf="!isMainCity">{{'FAQ.TITLE_PREFIX' | translate}}{{citySecondName}}</ng-container>
        </ng-container>
        <ng-container *ngIf="tabIndex===2">
            {{'FAQ.TITLES.PAYMENT' | translate}}
            <ng-container *ngIf="!isMainCity">{{'FAQ.TITLE_PREFIX' | translate}}{{citySecondName}}</ng-container>
        </ng-container>
        <ng-container *ngIf="tabIndex===3">
            {{'FAQ.TITLES.GUARANTEES' | translate}}
            <ng-container *ngIf="!isMainCity">{{'FAQ.TITLE_PREFIX' | translate}}{{citySecondName}}</ng-container>
        </ng-container>
        <ng-container *ngIf="tabIndex===4">
            {{'FAQ.TITLES.CONTACTS' | translate}}
            <ng-container *ngIf="!isMainCity">{{'FAQ.TITLE_PREFIX' | translate}}{{citySecondName}}</ng-container>
        </ng-container>
        <ng-container *ngIf="tabIndex===5">
            {{'FAQ.TITLES.REVIEWS' | translate}}
            <ng-container *ngIf="!isMainCity">{{'FAQ.TITLE_PREFIX' | translate}}{{citySecondName}}</ng-container>
        </ng-container>
        <ng-container *ngIf="tabIndex===6">
            {{'FAQ.TITLES.DELIVERY_PHOTOS' | translate}}
            <ng-container *ngIf="!isMainCity">{{'FAQ.TITLE_PREFIX' | translate}}{{citySecondName}}</ng-container>
        </ng-container>

    </h1>
</div>
<div class="w-100"></div>
<div class="col-lg-3 col-12">
    <div class="cv_infopage-sidebar list-group" id="myList" role="tablist">
        <a class="cv_infopage-sidebar-item list-group-item list-group-item-action"
           [class.active]="tabIndex===1"
           data-toggle="list"
           [href]="langPath + 'delivery/'"
           role="tab">{{'FAQ.ABOUT_DELIVERY' | translate}}</a>
        <a class="cv_infopage-sidebar-item list-group-item list-group-item-action"
           [class.active]="tabIndex===2"
           data-toggle="list"
           [href]="langPath + 'payment/'"
           role="tab">{{'FAQ.ABOUT_PAYMENT' | translate}}</a>
        <a class="cv_infopage-sidebar-item list-group-item list-group-item-action"
           [class.active]="tabIndex===3"
           data-toggle="list"
           [href]="langPath + 'guarantee/'"
           role="tab">{{'FAQ.GUARANTEES_OF_FRESHNESS' | translate}}</a>
        <a class="cv_infopage-sidebar-item list-group-item list-group-item-action"
           [class.active]="tabIndex===4"
           data-toggle="list"
           [href]="langPath + 'contacts/'"
           role="tab">{{'FAQ.CONTACTS' | translate}}</a>
        <a class="cv_infopage-sidebar-item list-group-item list-group-item-action"
           [class.active]="tabIndex===5"
           data-toggle="list"
           [href]="langPath + 'reviews/'"
           role="tab">{{'FAQ.REVIEWS_TAB' | translate}}</a>
        <a class="cv_infopage-sidebar-item list-group-item list-group-item-action"
           [class.active]="tabIndex===6"
           data-toggle="list"
           [href]="langPath + 'delivery-photos/'"
           role="tab">{{'FAQ.DELIVERY_PHOTOS' | translate}}</a>
    </div>
</div>
<div class="col-lg-9 col-12">
    <div class="tab-content">
        <app-info-page-delivery *ngIf="tabIndex===1"
                                [content]="content"
                                [class.active]="tabIndex===1" class="tab-pane cv_infopage-tab" role="tabpanel">
        </app-info-page-delivery>

        <app-info-page-payment *ngIf="tabIndex===2"
                               [content]="content"
                               [class.active]="tabIndex===2"
                               class="tab-pane cv_infopage-tab" role="tabpanel"></app-info-page-payment>

        <app-info-page-guarantee *ngIf="tabIndex===3"
                                 [content]="content"
                                 [class.active]="tabIndex===3"
                                 class="tab-pane cv_infopage-tab" role="tabpanel"></app-info-page-guarantee>

        <app-info-page-contacts *ngIf="tabIndex===4"
                                [content]="content"
                                [class.active]="tabIndex===4"
                                class="tab-pane cv_infopage-tab"  role="tabpanel"></app-info-page-contacts>

        <app-info-page-reviews *ngIf="tabIndex===5"
                               [content]="content"
                               [class.active]="tabIndex===5"
                               class="tab-pane cv_infopage-tab" role="tabpanel"></app-info-page-reviews>

        <app-info-page-delivery-photos *ngIf="tabIndex===6"
                                       [class.active]="tabIndex===6"
                                       [content]="content"
                                       class="tab-pane" role="tabpanel"></app-info-page-delivery-photos>
    </div>
</div>