<app-review-item class="row cv_review-item" *ngFor="let item of nodes" [node]="item">
</app-review-item>

<div class="row align-items-center justify-content-center cv_progress">
    <div class="col col-sm-6 col-md-4">
        <span class="cv_progress--text">{{'FAQ.YOU_SHOW' | translate}}

            <ng-container *ngIf="totalCount > first;else elseBlock">{{first}}</ng-container>
            <ng-template #elseBlock>{{totalCount}}</ng-template>

            {{'FAQ.FROM' | translate}} {{totalCount}} {{'FAQ.REVIEWS' | translate}}</span>
    </div>
    <div class="w-100"></div>
    <div class="col col-sm-6 col-md-4">
        <div class="cv_progress--bar">
            <div class="progress" style="height: 2px;">
                <div class="progress-bar"
                     role="progressbar"
                     style="width: 25%;"
                     [attr.aria-valuenow]="first"
                     [attr.aria-valuemin]="0"
                     [attr.aria-valuemax]="totalCount"></div>
            </div>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col col-sm-6 col-md-4">
        <button type="button" class="btn btn-block cv_progress--button" [disabled]="!(totalCount > first)"
        (click)="loadMore()">
            {{'FAQ.LOAD_MORE' | translate}}
        </button>
    </div>
</div>