<div class="col-lg-3 col-12">
    <div class="cv_delivered-img">
        <img src="assets/images/flowers-big.jpeg" class="img-fluid" alt="">
        <a href="#" class="cv_delivered-plus"><img src="assets/images/large.svg" alt=""></a>
    </div>
    <div class="cv_delivered-name">Макпал с букетом
        <u>«Летний день»</u></div>
</div>
<div class="col-lg-3 col-12">
    <div class="cv_delivered-img">
        <img src="assets/images/flowers-big.jpeg" class="img-fluid" alt="">
        <a href="#" class="cv_delivered-plus"><img src="assets/images/large.svg" alt=""></a>
    </div>
    <div class="cv_delivered-name">Макпал с букетом
        <u>«Летний день»</u></div>
</div>
<div class="col-lg-3 col-12">
    <div class="cv_delivered-img">
        <img src="assets/images/flowers-big.jpeg" class="img-fluid" alt="">
        <a href="#" class="cv_delivered-plus"><img src="assets/images/large.svg" alt=""></a>
    </div>
    <div class="cv_delivered-name">Макпал с букетом
        <u>«Летний день»</u></div>
</div>