:host {
    position: relative;

    .cv_ratepage-leave {
        display: block !important;
    }

    .success {
        color: #4caf50;
    }

    .center {
        text-align: center;
    }

    app-spinner {
        display: none;
    }

    app-completed-spinner {
        position: absolute;
        z-index: 2;
        display: block;
        width: 100%;
        top: 35%;
    }

    .loaded {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            display: block;
            width: 100%;
            z-index: 1;
            height: 100%;
            background: rgba(255, 255, 255, 0.6);
        }

        app-spinner {
            position: absolute;
            z-index: 2;
            display: block;
            width: 100%;
            top: 35%;
        }
    }
}

.cv_ratepage-col.hide {
    display: none;

    &.show {
        display: block !important;
    }
}


.callback-right-check {
    button {
        position: relative;
        width: 100%;
        margin-bottom: 0!important;
        height: 46px;
        border: none;
        outline: none;
        border-top: 1px solid #ccc;
        background-color: #fff;
        padding: 0;
        border-radius: 0;
        display: block;
        line-height: 46px;
        text-align: left;
        padding-left: 14px;
        color: #444;
        font-size: 16px;
        cursor: pointer;
        z-index: 1;

        img.smile-icon {
            position: absolute;
            right: 10px;
            top: 10px;
            display: none;
        }
    }

    &.checked {

        button {
            img.smile-icon {
                display: block !important;
            }
        }
    }
}