<div class="row align-items-end justify-content-between cv_title cv_blur">
    <div class="col cv_title-text">{{'REVIEWS.LEAVE_FEEDBACK' | translate}}</div>
</div>

<div class="row cv_ratepage" [ngClass]="{'loaded': isLoaded}">

    <div class="col-3 cv_ratepage-col">
        <div class="cv_ratepage-name">{{'REVIEWS.RATE_THIS_ITEM' | translate}}</div>

        <div class="cv_ratepage-rate d-flex justify-content-center flex-row-reverse">
            <input type="radio" id="star5" name="rating" [value]="5" [checked]="callback.rating === 5">
            <label for="star5" title="5 star" (click)="setRating(5)"></label>

            <input type="radio" id="star4" name="rating" [value]="4" [checked]="callback.rating === 4">
            <label for="star4" title="4 star" (click)="setRating(4)"></label>

            <input type="radio" id="star3" name="rating" [value]="3" [checked]="callback.rating === 3">
            <label for="star3" title="3 star" (click)="setRating(3)"></label>

            <input type="radio" id="star2" name="rating" [value]="2" [checked]="callback.rating === 2">
            <label for="star2" title="2 star" (click)="setRating(2)"></label>

            <input type="radio" id="star1" name="rating" [value]="1" [checked]="callback.rating === 1">
            <label for="star1" title="1 star" (click)="setRating(1)"></label>
        </div>

        <div class="cv_ratepage-info" *ngIf="callback.rating > 0">
            {{'REVIEWS.SELECT_RIGHT_ITEMS1' | translate}}
        </div>
    </div>

    <!-- rating === 5 -->
    <div class="col-9 cv_ratepage-col hide good" [ngClass]="{'show': callback.rating === 5}">
        <div class="row">

            <div class="col">
                <div class="cv_ratepage-right-name">
                    {{'REVIEWS.EVALUATE_YOUR_EXPERIENCE' | translate}}
                </div>

                <div class="callback-right-check" [ngClass]="{'checked': disappointed['BOUQUET_IS_BETTER']}">
                    <button (click)="disappointChange('BOUQUET_IS_BETTER')">
                        {{'REVIEWS.BOUQUET_IS_BETTER' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                    </button>
                </div>
                <div class="callback-right-check" [ngClass]="{'checked': disappointed['BEAUTIFULLY_DECORATED']}">
                    <button (click)="disappointChange('BEAUTIFULLY_DECORATED')">
                        {{'REVIEWS.BEAUTIFULLY_DECORATED' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                    </button>
                </div>
                <div class="callback-right-check" [ngClass]="{'checked': disappointed['PUNCTUAL']}">
                    <button (click)="disappointChange('PUNCTUAL')">
                        {{'REVIEWS.PUNCTUAL' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                    </button>
                </div>
            </div>

            <div class="col cv_ratepage-right-mt">
                <div class="callback-right-check" [ngClass]="{'checked': disappointed['FAST_SHIPPING']}">
                    <button (click)="disappointChange('FAST_SHIPPING')">
                        {{'REVIEWS.FAST_SHIPPING' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                    </button>
                </div>
                <div class="callback-right-check" [ngClass]="{'checked': disappointed['FRESH_FLOWERS']}">
                    <button (click)="disappointChange('FRESH_FLOWERS')">
                        {{'REVIEWS.FRESH_FLOWERS' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                    </button>
                </div>
                <div class="callback-right-check" [ngClass]="{'checked': disappointed['COURTEOUS_COURIER']}">
                    <button (click)="disappointChange('COURTEOUS_COURIER')">
                        {{'REVIEWS.COURTEOUS_COURIER' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                    </button>
                </div>
                <div class="callback-right-check" [ngClass]="{'checked': disappointed['SUPER_FLORIST']}">
                    <button (click)="disappointChange('SUPER_FLORIST')">
                        {{'REVIEWS.SUPER_FLORIST' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                    </button>
                </div>
            </div>

        </div>
    </div>
    <!-- / rating === 5 -->

    <!-- rating === 3 || rating === 4 -->
    <div class="col-9 cv_ratepage-col hide" [ngClass]="{'show': callback.rating === 3 || callback.rating === 4}">
        <div class="row">

            <div class="col">
                <div class="cv_ratepage-right-name" [ngClass]="{'checked': disappointed['COURIER_NOT_RIGHT']}">
                    {{'REVIEWS.WHAT_DISAPPOINTED_YOU' | translate}}
                </div>

                <div class="callback-right-check" [ngClass]="{'checked': disappointed['FLORIST_NEEDS_TO_LEARN']}">
                    <button (click)="disappointChange('FLORIST_NEEDS_TO_LEARN')">
                        {{'REVIEWS.FLORIST_NEEDS_TO_LEARN' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                    </button>
                </div>
                <div class="callback-right-check" [ngClass]="{'checked': disappointed['SOME_FLOWERS_WILTED']}">
                    <button (click)="disappointChange('SOME_FLOWERS_WILTED')">
                        {{'REVIEWS.SOME_FLOWERS_WILTED' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                    </button>
                </div>
                <div class="callback-right-check" [ngClass]="{'checked': disappointed['NOT_EXACTLY_WHAT_I_ORDERED']}">
                    <button (click)="disappointChange('NOT_EXACTLY_WHAT_I_ORDERED')">
                        {{'REVIEWS.NOT_EXACTLY_WHAT_I_ORDERED' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                    </button>
                </div>
            </div>

            <div class="col cv_ratepage-right-mt">
                <div class="callback-right-check" [ngClass]="{'checked': disappointed['THE_WHERE_THE_ADDRESS_IS']}">
                    <button (click)="disappointChange('THE_WHERE_THE_ADDRESS_IS')">
                        {{'REVIEWS.THE_WHERE_THE_ADDRESS_IS' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                    </button>
                </div>
                <div class="callback-right-check" [ngClass]="{'checked': disappointed['COURIER_LITTLE_LATE']}">
                    <button (click)="disappointChange('COURIER_LITTLE_LATE')">
                        {{'REVIEWS.COURIER_LITTLE_LATE' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                    </button>
                </div>
            </div>

        </div>
    </div>
    <!-- / rating === 3 || rating === 4 -->

    <!-- rating < 3 -->
    <div class="col-9 cv_ratepage-col hide" [ngClass]="{'show': !!(callback.rating < 3 && callback.rating > 0)}">
        <div class="row">

            <div class="col">
                <div class="cv_ratepage-right-name">
                    {{'REVIEWS.WHAT_DISAPPOINTED_YOU' | translate}}
                </div>

                <div class="callback-right-check" [ngClass]="{'checked': disappointed['NOT_FRESH']}">
                    <button (click)="disappointChange('NOT_FRESH')">
                        {{'REVIEWS.NOT_FRESH' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                    </button>
                </div>
                <div class="callback-right-check" [ngClass]="{'checked': disappointed['NOT_LIKE_IN_PHOTO']}">
                    <button (click)="disappointChange('NOT_LIKE_IN_PHOTO')">
                        {{'REVIEWS.NOT_LIKE_IN_PHOTO' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                    </button>
                </div>
                <div class="callback-right-check" [ngClass]="{'checked': disappointed['COURIER_NOT_RIGHT']}">
                    <button (click)="disappointChange('COURIER_NOT_RIGHT')">
                        {{'REVIEWS.COURIER_NOT_RIGHT' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                    </button>
                </div>
            </div>

            <div class="col cv_ratepage-right-mt">
                <div class="callback-right-check" [ngClass]="{'checked': disappointed['COURIER_RUDE']}">
                    <button (click)="disappointChange('COURIER_RUDE')">
                        {{'REVIEWS.COURIER_RUDE' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                    </button>
                </div>
                <div class="callback-right-check" [ngClass]="{'checked': disappointed['WRONG_BOUQUET']}">
                    <button (click)="disappointChange('WRONG_BOUQUET')">
                        {{'REVIEWS.WRONG_BOUQUET' | translate}}
                        <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                    </button>
                </div>
            </div>

        </div>
    </div>
    <!-- / rating < 3 -->

    <div class="col-12 cv_ratepage-leave" *ngIf="callback.rating > 0">
        <div class="cv_ratepage-leave-title">{{'REVIEWS.DETAILED_COMMENT' | translate}}</div>

        <div class="form-group">
            <textarea class="form-control cv_ratepage-leave-input"
                      id="cv-leave-comment"
                      rows="5"
                      [(ngModel)]="callback.comment"
                      [placeholder]="'REVIEWS.WRITE_YOUR_IMPRESSIONS' | translate"></textarea>
        </div>

        <div class="form-group">
            <button type="button" class="btn cv_ratepage-leave-submit" (click)="addCallback()">
                {{'REVIEWS.SEND' | translate}}
            </button>
        </div>
    </div>

    <app-completed-spinner *ngIf="isLoaded"></app-completed-spinner>
</div>