<div class="col-auto cv_feedback-title">{{ 'BOUQUET.CUSTOMER_REVIEWS' | translate }}</div>

<div class="col cv_feedback-line"></div>
<div class="w-100"></div>

<div class="col-12" *ngIf="false">
    <div class="row align-items-center justify-content-between cv_itemdesk-review">
        <div class="col-12 cv_itemdesk-review-box">
            <div class="row cv_itemcard-rating">
                <div class="col-auto spec-padding"><img src="images/rating-full.svg" alt=""></div>
                <div class="col-auto spec-padding"><img src="images/rating-full.svg" alt=""></div>
                <div class="col-auto spec-padding"><img src="images/rating-full.svg" alt=""></div>
                <div class="col-auto spec-padding"><img src="images/rating-full.svg" alt=""></div>
                <div class="col-auto spec-padding"><img src="images/rating-empty.svg" alt=""></div>
                <div class="col-auto spec-padding"> - {{ 'BOUQUET.OVERALL_RATING' | translate }} | 18 {{
                    'BOUQUET.REVIEWS_LOWER' | translate }}
                </div>
            </div>
            <div class="row cv_itemcard-rating-content">
                <div class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam possimus, nobis
                    aspernatur eius esse consequuntur at, animi cupiditate consequatur error ipsa. Voluptatum neque
                    nulla corrupti, perspiciatis quod officiis maxime expedita.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 cv_itemdesk-review-box" *ngFor="let node of nodes">
    <div class="row cv_itemcard-rating">
        <div class="col-auto spec-padding">
            <img src="/assets/images/rating-empty.svg" *ngIf="node.rating < 1">
            <img src="/assets/images/rating-full.svg" *ngIf="node.rating > 0">
        </div>
        <div class="col-auto spec-padding">
            <img src="/assets/images/rating-empty.svg" *ngIf="node.rating < 2">
            <img src="/assets/images/rating-full.svg" *ngIf="node.rating > 1">
        </div>
        <div class="col-auto spec-padding">
            <img src="/assets/images/rating-empty.svg" *ngIf="node.rating < 3">
            <img src="/assets/images/rating-full.svg" *ngIf="node.rating > 2">
        </div>
        <div class="col-auto spec-padding">
            <img src="/assets/images/rating-empty.svg" *ngIf="node.rating < 4">
            <img src="/assets/images/rating-full.svg" *ngIf="node.rating > 3">
        </div>
        <div class="col-auto spec-padding">
            <img src="/assets/images/rating-empty.svg" *ngIf="node.rating < 5">
            <img src="/assets/images/rating-full.svg" *ngIf="node.rating > 4">
        </div>
        <div class="col-auto spec-padding">({{node.rating}})</div>
    </div>
    <div class="row cv_itemcard-rating-name">
        <div class="col">{{getBouquetName(node)}}</div>
    </div>
    <div class="row cv_itemcard-rating-content">
        <div class="col">
            {{node.comment}}
        </div>
    </div>
    <div class="row cv_itemcard-rating-by">
        <div class="col">{{getDate(node)}}</div>
    </div>
</div>

<div *ngIf="nodes.length === 0" class="review-not-found">
    {{ 'BOUQUET.NO_REVIEWS_YET' | translate }}
</div>