:host {
    .cv_feedback-carousel-item-name {
        display: block;
        font-family: 'Gill Sans';
        font-size: 16px;
        font-weight: 600;
        color: #202020;
        text-decoration: none;
    }

    .cv_feedback-carousel-item-img {

        @media (min-width: 768px)
        {
            img {
                top: -40%;
                position: relative;
            }
        }
    }
}