<ng-container *ngFor="let block of blocks">
    <div class="row justify-content-start align-items-center">
        <div class="col-12 cv_items-title">{{block.content[language.code]['title']}}</div>
    </div>
    <div class="row align-items-stretch justify-content-center mb-3 cv_items-fix featured">

        <div class="col-lg-4 col-6 cv_item" *ngFor="let product of block.bouquets" itemscope itemtype="http://schema.org/Product">
            <a [href]="city + prefix + product.url" itemprop="url">
                <app-bouquet-teaser [item]="product"></app-bouquet-teaser>
            </a>
        </div>

        <div class="col-lg-4 col-6 cv_item">
            <div class="cv_item-more d-flex flex-column justify-content-around"
                 [innerHTML]="block.content[language.code]['content']">
            </div>
        </div>
    </div>
</ng-container>