<div class="col cv_feedback-line"></div>
<div class="col-auto cv_feedback-title">{{'FRONT.REVIEWS' | translate}}</div>
<div class="col cv_feedback-line"></div>
<div class="w-100"></div>

<app-reviews-block class="col-12 cv_feedback-carousel"></app-reviews-block>

<div class="col-12 cv_feedback-more">
    <a [href]="path">
        {{'FRONT.SHOW_ALL' | translate}}
    </a>
</div>
