<div class="col cv_delivery-line"></div>
<div class="col-auto cv_delivery-title">{{'FRONT.DELIVERY_PHOTOS' | translate}}</div>
<div class="col cv_delivery-line"></div>
<div class="w-100"></div>

<app-delivery-block class="col-12 cv_delivery-carousel"></app-delivery-block>