<div class="col-12 cv_ratepage-col">
    <div class="cv_ratepage-info">
        Обрадуйте заказчика своей фотографией
    </div>
    <div class="form-group">
        <input type="file" id="imageUpload" class="cv_ratepage-upload-input" (change)="fileEvent($event)" #fileInput/>
        <label for="imageUpload" class="btn cv_ratepage-upload"></label>
    </div>
    <div class="form-group">
        <div *ngIf="!url" id="imagePreview" class="cv_ratepage-uploaded"></div>
        <img *ngIf="url" [src]="url | imgWorker:180:180" class="cv_ratepage-uploaded">
    </div>
    <div class="form-group">
        <button (click)="cancel()" class="btn cv_ratepage-leave-submit">Отправить</button>
    </div>
</div>