<div class="cv_filters-row cv_blur col-12">
    <div class="cv_filters-filterit text-center">{{'FRONT.FILTERS' | translate}}</div>
</div>

<app-filters class="cv_filters-right col-12 col-lg-3"></app-filters>

<app-items class="col-8 col-lg-9 cv_items cv_blur"></app-items>