<div class="col-12 cv_ratepage-col">
    <div class="cv_ratepage-info">
        Подрежьте цветы на 3-5см. под углом в 45 градусов для увеличения площади всасывания воды.<br>
        Ежедневно подрезайте цветы на 1 см., чтобы стволы не забивались и лучше впитывали воду.<br>
        Поставьте вазу с цветами в прохладное место, без попадания прямых солнечных лучей. Держите подальше от батареи, каминов и обогревателей.
        <br>
        Опрыскивайте цветы 1 раз в день, это усилит аромат в комнате и продлит жизнь букету.<br>
        Удалите увядшие лепестки и очистите нижнюю часть стебля от листьев. Особенно ту часть, которая будет в воде.
    </div>

    <div class="form-group">
        <a href="/" class="btn cv_ratepage-leave-submit">Спасибо</a>
    </div>
</div>