<div class="row align-items-center cv_breadcrumb">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">{{'ORDER_INFORM.FRONT' | translate}}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    {{'ORDER_INFORM.ORDER_STATUS_NO' | translate}}{{order?.orderid}}
                </li>
            </ol>
        </nav>
    </div>
</div>

<div class="row align-items-center cv_status">
    <div class="col">
        <h1 class="cv_status-title">{{'ORDER_INFORM.ORDER_STATUS_NO' | translate}}{{order?.orderid}}</h1>
    </div>
</div>

<div class="row cv_status-timeline no-gutters">

    <div class="col-auto">
        <div class="cv_status-timeline-step active" [ngClass]="{'active': order.statusId > 3}">
            <img src="assets/images/check-status.svg" alt="">
        </div>
        <div class="cv_status-timeline-step-text" [ngClass]="{'active': order.statusId > 3}">
            {{'ORDER_INFORM.CONFIRMED' | translate}}
            <a href="#">{{'ORDER_INFORM.READ_MORE' | translate}}</a>
        </div>
    </div>

    <div class="col">
        <div class="cv_status-timeline-line" [ngClass]="{'active': order.statusId > 4}"></div>
    </div>

    <div class="col-auto">
        <div class="cv_status-timeline-step" [ngClass]="{'active': order.statusId > 4}">
            <img src="assets/images/check-status.svg" alt="">
        </div>
        <div class="cv_status-timeline-step-text" [ngClass]="{'active': order.statusId > 4}">
            {{'ORDER_INFORM.ASSEMBLED' | translate}}
            <a href="#">{{'ORDER_INFORM.BOUQUET_PHOTO_BEFORE_DELIVERY' | translate}}</a>
        </div>
    </div>

    <div class="col">
        <div class="cv_status-timeline-line" [ngClass]="{'active': order.statusId > 7}"></div>
    </div>

    <div class="col-auto">
        <div class="cv_status-timeline-step" [ngClass]="{'active': order.statusId > 7}">
            <img src="assets/images/check-status.svg" alt="">
        </div>
        <div class="cv_status-timeline-step-text" [ngClass]="{'active': order.statusId > 7}">
            {{'ORDER_INFORM.WAY' | translate}}
        </div>
    </div>

    <div class="col">
        <div class="cv_status-timeline-line" [ngClass]="{'active': order.statusId > 8}"></div>
    </div>

    <div class="col-auto">
        <div class="cv_status-timeline-step" [ngClass]="{'active': order.statusId > 8}">
            <img src="assets/images/check-status.svg" alt="">
        </div>
        <div class="cv_status-timeline-step-text" [ngClass]="{'active': order.statusId > 8}">
            {{'ORDER_INFORM.DELIVERED' | translate}}
            <a href="#">{{'ORDER_INFORM.PHOTOS_WITH_CUSTOMER' | translate}}</a>
        </div>
    </div>

</div>

<div class="row cv_status-info">
    <div class="col cv-status-info-left">
        <div class="row">
            <div class="col-12">
                <div class="cv_status-info-title">
                    {{'ORDER_INFORM.INFORMATION_ABOUT' | translate}}
                </div>
            </div>
            <div class="col-6 cv_status-info-desc">{{'ORDER_INFORM.RECIPIENT' | translate}}:</div>
            <div class="col-6 cv_status-info-desc">{{order?.recipientName}}</div>

            <div class="col-6 cv_status-info-desc">{{'ORDER_INFORM.TIME_OF_DELIVERY' | translate}}:</div>
            <div class="col-6 cv_status-info-desc">{{deliveryDate}} {{order?.deliveryType}}</div>

            <div class="col-6 cv_status-info-desc">{{'ORDER_INFORM.BOUQUET_ASSEMBLED' | translate}}:</div>
            <div class="col-6 cv_status-info-desc">-</div>

            <div class="col-6 cv_status-info-desc">{{'ORDER_INFORM.BOUQUET_DELIVERED' | translate}}:</div>
            <div class="col-6 cv_status-info-desc">
                <ng-container *ngIf="order.statusId != 9; else delivered">
                    {{'ORDER_INFORM.NOT_DELIVERED_YET' | translate}}
                </ng-container>
                <ng-template #delivered>{{'ORDER_INFORM.DELIVERED' | translate}}</ng-template>
            </div>

            <div class="col-12 cv_status-info-add">* {{'ORDER_INFORM.WHEN_DELIVERED' | translate}}</div>
        </div>
    </div>
    <div class="col cv-status-info-right">
        <div class="row">
            <div class="col-12">
                <div class="cv_status-info-title">{{'ORDER_INFORM.BOUQUET_PHOTO' | translate}}</div>
            </div>
            <div class="row" *ngFor="let item of order.productsdata">
                <div class="col-auto" *ngIf="item.img">
                    <img [src]="item.img" alt="">
                    <div class="cv_status-info-txt text-center">{{'ORDER_INFORM.ONLINE' | translate}}</div>
                </div>

                <div class="col-auto" *ngIf="false">
                    <img src="images/flowers.jpeg" alt="">
                    <div class="cv_status-info-txt text-center">{{'ORDER_INFORM.BEFORE_DELIVERY' | translate}}</div>
                </div>

                <div class="col-auto" *ngIf="resultPhoto">
                    <img [src]="resultPhoto" alt="">
                    <div class="cv_status-info-txt text-center">{{'ORDER_INFORM.WITH_THE_RECIPIENT' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>