<div class="col cv_topbar-left">
    <div class="cv_topbar-left-phone">+7 (702) 222 07 30</div>
    <div class="cv_topbar-left-city">{{'HEADER.CITY_OF_DELIVERY' | translate}}:
        <app-cities></app-cities> {{'HEADER.DELIVERY_IS_FREE' | translate}}
    </div>
</div>

<div class="col text-center cv_topbar-center">
    <a [href]="locationService.baseUrl()">
        <img src="assets/images/logo.svg"
             [alt]="('HEADER.LOGO_ALT' | translate) + secondName"
             [title]="('HEADER.LOGO_TITLE' | translate) + secondName">
    </a>
</div>

<div class="col text-right cv_topbar-right">
    <div class="cv_topbar-right-nav" *ngIf="isMain">
        <a [href]="getUrl('/delivery')">{{'HEADER.DELIVERY' | translate}}</a>,
        <a [href]="getUrl('/payment')">{{'HEADER.PAYMENT' | translate}}</a>,
        <a [href]="getUrl('/contacts')">{{'HEADER.CONTACTS' | translate}}</a>,
        <a [href]="getUrl('/guarantee')">{{'HEADER.GUARANTEES' | translate}}</a>
    </div>

    <div class="cv_topbar-right-nav" *ngIf="!isMain">
        <a target="_blank" [href]="getUrl('/delivery')">{{'HEADER.DELIVERY' | translate}}</a>,
        <a target="_blank" [href]="getUrl('/payment')">{{'HEADER.PAYMENT' | translate}}</a>,
        <a target="_blank" [href]="getUrl('/contacts')">{{'HEADER.CONTACTS' | translate}}</a>,
        <a target="_blank" [href]="getUrl('/guarantee')">{{'HEADER.GUARANTEES' | translate}}</a>
    </div>

    <div class="cv_topbar-right-garancy">
        {{'HEADER.GUARANTEE_OF_FRESH_BOUQUET' | translate}}
    </div>
</div>