<div class="cv_filters-title"
     data-toggle="collapse"
     [attr.data-target]="'#filters-' + index"
     aria-expanded="true"
     [attr.aria-controls]="'filters-' + index" role="button">
    {{node.value}}
    <div class="cv_filters-title-plus"></div>
</div>

<div class="cv_filters-box collapse" [id]="'filters-' + index" [class.show]="true">

    <app-color class="cv_itemcard-color"
               *ngIf="node.filterId === 4"
               [urls]="urls"
               [langId]="langId"
               [language]="language"
               [city]="city"
               [path]="path"
               [isCatalog]="isCatalog"
               [filterItemsTr]="filterItemsTr"
               [activeFilterItems]="activeFilterItems"></app-color>

    <app-quantity
        *ngIf="node.filterId === 3"
        [urls]="urls"
        [langId]="langId"
        [language]="language"
        [city]="city"
        [path]="path"
        [isCatalog]="isCatalog"
        [activeFilterItems]="activeFilterItems"></app-quantity>

    <app-price *ngIf="node.filterId === 10"
               [urls]="urls"
               [langId]="langId"
               [language]="language"
               [city]="city"
               [path]="path"
               [isCatalog]="isCatalog"
               [parentComp]="comp"
               [filterItemsTr]="filterItemsTr"
               [activeFilterItems]="activeFilterItems">
    </app-price>

    <ul class="cv_filters-list" *ngIf="isCommon(node.filterId)">
        <li *ngFor="let label of filterItemsTr | filterItemLabel:node.filterId | byLangId:langId; index as labelIdx">

            <a [href]="urls[label.filterItemId]" *ngIf="isValid(label) || !isCatalog; else noLink">
                <label [for]="'filter-' + labelIdx" [class.cv_filter-active]="activeFilterItems[label.filterItemId]">
                    {{label.value}}
                </label>
            </a>

            <ng-template #noLink>
                <label [for]="'filter-' + labelIdx" [class.cv_filter-active]="activeFilterItems[label.filterItemId]"
                       (click)="goTo(urls[label.filterItemId], label.filterItemId)">
                    {{label.value}}
                </label>
            </ng-template>

        </li>
    </ul>

    <div class="js-toggle-content"
         *ngIf="(filterItemsTr | filterItemLabel:node.filterId | byLangId:langId).length > 5 && isCommon(node.filterId)"
         data-text-show="..."
         [attr.data-text-hide]="'FRONT.LESS' | translate">
        <a href="#" class="cv_filters_link js-toggle-text">...</a>
    </div>

</div>