<div class="col-12">
    <div class="cv_item-rating">
        <div class="cv_item-rating-img">
            <img src="assets/images/rating-full.svg" alt="">
        </div>
        <div class="cv_item-rating-img">
            <img src="assets/images/rating-full.svg" alt="">
        </div>
        <div class="cv_item-rating-img">
            <img src="assets/images/rating-full.svg" alt="">
        </div>
        <div class="cv_item-rating-img">
            <img src="assets/images/rating-full.svg" alt="">
        </div>
        <div class="cv_item-rating-img">
            <img src="assets/images/rating-half.svg" alt="">
        </div>
        <div class="cv_item-rating-link">
            <!--<a href="#">{{reviewCount}} {{reviewWord}}</a>-->
            {{randomRating()}}
        </div>
    </div>
</div>

<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="d_none">
    <span itemprop="ratingValue">{{randomRating()}}</span>
    <span itemprop="reviewCount">20</span>
</div>