<div class="row align-items-end justify-content-between cv_title cv_blur">
    <h1 class="col cv_title-text" *ngIf="langId===1">Все города</h1>
    <h1 class="col cv_title-text" *ngIf="langId===2">All Cities</h1>
</div>

<div class="row align-items-start cv_cities" *ngFor="let letter of letters">
    <div class="col-2 cv_cities-letter">
        <ul>
            <li>{{letter}}</li>
        </ul>
    </div>

    <div class="col-md-2 col-sm-12 col-12" *ngFor="let sub of container[letter]">
        <ul class="cv_cities-list">
            <li *ngFor="let city of sub">
                <a [href]="url(city.code)">
                    <ng-container *ngIf="langId === 1;else elseBlock">{{city.name}}</ng-container>
                    <ng-template #elseBlock>{{city.enName}}</ng-template>
                </a>
            </li>
        </ul>
    </div>

</div>