.schema-options-button {
    position: fixed;
    top: 160px;
    right: 0;
    width: 48px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    border-radius: 0;
    margin: 0;
    pointer-events: auto;
    opacity: .90;
    z-index: 998;
    background-color: #039be5 !important;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

    &.side-panel-hidden {
        right: 0 !important;
    }

    &:hover {
        opacity: 1;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    width: 280px;
    min-width: 280px;
    max-width: 280px;
    z-index: 1000;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.35);
    font-family: system,
    -apple-system,
    'San Francisco',
    '.SFNSDisplay-Regular',
    'Segoe UI',
    Segoe,
    'Segoe WP',
    'Helvetica Neue',
    helvetica,
    'Lucida Grande',
    arial,
    sans-serif;

    &.left-positioned {
        left: 0;
        transform: translateX(-100%);
    }

    &.right-positioned {
        right: 0;
        transform: translateX(100%);
    }

    &.open {
        transform: translateX(0);
    }

    &.locked-open {
        position: relative !important;
        transform: translateX(0) !important;
    }

    &.folded {
        position: absolute !important;
        top: 0;
        bottom: 0;
    }

    &.animations-enabled {
        transition-property: transform, width, min-width, max-width;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
    }

    .header {
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
        position: relative;
        height: 64px;
        max-height: 64px;
        min-height: 64px;
        z-index: 10;
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
        background-color: #3c4252 !important;
        color: #fff !important;

        .title {
            margin-bottom: 0;
            text-align: center;
            display: flex;
            flex: 1;
            place-content: center;
            align-items: center;
        }

        .toggle-sidebar-folded {
            padding: 0;
            min-width: 0;
            width: 40px;
            height: 40px;
            flex-shrink: 0;
            line-height: 40px;
            border-radius: 50%;
            cursor: pointer;
            font-size: 18px;
            border: none;
            background: transparent;
            color: #fff;
        }
    }

    .content {
        background-color: #fff;
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        flex: 1 1 100%;
        min-height: 0;
        padding: 20px 15px;
        overflow-y: auto !important;
        overflow-x: hidden !important;
        overflow-anchor: none;
        -ms-overflow-style: none;
        touch-action: auto;
        -ms-touch-action: auto;

        .search-box {
            border-bottom: 1px solid #d3d6db;
            display: block;
            font-size: 14px;
            margin: -15px -15px 12px 0;
            position: relative;

            &:before {
                cursor: pointer;
                position: absolute;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                content: "\26B2";
                display: block;
                font-size: 24px;
                top: -2px;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

            .search-box-clear {
                background-color: #d0d0d0;
                border-radius: 12px;
                color: #fff;
                font-size: 11px;
                padding: 1px 5px 2px;
                right: 3px;
                top: 8px;
                cursor: pointer;
                position: absolute;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            input {
                border: none;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                font-size: 14px;
                outline: none;
                padding: 6px 24px 8px 20px;
                width: 100%;
            }
        }


        .doc-category-column {
            margin: 10px 0;
            color: #8b2bb9;
            font-size: 14px;
            display: block;

            span.type {
                color: #ca9800;
            }
        }

        .doc-category-item {
            margin: 10px 0;
            color: #555;
            font-size: 14px;
            display: block;

            span.fields {
                color: #1f61a0;
                cursor: pointer;
                text-decoration: none;
                margin-left: 5px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.sidebar-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 0;
}

