.page-not-found {
    padding: 60px 0;
    text-align: center;
}
.page-not404 .page-not-found img {
    margin-bottom: 70px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    max-width: 100%;
    height: auto;
}
.page-not404 .page-not-found .title_block {
    color: #333;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.page-not-des {
    margin-top: 25px;
    padding: 0 5em;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 30px;
    color: #666666;
}
.link {
    display: block;
    cursor: pointer;
}

.text-center {
    text-align: center;
}