<div class="page-not-found text-center">
    <img src="/assets/images/404.png" alt="" class="img-responsive">

    <p class="page-not-des">{{'FRONT.DESCRIPTION' | translate}}</p>

    <!--<a [href]="baseUrl$ | async" class="link">{{'NOT_FOUND.LINK' | translate}}</a>-->
</div>

<div class="row align-items-start justify-content-between cv_content">
    <div class="col-12 cv_items cv_blur">
        <div class="row justify-content-start align-items-center">
            <div class="col-12 cv_items-title">{{'FRONT.POPULAR_BOUQUETS' | translate}}</div>
        </div>
        <div class="row align-items-start justify-content-center mb-3 featured">

            <div class="col-lg-4 col-6 cv_item bouquet-teaser" *ngFor="let item of featured | byLangId:langId"
                 itemscope itemtype="http://schema.org/Product">
                <a [href]="city + prefix + item.url" itemprop="url">
                    <app-bouquet-teaser [item]="item"></app-bouquet-teaser>
                </a>
            </div>

            <div class="col-lg-4 col-12 cv_item">
                <div class="cv_item-more">
                    <div class="cv_item-more-title">{{totalFeatured}} {{'FRONT.POPULAR_DESC_1' | translate}}</div>

                    <a *ngIf="langId === 1" [href]="city + themPrefix + 'populyarnye-cvety'" class="cv_item-more-link">
                        {{'FRONT.POPULAR_MORE' | translate}}
                    </a>

                    <a *ngIf="langId === 2" [href]="city + themPrefix + 'featured-flowers'" class="cv_item-more-link">
                        {{'FRONT.POPULAR_MORE' | translate}}
                    </a>
                </div>
            </div>
        </div>

        <div class="row justify-content-start align-items-center">
            <div class="col-12 cv_items-title">{{'FRONT.EXCLUSIVE_BOUQUETS' | translate}}</div>
        </div>
        <div class="row align-items-start justify-content-center mb-3 featured">

            <div class="col-lg-4 col-6 cv_item" *ngFor="let item of extraordinary | byLangId:langId"
                 itemscope itemtype="http://schema.org/Product">
                <a [href]="city + prefix + item.url" itemprop="url">
                    <app-bouquet-teaser [item]="item"></app-bouquet-teaser>
                </a>
            </div>

            <div class="col-lg-4 col-12 cv_item">
                <div class="cv_item-more">
                    <div class="cv_item-more-title">{{'FRONT.EXCLUSIVE_DESC' | translate}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

