<app-bouquet-filter *ngFor="let node of (filtersTr$ | async) | filterOrder | byLangId:langId; index as filterIdx"
                    class="cv_filters"
                    [urls]="urls"
                    [index]="filterIdx"
                    [filterItemsTr]="filterItemsTr$ | async"
                    [langId]="langId"
                    [activeFilterItems]="activeFilterItems"
                    [language]="language"
                    [city]="city"
                    [isCatalog]="true"
                    [path]="path"
                    [node]="node">
</app-bouquet-filter>

<div class="cv_filters-btn">
    <a [href]="_locationService.baseUrl()">{{'FRONT.RESET' | translate}}</a>
</div>