<app-title class="row align-items-end justify-content-between cv_title cv_blur"></app-title>
<app-content class="row align-items-start justify-content-between cv_content"></app-content>
<app-delivery class="row align-items-center justify-content-center cv_delivery cv_blur"></app-delivery>
<app-feedback class="row align-items-center justify-content-center cv_feedback cv_blur"></app-feedback>

<!--
<div class="row align-items-center justify-content-center cv_feedback cv_blur">
    <div class="col cv_feedback-line"></div>
    <div class="col-auto cv_feedback-title">{{'FAQ.REVIEWS_TAB' | translate}}</div>
    <div class="col cv_feedback-line"></div>
    <div class="w-100"></div>

    <app-reviews-block class="col-12 cv_feedback-carousel"></app-reviews-block>
</div>-->
