<app-item-card-slider class="col-md-5"></app-item-card-slider>

<div class="col-md-7">
    <div class="row align-items-end cv_itemcard-title">
        <h1 class="col-12" itemprop="name">{{title | titleCase: langId}} {{titleSuffix}}</h1>
    </div>

    <app-item-card-rating class="row align-items-end"></app-item-card-rating>

    <!--<div class="row align-items-end cv_itemcard-desc">-->
    <!--<div class="col-12">{{bouquet.description}}</div>-->
    <!--</div>-->

    <app-item-card-size class="row align-items-end cv_itemcard-size"></app-item-card-size>

    <app-item-card-additional [bouquetId]="bouquet.id"
                              class="row align-items-end cv_itemcard-addit"></app-item-card-additional>

    <app-full-price class="row align-items-end cv_itemcard-fullprice"
                    itemprop="offers" itemscope itemtype="http://schema.org/Offer"></app-full-price>

    <div class="row align-items-center cv_itemcard-buy">
        <button class="cv_itemcard-buy-btn" [disabled]="!variant.price" (click)="checkout()">
            {{'BOUQUET.CHECKOUT' | translate}}
        </button>
    </div>

    <div class="cv_itemcard-buy-label">
        {{'BOUQUET.FREE_POSTCARD_DESIGN' | translate}}
    </div>

    <div class="row align-items-center cv_itemcard-info">
        <div class="col-12">
            <div class="cv_itemcard-info-label">{{'BOUQUET.INFORMATION_ABOUT_DELIVERY' | translate}}</div>
        </div>
        <div class="col-12">
            <div class="cv_itemcard-info-desc">
                {{'BOUQUET.NEAREST_DELIVERY_TIME' | translate}} – {{deliveryTime}}. {{'BOUQUET.FREE_SHIPPING' | translate}}.
            </div>
        </div>
    </div>

    <div class="row align-items-center cv_itemcard-info">
        <div class="col-12">
            <div class="cv_itemcard-info-label">{{'BOUQUET.ABOUT_FRESH_BOUQUET' | translate}}</div>
        </div>
        <div class="col-12">
            <div class="cv_itemcard-info-desc">
                {{'BOUQUET.INFO_DESC_PREFIX' | translate}} {{deliveryDay}},
                {{'BOUQUET.INFO_DESC_SUFFIX_1' | translate}} {{freshDay}} {{'BOUQUET.INFO_DESC_SUFFIX_2' | translate}}.
            </div>
        </div>
    </div>

    <div class="row align-items-center cv_itemcard-info">
        <div class="col-12">
            <div class="cv_itemcard-info-label">{{'BOUQUET.ABOUT_PAYMENT_METHODS' | translate}}:</div>
        </div>
        <div class="col-12">
            <div class="cv_itemcard-info-desc">
                {{'BOUQUET.BANK_CASH' | translate}}
            </div>
        </div>
        <div class="col-auto">
            <img src="assets/images/visa.svg" class="img-fluid" alt="">
        </div>
        <div class="col-auto">
            <img src="assets/images/mastercard.svg" class="img-fluid" alt="">
        </div>
        <div class="col-auto">
            <img src="assets/images/paypal-2.svg" class="img-fluid" alt="" style="height: 30px;">
        </div>
    </div>

    <div class="row align-items-end cv_itemcard-desc">
        <!--<div class="col-12">{{bouquet.description}}</div>-->

        <div class="col-12">
            <div class="cv_itemcard-info-label">{{'BOUQUET.DESC' | translate}}</div>
        </div>
        <div class="col-12">
            <div class="cv_itemcard-info-desc" itemprop="description">
                {{bouquet.description}}
            </div>
        </div>
    </div>
</div>
