@media (max-width: 576px) {
    .cv_itemcard-buy-label {
        width: 100%;
        text-align: center;
    }
}

.cv_itemcard-buy-label {
    color: #999;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.hide {
    display: none !important;
}