<div class="col-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a itemprop="url" [href]="cityPath + '/' + langPath">
                    <span itemprop="title">{{'FAQ.FRONT' | translate}}</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a itemprop="url" [href]="fullUrl">
                    <span itemprop="title">
                        {{'FAQ.ANSWERS_TO_ALL_QUESTIONS' | translate}}
                    </span>
                </a>
            </li>
        </ol>
    </nav>
</div>