<div class="cv_item-img">
    <img itemprop="image"
         [src]="item.bouquetByBouquetId.mainImage | imgWorker:255:386"
         class="img-fluid"
         [alt]="item.name | titleCase: langId"
         [title]="(item.name | titleCase: langId) + ' | OneTwoFlowers'">
</div>

<div class="cv_item-name" itemprop="name">{{item.name | titleCase: langId}}</div>
<div class="cv_item-price">
    {{'FRONT.FROM_1' | translate}} {{item.bouquetByBouquetId.mainPrice | myCurrency: currency: language}}
</div>

<div class="card_price_hidden" itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
    <span itemprop="lowPrice">{{item.bouquetByBouquetId.mainPrice}}</span>
    <meta itemprop="priceCurrency" [content]="currency.code"/>
    <meta itemprop="availability" content="InStock" />
</div>

<div class="cv_item-rating">
    <div class="cv_item-rating-img">
        <img src="assets/images/rating-full.svg" alt="">
    </div>
    <div class="cv_item-rating-img">
        <img src="assets/images/rating-full.svg" alt="">
    </div>
    <div class="cv_item-rating-img">
        <img src="assets/images/rating-full.svg" alt="">
    </div>
    <div class="cv_item-rating-img">
        <img src="assets/images/rating-full.svg" alt="">
    </div>
    <div class="cv_item-rating-img">
        <img src="assets/images/rating-half.svg" alt="">
    </div>
    <div class="cv_item-rating-link">
        {{randomRating(item.id)}}
    </div>
</div>
