<div class="col col-sm-6 col-md-4">
    <span class="cv_progress--text">Вы посмотрели 25 из 120 вариантов</span>
</div>
<div class="w-100"></div>
<div class="col col-sm-6 col-md-4">
    <div class="cv_progress--bar">
        <div class="progress" style="height: 2px;">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                 aria-valuemax="120"></div>
        </div>
    </div>
</div>
<div class="w-100"></div>
<div class="col col-sm-6 col-md-4">
    <button type="button" class="btn btn-block cv_progress--button">загрузить еще</button>
</div>