<div class="col-auto cv_review-item-img">
    <img [src]="image" class="img-fluid" [alt]="bouquetName">
</div>
<div class="col cv_review-item-right">
    <div class="cv_item-rating">
        <div class="cv_item-rating-img">
            <img src="/assets/images/rating-empty.svg" *ngIf="node.rating < 1">
            <img src="/assets/images/rating-full.svg" *ngIf="node.rating > 0">
        </div>
        <div class="cv_item-rating-img">
            <img src="/assets/images/rating-empty.svg" *ngIf="node.rating < 2">
            <img src="/assets/images/rating-full.svg" *ngIf="node.rating > 1">
        </div>
        <div class="cv_item-rating-img">
            <img src="/assets/images/rating-empty.svg" *ngIf="node.rating < 3">
            <img src="/assets/images/rating-full.svg" *ngIf="node.rating > 2">
        </div>
        <div class="cv_item-rating-img">
            <img src="/assets/images/rating-empty.svg" *ngIf="node.rating < 4">
            <img src="/assets/images/rating-full.svg" *ngIf="node.rating > 3">
        </div>
        <div class="cv_item-rating-img">
            <img src="/assets/images/rating-empty.svg" *ngIf="node.rating < 5">
            <img src="/assets/images/rating-full.svg" *ngIf="node.rating > 4">
        </div>
    </div>
    <div class="cv_review-item-name">
        {{'FAQ.BOUQUET' | translate}} <span [innerHTML]="bouquetName"></span>
    </div>
    <div class="cv_review-item-text">
        {{node.comment}}
    </div>
    <div class="cv_review-item-who">
        <ng-container *ngIf="node.type === 'recipient';else elseBlock">{{recipientName}}</ng-container>
        <ng-template #elseBlock>{{recipientName}}</ng-template>, {{deliveryDate}}
    </div>
</div>