@font-face {
    font-family: 'EB Garamond';
    font-display: swap;
    src: local('EB Garamond Regular'), local('EBGaramond-Regular'), url('../fonts/ebgaramond/Ebgaramondregular.woff2') format('woff2'), url('../fonts/ebgaramond/Ebgaramondregular.woff') format('woff'), url('../fonts/ebgaramond/Ebgaramondregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'EB Garamond';
    font-display: swap;
    src: local('EB Garamond SemiBold'), local('EBGaramond-SemiBold'), url('../fonts/ebgaramond/Ebgaramondsemibold.woff2') format('woff2'), url('../fonts/ebgaramond/Ebgaramondsemibold.woff') format('woff'), url('../fonts/ebgaramond/Ebgaramondsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'EB Garamond';
    font-display: swap;
    src: local('EB Garamond Italic'), local('EBGaramond-Italic'), url('../fonts/ebgaramond/Ebgaramonditalic.woff2') format('woff2'), url('../fonts/ebgaramond/Ebgaramonditalic.woff') format('woff'), url('../fonts/ebgaramond/Ebgaramonditalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'EB Garamond';
    font-display: swap;
    src: local('EB Garamond Medium Italic'), local('EBGaramond-MediumItalic'), url('../fonts/ebgaramond/Ebgaramondmediumitalic.woff2') format('woff2'), url('../fonts/ebgaramond/Ebgaramondmediumitalic.woff') format('woff'), url('../fonts/ebgaramond/Ebgaramondmediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'EB Garamond';
    font-display: swap;
    src: local('EB Garamond ExtraBold Italic'), local('EBGaramond-ExtraBoldItalic'), url('../fonts/ebgaramond/Ebgaramondextrabolditalic.woff2') format('woff2'), url('../fonts/ebgaramond/Ebgaramondextrabolditalic.woff') format('woff'), url('../fonts/ebgaramond/Ebgaramondextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'EB Garamond';
    font-display: swap;
    src: local('EB Garamond ExtraBold'), local('EBGaramond-ExtraBold'), url('../fonts/ebgaramond/Ebgaramondextrabold.woff2') format('woff2'), url('../fonts/ebgaramond/Ebgaramondextrabold.woff') format('woff'), url('../fonts/ebgaramond/Ebgaramondextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'EB Garamond';
    font-display: swap;
    src: local('EB Garamond Medium'), local('EBGaramond-Medium'), url('../fonts/ebgaramond/Ebgaramondmedium.woff2') format('woff2'), url('../fonts/ebgaramond/Ebgaramondmedium.woff') format('woff'), url('../fonts/ebgaramond/Ebgaramondmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'EB Garamond';
    font-display: swap;
    src: local('EB Garamond Bold Italic'), local('EBGaramond-BoldItalic'), url('../fonts/ebgaramond/Ebgaramondbolditalic.woff2') format('woff2'), url('../fonts/ebgaramond/Ebgaramondbolditalic.woff') format('woff'), url('../fonts/ebgaramond/Ebgaramondbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'EB Garamond';
    font-display: swap;
    src: local('EB Garamond SemiBold Italic'), local('EBGaramond-SemiBoldItalic'), url('../fonts/ebgaramond/Ebgaramondsemibolditalic.woff2') format('woff2'), url('../fonts/ebgaramond/Ebgaramondsemibolditalic.woff') format('woff'), url('../fonts/ebgaramond/Ebgaramondsemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'EB Garamond';
    font-display: swap;
    src: local('EB Garamond Bold'), local('EBGaramond-Bold'), url('../fonts/ebgaramond/Ebgaramondbold.woff2') format('woff2'), url('../fonts/ebgaramond/Ebgaramondbold.woff') format('woff'), url('../fonts/ebgaramond/Ebgaramondbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
