@charset "UTF-8";
@import url(roboto.css);
@import url(ebgaramond.css);

@font-face {
    font-family: 'Gill Sans';
    font-display: swap;
    src: url(../fonts/GillSans.ttf) format("ttf")
}

@media (max-width: 576px) {
    .cv_title-links, .cv_title-text {
        flex: 0 0 100%;
        max-width: 100%
    }

    .cv_title {
        margin-top: 30px !important;
        margin-bottom: 30px !important
    }

    .cv_item-img {
        height: 160px !important
    }

    .cv_itemcard-buy-btn {
        width: 100%
    }

    .cv_itemcard-buy {
        padding-right: 15px
    }

    .cv_itemcard-fullprice-cnt {
        margin: 0 auto
    }

    .lk_checkout-deliver-name {
        padding-left: 0 !important
    }
}

@media (max-width: 768px) {
    .cv_nav .cv_nav-collapse:not(.show), .cv_pre-footer, .cv_topbar-left, .cv_topbar-right {
        display: none
    }

    .cv_infopage-title, .cv_title-text {
        font-size: 24px !important
    }

    .cv_nav .cv_nav-collapse, .cv_title-links-sort {
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        background-color: #fff
    }

    .cv_filters input[type=checkbox] + label, .cv_nav, .cv_wrapper {
        width: 100%
    }

    .cv_item-more {
        height: auto !important;
        text-align: center
    }

    .cv_item-more-title {
        margin-bottom: 10px !important
    }

    .cv_breadcrumb .breadcrumb, .cv_topbar {
        margin-bottom: 0 !important
    }

    .cv_items {
        flex: 0 0 100% !important;
        max-width: 100% !important
    }

    .cv_topbar {
        margin-top: 15px !important
    }

    .cv_infopage-title {
        margin-bottom: 10px !important
    }

    .cv_filters-btn-filter img, .cv_title-btn img {
        margin-bottom: 6px;
        margin-left: 10px
    }

    .cv_nav {
        position: absolute;
        justify-content: flex-end !important;
        padding-left: 30px;
        padding-right: 30px;
        right: 15px;
        top: 0;
        border: 0 !important
    }

    .cv_nav .cv_nav-collapse {
        margin-top: 15px;
        border-radius: 2px;
        padding: 15px 30px;
        z-index: 10
    }

    .cv_nav .cv_nav-link {
        width: 100%;
        text-align: center;
        padding: 15px
    }

    .cv_nav .cv_nav-link + .cv_nav-link {
        border-top: 1px solid #dedede
    }

    .cv_title-links {
        position: relative;
        display: none !important
    }

    .cv_filters-btn-filter, .cv_title-btn {
        display: block !important;
        padding: 10px 15px;
        text-transform: uppercase;
        font-size: 14px;
        font-family: 'Gill Sans';
        color: #202020;
        text-align: center
    }

    .cv_title-btn {
        border: 1px solid #202020;
        border-radius: 2px
    }

    .cv_title-btn:active, .cv_title-btn:focus, .cv_title-btn:hover {
        color: #202020;
        text-decoration: none
    }

    .cv_filters-btn-filter {
        border: 1px solid #202020;
        border-radius: 2px
    }

    .cv_filters-btn-filter:active, .cv_filters-btn-filter:focus, .cv_filters-btn-filter:hover {
        color: #202020;
        text-decoration: none
    }

    .cv_title-links-sort {
        position: absolute;
        top: 45px;
        right: 15px;
        text-align: center;
        border-radius: 2px;
        padding: 15px 30px;
        z-index: 1
    }

    .cv_title-links-sort .cv_title-link {
        display: block;
        margin-left: 0
    }

    .cv_footer, .cv_itemdesk-info {
        display: none
    }

    .cv_filters {
        padding-bottom: 15px !important;
        border-bottom: #dedede
    }

    .cv_filters-title {
        font-weight: 400 !important
    }

    .cv_feedback-carousel-item-img {
        height: auto !important;
        margin-bottom: 15px
    }

    .cv_footer-left {
        flex: 0 0 100%;
        max-width: 100%
    }

    .cv_blur.blurit {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-filter: blur(5px);
        filter: blur(5px);
        overflow: hidden;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: -webkit-filter .3s linear;
        transition: filter .3s linear;
        transition: filter .3s linear, -webkit-filter .3s linear;
        will-change: filter
    }

    .cv_wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1;
        background-color: transparent
    }

    .cv_itemcard {
        margin-top: 20px
    }

    .cv_ratepage-col, .cv_ratepage-review-box, .cv_ratepage-right-mt {
        flex: 1 1 100%;
        max-width: 100%
    }

    .cv_ratepage-review-box {
        margin-left: 0
    }

    .cv_itemdesk-right-mt, .cv_ratepage-right-mt {
        margin-top: 0 !important
    }

    .cv_ratepage-rating {
        margin-top: 15px
    }

    .cv-status-info-left, .cv-status-info-right {
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 30px
    }

    .cv_status-timeline-step-text {
        position: relative !important;
        display: inline-block;
        top: inherit !important;
        left: inherit !important;
        vertical-align: middle;
        margin-top: 0 !important
    }

    .cv_status-timeline {
        flex-direction: column !important
    }

    .cv_status-timeline .col {
        flex: 0 0 auto !important;
        width: auto !important;
        max-width: none !important
    }

    .cv_status-timeline-line {
        margin-top: 0 !important;
        margin-left: 27px;
        height: 50px !important;
        width: 5px
    }

    .cv_status-timeline-step {
        display: inline-block;
        margin-right: 30px;
        vertical-align: middle
    }

    .cv_status-title {
        font-size: 26px !important
    }

    .cv_status-chat-btn {
        display: block;
        padding: 8px !important
    }

    .cv_status-chat-btn img {
        margin-right: 0 !important
    }

    .cv_status-chat-btn span {
        display: none
    }

    .cv_status-timeline-step-text a {
        display: block !important;
        font-size: 14px;
        text-decoration: underline;
        color: #ccc;
        font-weight: 400;
        margin-top: 10px
    }

    .cv_status-timeline-step-text.active a {
        color: #888
    }

    .cv_status-info img {
        height: 85px !important;
        width: 85px !important
    }
}

@media (min-width: 769px) {
    .cv_review-item-img {
        height: 200px
    }

    .cv_filters-row, .cv_sortit-left {
        display: none !important
    }
}

.btn-dropdown {
    color: #444;
    border: 1px solid #888;
    border-radius: 0
}

.btn-dropdown:focus, .btn-dropdown:hover {
    color: #000
}

input[type=checkbox]:not(.cv_filtersinput[type=checkbox]) {
    display: none;
    opacity: 0;
    visibility: hidden
}

input[type=checkbox]:not(.cv_filtersinput[type=checkbox]) + label {
    cursor: pointer;
    position: relative;
    color: #333
}

input[type=checkbox]:not(.cv_filtersinput[type=checkbox]) + label:before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    vertical-align: text-bottom;
    width: 16px;
    height: 16px;
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    background-color: rgba(196, 196, 196, .22)
}

input[type=checkbox]:not(.cv_filtersinput[type=checkbox]):checked + label:after {
    content: url(../images/checkbox.svg);
    position: absolute;
    display: inline-block;
    top: 1px;
    left: 0
}

.cv_topbar {
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: 'Gill Sans'
}

.cv_topbar-left-phone {
    font-size: 20px;
    color: #202020
}

.cv_topbar-left-city {
    font-size: 14px;
    color: #828282
}

.cv_topbar-left-city a {
    color: #202020;
    text-decoration: underline
}

.cv_topbar-left-city a:hover {
    color: #000;
    text-decoration: none
}

.cv_topbar-right-nav a {
    color: #202020;
    font-size: 16px;
    text-decoration: underline
}

.cv_topbar-right-nav a:hover {
    color: #000;
    text-decoration: none
}

.cv_topbar-right-garancy {
    color: #828282;
    font-size: 14px
}

.cv_nav {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding-top: 20px;
    padding-bottom: 20px
}

.cv_nav-collapse .cv_footer-nav-link {
    font-size: 16px;
    padding-top: 6px;
    padding-bottom: 6px
}

.cv_nav-collapse .cv_footer-nav-link:active, .cv_nav-collapse .cv_footer-nav-link:focus, .cv_nav-collapse .cv_footer-nav-link:hover {
    color: #888
}

.cv_nav-collapse .dropdown-toggle {
    width: 100%;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2px
}

.cv_nav-collapse .dropdown-menu {
    width: 100%
}

@media (min-width: 769px) {
    .cv_nav-burger, .cv_nav-collapse {
        display: none !important
    }
}

.cv_nav-link {
    padding: 0 30px;
    color: #000;
    font-size: 18px;
    font-family: 'Gill Sans'
}

.cv_nav-link:hover {
    color: #202020;
    text-decoration: none
}

.cv_nav-link img {
    margin-right: 10px;
    vertical-align: bottom
}

@media (max-width: 768px) {
    .cv_nav-mob {
        display: none
    }
}

.cv_title {
    margin-top: 65px;
    margin-bottom: 45px
}

.cv_title-text {
    font-family: 'EB Garamond';
    font-size: 44px;
    color: #202020
}

.cv_filters-title, .cv_title-link {
    font-family: 'Gill Sans'
}

.cv_title-link {
    font-size: 14px;
    margin-left: 30px;
    padding-bottom: 10px;
    display: inline-block;
    color: #afafaf
}

.cv_title-link.active, .cv_title-link:hover {
    color: #807e7e;
    text-decoration: underline
}

@media (min-width: 769px) {
    .cv_title-links-sort {
        display: block !important
    }
}

.cv_title-btn {
    display: none
}

.cv_filters {
    border-bottom: 1px solid #c4c4c4;
    padding: 15px 30px 30px 15px
}

@media (min-width: 769px) {
    .cv_filters {
        display: block !important
    }
}

.cv_filters:first-child {
    border-top: 1px solid #c4c4c4
}

.cv_filters-title {
    font-weight: 600;
    font-size: 16px;
    color: #202020;
    margin-bottom: 20px
}

.cv_filters-title-plus {
    float: right;
    margin-left: 15px
}

.cv_filters-title .cv_filters-title-plus:before {
    content: url(../images/plus.svg);
    width: 14px;
    height: 14px
}

.cv_filters-title[aria-expanded=true] .cv_filters-title-plus:before {
    margin-top: -5px;
    content: url(../images/minus.svg)
}

.cv_filters-list-size {
    padding: 0;
    margin: 0;
    list-style-type: none
}

.cv_filters-list-size li {
    display: inline-block
}

.cv_filters-list-size li label {
    padding: 5px 10px !important;
    background-color: #fafafa;
    min-width: 44px;
    text-align: center;
    border: 1px solid #eee
}

.cv_filters-list-size li label.cv_filter-active, .cv_filters-list-size li label:hover {
    border: 1px solid #000
}

.cv_filters-list:not(.cv_filters-list-size) {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 160px;
    overflow: hidden
}

.cv_filters-list:not(.cv_filters-list-size) li {
    display: block;
    padding: 0;
    margin: 0
}

.cv_filters-list:not(.cv_filters-list-size) li label {
    position: relative;
    padding: 0 0 0 20px;
    cursor: pointer;
    font-size: 14px;
    font-family: Roboto;
    color: #444
}

.cv_filters-list:not(.cv_filters-list-size) li label:after, .cv_filters-list:not(.cv_filters-list-size) li label:before {
    content: '';
    position: absolute
}

.cv_filters-list:not(.cv_filters-list-size) li label:hover {
    color: #000
}

.cv_filters-list:not(.cv_filters-list-size) li label:hover:after {
    left: 2px;
    background-color: #ccc
}

.cv_filters-list:not(.cv_filters-list-size) li label:after {
    left: -20px;
    transition: .2s;
    top: 7px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: transparent
}

.cv_filters-list:not(.cv_filters-list-size) li label.cv_filter-active {
    font-weight: 800
}

.cv_filters-list:not(.cv_filters-list-size) li label.cv_filter-active:after {
    left: 2px;
    background-color: #444
}

.cv_filters-list:not(.cv_filters-list-size) li label:focus .cv_filters-list:not(.cv_filters-list-size) li label:before {
    box-shadow: none
}

.cv_filters_link {
    font-size: 14px;
    font-family: Roboto;
    color: #444;
    padding-left: 20px
}

.cv_filters_link:hover {
    color: #000
}

@media (min-width: 789px) {
    .cv_filters-btn-filter {
        display: none !important
    }

    .cv_filters-collapse {
        display: block !important
    }
}

.cv_filters-btn {
    margin-top: 30px;
    margin-bottom: 30px
}

.cv_filters-btn a {
    display: block;
    width: 100%;
    border: 1px solid #999;
    border-radius: 2px;
    padding: 10px 30px;
    font-weight: 800;
    color: #202020;
    font-size: Roboto;
    text-align: center;
    text-transform: uppercase
}

.cv_item-name, .cv_item-rating-link a {
    font-size: 16px;
    font-family: 'Gill Sans'
}

.cv_filters-btn a:hover {
    text-decoration: none !important;
    border: 1px solid #000;
    background-color: #efefef;
    color: #000
}

@media (max-width: 768px) {
    .cv_filters-right, .cv_filters-right .cv_filters, .cv_filters-right .cv_filters-btn {
        background-color: #fff
    }

    .cv_filters-right {
        position: fixed;
        overflow-x: scroll;
        right: -100%;
        top: 0;
        z-index: 9;
        min-width: 50vw;
        max-width: 260px;
        height: 100vh;
        padding: 30px 0;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        transition: right .3s linear;
        box-shadow: -4px 0 4px 0 rgba(0, 0, 0, .03)
    }

    .cv_filters-right.show {
        right: 0
    }
}

.cv_addfor-carousel-item-img, .cv_delivered-img, .cv_delivery-carousel-item-img, .cv_feedback-carousel-item-img, .cv_item-img, .cv_review-item-img {
    overflow: hidden;
    text-align: center
}

.cv_filters-filterit {
    border: 1px solid #202020;
    border-radius: 2px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    margin: 0 0 30px
}

.cv_items-title {
    font-weight: 600
}

.cv_item {
    padding: 15px
}

.cv_item-img {
    padding: 15px;
    margin-bottom: 20px;
    height: 260px
}

.cv_item-rating-img {
    margin-right: -1px;
    display: inline-block
}

.cv_item-rating-img img {
    height: 18px;
    width: 18px
}

.cv_item-rating-link {
    display: inline-block;
    margin-left: 10px;
    vertical-align: text-top
}

.cv_item-rating-link a {
    color: #999
}

.cv_item-rating-link a:hover {
    color: #888
}

.cv_item-name {
    margin-top: 10px;
    color: #444;
    margin-bottom: 5px
}

.cv_item-price {
    font-family: 'Gill Sans';
    font-size: 18px;
    color: #202020;
    font-weight: 600
}

.cv_item-more {
    background-color: #efefef;
    padding: 15px;
    height: 260px
}

.cv_item-more-title {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    margin-bottom: 30px
}

.cv_item-more-link {
    font-size: 16px;
    text-decoration: underline;
    color: #000
}

.cv_item-more-link:focus, .cv_item-more-link:hover {
    color: #999
}

.cv_progress {
    margin-top: 60px;
    margin-bottom: 60px
}

.cv_progress--text {
    display: block;
    font-family: 'Gill Sans';
    font-size: 13px;
    text-align: center;
    color: #999;
    margin-bottom: 15px
}

.cv_delivery-title, .cv_progress--button {
    font-size: 14px;
    text-transform: uppercase
}

.cv_progress--bar {
    margin-bottom: 15px;
    padding: 0 30px
}

.cv_progress--bar .progress-bar {
    background-color: #333
}

.cv_progress--button {
    background-color: #000;
    color: #fff;
    font-family: Roboto;
    border-radius: 2px !important;
    padding: 16px 26px
}

.cv_delivery {
    margin-top: 50px
}

.cv_delivery-line {
    height: 1px;
    background-color: #dedede
}

.cv_delivery-title {
    font-family: 'Gill Sans';
    color: #202020;
    font-weight: 600
}

.cv_delivery-carousel-item-name, .cv_delivery-carousel-item-name a {
    font-size: 16px;
    color: #444;
    font-family: 'Gill Sans'
}

.cv_delivery-carousel {
    margin-top: 30px
}

.cv_delivery-carousel-item {
    padding: 15px;
    margin: 0
}

.cv_delivery-carousel-item-img {
    height: 220px
}

.cv_delivery-carousel-item-img img {
    margin: 0 auto
}

.cv_delivery-carousel-item-name {
    padding: 15px;
    text-align: center
}

.cv_delivery-carousel-item-name a {
    display: block;
    text-decoration: underline
}

.cv_delivery-carousel-item-name a:hover {
    text-decoration: none;
    color: #000
}

.cv_delivery-carousel-item-soc a + a {
    margin-left: 5px
}

.cv_delivery-more {
    margin-top: 15px;
    text-align: center
}

.cv_delivery-more a {
    color: #999;
    font-family: 'Gill Sans';
    font-size: 14px;
    text-decoration: underline
}

.cv_delivery-more a:hover {
    text-decoration: none;
    color: #000
}

.slick-prev {
    left: 0
}

.slick-prev:before {
    content: url(../images/arrow-left.svg);
    font-size: 18px
}

.slick-next {
    right: 0
}

.slick-next:before {
    content: url(../images/arrow-right.svg);
    font-size: 18px
}

.slick-next, .slick-prev {
    width: 26px;
    height: 27px;
    border: 1px solid #999
}

.slick-dots {
    left: 0
}

.cv_feedback {
    margin-top: 50px
}

.cv_feedback-line {
    height: 1px;
    background-color: #dedede
}

.cv_feedback-title {
    font-family: 'Gill Sans';
    font-size: 14px;
    color: #202020;
    font-weight: 600;
    text-transform: uppercase
}

.cv_feedback-carousel-item-name, .cv_feedback-carousel-item-name a, .cv_feedback-carousel-item-text {
    font-size: 16px;
    font-family: 'Gill Sans'
}

.cv_feedback-carousel {
    margin-top: 30px
}

.cv_feedback-carousel-item {
    padding: 15px;
    margin: 0 30px
}

.cv_feedback-carousel-item-img {
    height: 156px
}

.cv_feedback-carousel-item-name {
    color: #444;
    margin-top: 10px;
    margin-bottom: 8px
}

.cv_footer, .cv_pre-footer-box {
    margin-bottom: 30px
}

.cv_feedback-carousel-item-name a {
    display: block;
    font-weight: 600;
    color: #202020;
    text-decoration: none
}

.cv_feedback-carousel-item-name a:hover {
    text-decoration: none;
    color: #000
}

.cv_feedback-carousel-item-text {
    color: #444
}

.cv_feedback-carousel-item-who {
    font-family: 'Gill Sans';
    font-size: 13px;
    color: #999
}

.cv_feedback-more a, .cv_pre-footer-title {
    font-size: 14px;
    font-family: 'Gill Sans'
}

.cv_feedback-more {
    margin-top: 15px;
    text-align: center
}

.cv_feedback-more a {
    color: #999;
    text-decoration: underline
}

.cv_feedback-more a:hover {
    text-decoration: none;
    color: #000
}

.cv_pre-footer {
    margin-top: 50px
}

.cv_pre-footer-line {
    height: 1px;
    background-color: #dedede
}

.cv_pre-footer-title {
    color: #000;
    font-weight: 600;
    text-transform: uppercase
}

.cv_pre-footer-title a {
    display: inline-block
}

.cv_pre-footer-box {
    margin-top: 30px
}

.cv_pre-footer-link {
    display: block;
    font-size: 16px;
    color: #444;
    line-height: 1.8;
    font-family: 'Gill Sans'
}

.cv_pre-footer-link:hover {
    color: #000;
    text-decoration: none
}

.cv_footer-copy, .cv_footer-nav {
    margin-bottom: 10px
}

.cv_footer-left {
    margin-top: 30px
}

.cv_footer-nav-link {
    font-size: 15px;
    color: #444;
    font-family: 'Gill Sans'
}

.cv_footer-copy {
    font-size: 13px;
    color: #999;
    font-family: 'Gill Sans'
}

.cv_breadcrumb .breadcrumb {
    background: 0 0;
    padding-left: 0;
    margin-bottom: 48px
}

.cv_breadcrumb .breadcrumb a {
    color: #999 !important;
    text-decoration: underline
}

.cv_breadcrumb .breadcrumb a:active, .cv_breadcrumb .breadcrumb a:focus, .cv_breadcrumb .breadcrumb a:hover {
    color: #888 !important
}

.cv_breadcrumb .breadcrumb-item {
    padding-top: 15px;
    color: #999;
    font-size: 13px
}

.cv_breadcrumb .breadcrumb-item + .breadcrumb-item::before {
    content: "";
    width: 1px;
    background-color: #999;
    height: 16px;
    padding: 0;
    margin-right: .5rem;
    vertical-align: top;
    margin-top: -1px
}

.cv_itemcard-title {
    font-family: 'Gill Sans';
    color: #000;
    font-size: 32px
}

.cv_itemcard-desc {
    color: #333;
    font-family: Roboto;
    font-size: 16px;
    margin-top: 15px
}

.cv_addfor-title, .cv_itemcard-buy-btn, .cv_itemcard-rating-name, .cv_itemdesk-info-title {
    font-family: 'Gill Sans'
}

.cv_itemcard-desc-label {
    color: #999;
    font-size: 13px;
    margin-bottom: 5px
}

.cv_itemcard-fullprice {
    margin-top: 26px;
    padding-left: 15px
}

.cv_itemcard-fullprice-cnt {
    font-size: 32px;
    color: #202020;
    font-weight: 800;
    padding-left: 0
}

.cv_itemcard-size {
    margin-top: 15px;
    margin-bottom: 15px
}

.cv_itemcard-size-label {
    color: #999;
    font-size: 13px;
    margin-bottom: 5px
}

.cv_itemcard-size .form-check {
    position: relative
}

.cv_itemcard-size .jq-radio {
    height: 40px;
    background-color: #fafafa;
    color: #4d4d4d;
    font-size: 16px;
    padding: 10px;
    width: 53px;
    border: 1px solid #eee;
    cursor: pointer
}

.cv_itemcard-size .jq-radio.checked, .cv_itemcard-size .jq-radio:checked {
    border: 1px solid #000
}

.cv_itemcard-size label {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 53px;
    text-align: center;
    line-height: 40px
}

.cv_itemcard-color {
    margin-top: 15px;
    margin-bottom: 15px
}

.cv_itemcard-color-label {
    color: #999;
    font-size: 13px;
    margin-bottom: 5px
}

.cv_itemcard-color .form-check-inline {
    margin-right: 0 !important
}

.cv_itemcard-color .jq-radio {
    height: 24px;
    width: 24px;
    background-color: grey;
    border-radius: 25px;
    border: 1px solid transparent;
    cursor: pointer
}

.cv_itemcard-color .jq-radio.checked, .cv_itemcard-color .jq-radio:checked {
    border: 1px solid #000;
    position: relative
}

.cv_itemcard-color .jq-radio.checked:before, .cv_itemcard-color .jq-radio:checked:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 25px
}

.cv_itemcard-color .jq-radio.color-1 {
    background-color: #d82332
}

.cv_itemcard-color .jq-radio.color-2 {
    background-color: #f1ab3e
}

.cv_itemcard-color .jq-radio.color-3 {
    background-color: #fff0d9
}

.cv_itemcard-color .jq-radio.color-4 {
    background-color: #540e82
}

.cv_itemcard-color .jq-radio.color-5 {
    background-color: #ff99ca
}

.cv_itemcard-addit {
    margin-top: 15px;
    margin-bottom: 15px
}

.cv_itemcard-addit-label {
    color: #999;
    font-size: 13px;
    margin-bottom: 5px
}

.cv_itemcard-addit .form-check {
    margin-bottom: 10px
}

.cv_itemcard-addit .form-check-label span {
    font-weight: 700
}

.cv_itemcard-addit .jq-checkbox {
    position: absolute !important;
    background-color: rgba(196, 196, 196, .22);
    border: 1px solid #bdbdbd;
    border-radius: 2px;
    height: 16px;
    width: 16px;
    vertical-align: top
}

.cv_itemcard-addit .jq-checkbox.checked .jq-checkbox__div {
    height: 10px;
    width: 10px;
    background-color: #333;
    margin: 2px;
    border-radius: 2px
}

.cv_itemcard-buy {
    padding-left: 15px
}

.cv_itemcard-buy-btn {
    margin-top: 10px;
    display: block;
    background-color: #000;
    line-height: 45px;
    height: 45px;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 0 60px
}

.cv_itemcard-buy-btn:hover {
    color: #eee;
    text-decoration: none;
    background-color: #000
}

.cv_addfor-carousel-item-name a, .cv_itemdesk-info-link {
    text-decoration: underline;
    display: block
}

.cv_itemcard-buy-label .col {
    color: #999;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 30px
}

.cv_itemcard-info {
    margin-bottom: 20px
}

.cv_itemcard-info-label {
    color: #999;
    font-size: 13px;
    margin-bottom: 5px
}

.cv_itemcard-info-desc {
    color: #333;
    font-size: 16px;
    margin-bottom: 5px
}

.cv_itemcard-info img {
    height: 40px
}

.cv_itemcard-slider .slick-slide {
    width: 100px;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid transparent
}

.cv_itemcard-slider .slick-slide.slick-current, .cv_itemcard-slider .slick-slide:focus, .cv_itemcard-slider .slick-slide:hover {
    cursor: pointer;
    border: 1px solid #000
}

.cv_itemcard-rating {
    padding-left: 15px
}

.cv_itemcard-rating-cnt {
    font-size: 12px;
    color: #999;
    padding-right: 15px;
    padding-left: 10px;
    margin-top: 3px;
    border-right: 1px solid #999
}

.cv_itemcard-rating-link {
    font-size: 12px;
    color: #444;
    margin-top: 3px
}

.cv_itemcard-rating-link:hover {
    color: #666
}

.cv_itemcard-rating-name, .cv_itemcard-rating-name a {
    font-size: 18px;
    font-weight: 600;
    color: #202020;
    margin-top: 10px
}

.cv_itemcard-rating .spec-padding {
    padding-left: 0;
    padding-right: 2px
}

.cv_itemcard-rating .spec-padding img {
    width: 18px;
    margin-bottom: 4px
}

.cv_itemcard-rating-content {
    font-size: 16px;
    color: #444;
    margin-top: 10px;
    margin-bottom: 10px
}

.cv_itemcard-rating-by {
    font-size: 12px;
    color: #999
}

.cv_itemdesk-review {
    padding: 15px
}

.cv_itemdesk-review-box {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dadada
}

.cv_itemdesk-review-img {
    max-width: 145px
}

.cv_itemdesk-info {
    padding: 15px;
    border-bottom: 1px solid #dadada;
    min-height: 160px
}

.cv_itemdesk-info-title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #444
}

.cv_itemdesk-info-cnt {
    color: #aaa;
    font-size: 18px;
    margin-left: 15px
}

.cv_itemdesk-info-link {
    color: #444;
    font-size: 18px;
    margin-top: 8px
}

.cv_itemdesk-info-link:hover {
    color: #666
}

.cv_addfor {
    margin-top: 50px
}

.cv_addfor-line {
    height: 1px;
    background-color: #dedede
}

.cv_addfor-title {
    font-size: 14px;
    color: #202020;
    font-weight: 600;
    text-transform: uppercase
}

.cv_addfor-carousel-item-name, .cv_addfor-carousel-item-name a {
    color: #444;
    font-size: 16px;
    font-family: 'Gill Sans'
}

.cv_addfor-carousel {
    margin-top: 30px
}

.cv_addfor-carousel-item {
    padding: 15px;
    margin: 0 30px
}

.cv_addfor-carousel-item-img {
    background-color: #efefef;
    height: 260px
}

.cv_addfor-carousel-item-img img {
    margin: 0 auto
}

.cv_addfor-carousel-item-name {
    padding: 15px
}

.cv_addfor-carousel-item-name a:hover {
    text-decoration: none;
    color: #000
}

.cv_addfor-carousel-item-select .btn-dropdown {
    width: 100%
}

.cv_delivered {
    margin-top: 50px
}

.cv_delivered-img {
    height: 240px;
    position: relative
}

.cv_delivered-img img {
    margin: 0 auto
}

.cv_delivered-plus {
    position: absolute;
    bottom: 5px;
    right: 5px;
    height: 24px;
    width: 24px;
    background-color: #fff
}

.cv_ratepage-upload, .cv_review-btn {
    line-height: 45px;
    height: 45px;
    text-transform: uppercase
}

.cv_delivered-plus img {
    margin-bottom: 2px
}

.cv_delivered-name {
    padding: 20px;
    font-size: 16px;
    color: #444;
    font-family: 'Gill Sans'
}

.cv_review-title {
    font-family: 'Gill Sans';
    font-size: 32px;
    margin-bottom: 50px
}

.cv_review-btn {
    display: block;
    background-color: #000;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    font-family: 'Gill Sans';
    font-weight: 600;
    text-align: center;
    padding: 0 60px
}

.cv_review-item-name, .cv_review-item-name a, .cv_review-item-text {
    font-size: 16px;
    font-family: 'Gill Sans'
}

.cv_review-btn:hover {
    color: #eee;
    text-decoration: none;
    background-color: #000
}

.cv_review-item {
    padding: 30px 15px;
    margin: 15px;
    border: 1px solid #e0e0e0
}

.cv_review-item-name {
    color: #444;
    margin-top: 10px;
    margin-bottom: 8px
}

.cv_review-item-name a {
    display: block;
    font-weight: 600;
    color: #202020;
    text-decoration: none
}

.cv_review-item-name a:hover {
    text-decoration: none;
    color: #000
}

.cv_review-item-text {
    color: #444
}

.cv_review-item-who {
    font-family: 'Gill Sans';
    font-size: 13px;
    color: #999
}

.cv_ratepage {
    padding: 15px
}

.cv_ratepage-bigtitle {
    font-size: 20px;
    font-weight: 800;
    text-align: center
}

.cv_ratepage-name {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: 600
}

.cv_ratepage-upload {
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 0 15px;
    min-width: 215px;
    width: 100%;
    border-radius: 0;
    background-color: #000;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    opacity: 1
}

.cv_ratepage-upload:before {
    content: "Загрузить фото"
}

.cv_ratepage-upload:hover {
    background-color: #222
}

.cv_ratepage-upload-input {
    display: none;
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0
}

.cv_ratepage-uploaded {
    height: 180px;
    width: 180px;
    border: 1px solid #000;
    margin: 0 auto
}

.cv_ratepage-rate input {
    display: none
}

.cv_ratepage-rate label {
    cursor: pointer
}

.cv_ratepage-rate label:before {
    content: url(../images/rating-empty.svg);
    margin: 2px;
    width: 25px;
    display: inline-block
}

.cv_ratepage-rate input:checked ~ label:before, .cv_ratepage-rate input:hover ~ label:before {
    content: url(../images/rating-full.svg)
}

.cv_ratepage-info {
    margin-top: 20px;
    font-size: 16px;
    color: #aaa
}

.cv_ratepage-right-mt {
    margin-top: 49px
}

.cv_ratepage-right-name {
    margin-top: 22px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
    color: #000
}

.cv_ratepage-right-check {
    height: 46px
}

.cv_ratepage-right-check label {
    position: relative;
    width: 100%;
    margin-bottom: 0 !important;
    height: 46px
}

.cv_ratepage-right-check label span {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #444;
    font-size: 16px;
    cursor: pointer
}

.cv_ratepage-right-check label:hover .jq-checkbox {
    cursor: pointer
}

.cv_ratepage-right-check label:hover .jq-checkbox:before {
    position: absolute;
    content: url(../images/check-smile.svg);
    background: 0 0;
    top: 8px !important;
    right: 5px !important;
    left: auto !important;
    height: auto;
    width: auto
}

.cv_ratepage-right-check .jq-checkbox {
    border-top: 1px solid #ccc;
    background-color: #fff;
    padding: 0;
    border-radius: 0;
    display: block;
    width: 100%;
    line-height: 46px;
    height: 46px
}

.cv_ratepage-right-check .jq-checkbox.checked, .cv_ratepage-right-check .jq-checkbox:hover {
    cursor: pointer
}

.cv_ratepage-right-check .jq-checkbox.checked:before, .cv_ratepage-right-check .jq-checkbox:hover:before {
    position: absolute;
    content: url(../images/check-smile.svg);
    background: 0 0;
    top: 8px !important;
    right: 5px !important;
    left: auto !important;
    height: auto;
    width: auto
}

.cv_ratepage-right-check .jq-checkbox span {
    padding: 0 15px
}

.cv_ratepage-leave {
    padding-top: 20px;
    display: none
}

.cv_ratepage-leave-title {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px
}

.cv_ratepage-leave-input {
    border-radius: 0 !important;
    border: 1px solid #ccc;
    margin-bottom: 15px
}

.cv_ratepage-leave-submit {
    margin-top: 30px;
    line-height: 45px;
    height: 45px;
    padding: 0 15px;
    min-width: 215px;
    width: 100%;
    border-radius: 0;
    background-color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #fff
}

.cv_ratepage-leave-submit:hover {
    background-color: #222
}

.cv_ratepage-item.positive .jq-checkbox.checked:before, .cv_ratepage-item.positive .jq-checkbox:hover:before {
    content: url(../images/check-smile-1.svg)
}

.cv_ratepage-item {
    display: none
}

.cv_infopage-title {
    font-family: 'Gill Sans';
    font-size: 32px;
    margin-bottom: 50px
}

.cv_infopage-sidebar-item {
    border-top: 1px solid #e0e0e0;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    font-family: 'Gill Sans';
    font-size: 13px;
    text-transform: uppercase;
    padding-right: 10px !important
}

.cv_infopage-sidebar-item:last-child {
    border-bottom: 1px solid #e0e0e0
}

.cv_infopage-sidebar-item.active {
    background-color: #000;
    color: #fff;
    border-color: #999
}

.cv_infopage-sidebar-item.active:after {
    content: url(../images/right.svg)
}

.cv_infopage-sidebar-item:after {
    content: url(../images/right-1.svg);
    float: right
}

.cv_infopage-tab {
    font-family: 'Gill Sans';
    color: #333;
    font-size: 16px
}

.cv_infopage-tab a {
    color: #000;
    text-decoration: underline
}

.cv_infopage-tab a:hover {
    color: #333
}

.cv_infopage-map {
    padding: 0 30px
}

.cv_infopage-map iframe {
    width: 100%;
    height: 250px
}

.cv_infopage-contacts {
    padding: 0;
    margin: 0;
    list-style-type: none
}

.cv_infopage-contacts li {
    display: block;
    padding: 5px 0 0
}

.cv_infopage-contacts li img {
    display: inline-block;
    vertical-align: top;
    max-width: 20px
}

.cv_infopage-contact {
    margin-bottom: 15px
}

.cv_infopage-contact-info {
    font-size: 14px;
    color: #888
}

.cv_accordion-button, .cv_accordion-collapsed {
    font-family: 'Gill Sans';
    font-size: 16px
}

.cv_infopage-rekvisiti {
    padding: 30px 40px
}

.cv_infopage-rekvisiti-title {
    font-weight: 600
}

.cv_accordion {
    border-top: 1px solid #e0e0e0;
    font-family: 'Gill Sans'
}

.cv_accordion a {
    color: #000
}

.cv_accordion a:hover {
    color: #333
}

.cv_accordion-button {
    color: #202020;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px
}

.cv_accordion-button:hover {
    cursor: pointer
}

.cv_accordion-button:after {
    content: url(../images/collapse-down.svg);
    float: right;
    margin-right: 15px
}

.cv_accordion-button[aria-expanded=true]:after {
    content: url(../images/collapse-up.svg)
}

.cv_accordion-collapsed {
    padding: 10px 30px 30px;
    color: #333
}

.cv_accordion-info {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #333
}

.cv_status-title {
    font-size: 36px;
    font-weight: 600;
    font-family: 'EB Garamond'
}

.cv_status-timeline {
    margin-top: 50px;
    padding-bottom: 50px
}

.cv_status-timeline-step {
    width: 60px;
    height: 60px;
    text-align: center;
    background: url(../images/check-inactive.svg) center center no-repeat
}

.cv_status-timeline-step.active {
    background: url(../images/check-active.svg) center center no-repeat
}

.cv_status-timeline-step img {
    margin-top: 20px
}

.cv_status-timeline-step-text {
    position: absolute;
    left: 6px;
    top: 70px;
    font-family: 'Gill Sans';
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    color: #ccc
}

.cv_status-timeline-step-text.active {
    color: #000
}

.cv_status-timeline-step-text a {
    display: none
}

.cv_status-timeline-line {
    margin-top: 29px;
    height: 5px;
    background-color: rgba(0, 0, 0, .1)
}

.cv_status-timeline-line.active {
    background-color: #000
}

.cv_status-info {
    margin-top: 50px
}

.cv_status-info-title {
    font-family: 'Gill Sans';
    font-size: 18px;
    color: #000;
    margin-bottom: 20px
}

.cv_status-info-desc, .cv_status-info-txt {
    font-family: 'Gill Sans';
    margin-bottom: 15px
}

.cv_status-info-desc {
    font-size: 16px;
    color: #000
}

.cv_status-info-add {
    font-family: 'Gill Sans';
    font-size: 14px;
    color: #aaa;
    line-height: 30px
}

.cv_status-info-txt {
    margin-top: 10px
}

.cv_status-info img {
    height: 160px;
    width: 160px
}