.box:not(:last-child), .content:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .table:not(:last-child), .table-container:not(:last-child), .title:not(:last-child),
.subtitle:not(:last-child), .block:not(:last-child), .highlight:not(:last-child), .breadcrumb:not(:last-child), .level:not(:last-child), .message:not(:last-child), .tabs:not(:last-child) {
    margin-bottom: 1.5rem;
}

.notification {
    background-color: whitesmoke;
    border-radius: 4px;
    padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: relative;
}

.notification a:not(.button) {
    color: currentColor;
    text-decoration: underline;
}

.notification strong {
    color: currentColor;
}

.notification code,
.notification pre {
    background: white;
}

.notification pre code {
    background: transparent;
}

.notification > .delete {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.notification .title,
.notification .subtitle,
.notification .content {
    color: currentColor;
}

.notification.is-white {
    background-color: white;
    color: #0a0a0a;
}

.notification.is-black {
    background-color: #0a0a0a;
    color: white;
}

.notification.is-light {
    background-color: whitesmoke;
    color: #363636;
}

.notification.is-dark {
    background-color: #363636;
    color: whitesmoke;
}

.notification.is-primary {
    background-color: #00d1b2;
    color: #fff;
}

.notification.is-link {
    background-color: #3273dc;
    color: #fff;
}

.notification.is-info {
    background-color: #209cee;
    color: #fff;
}

.notification.is-success {
    background-color: #23d160;
    color: #fff;
}

.notification.is-warning {
    background-color: #ffdd57;
    color: rgba(0, 0, 0, 0.7);
}

.notification.is-danger {
    background-color: #ff3860;
    color: #fff;
}

.notification > .delete {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.delete, .modal-close {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(10,10,10,.2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: 0;
    position: relative;
    vertical-align: top;
    width: 20px;
}

aside {
    display: block;
}

.delete::before, .modal-close::before, .delete::after, .modal-close::after {
    background-color: white;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
}

.delete::before, .modal-close::before {
    height: 2px;
    width: 50%;
}

.delete::after, .modal-close::after {
    height: 50%;
    width: 2px;
}

.delete:hover, .modal-close:hover, .delete:focus, .modal-close:focus {
    background-color: rgba(10, 10, 10, 0.3);
}

.delete:active, .modal-close:active {
    background-color: rgba(10, 10, 10, 0.4);
}