<ul class="cv_filters-list">
    <li *ngFor="let label of items | byLangId:langId; index as labelIdx">

        <a [href]="urls[label.filterItemId]" *ngIf="parentComp.isValid(label) || !isCatalog; else noLink">
            <label [for]="'filter-' + labelIdx" [class.cv_filter-active]="activeFilterItems[label.filterItemId]">
                {{label.value}}
            </label>
        </a>

        <ng-template #noLink>
            <label [for]="'filter-' + labelIdx" [class.cv_filter-active]="activeFilterItems[label.filterItemId]"
                   (click)="parentComp.goTo(urls[label.filterItemId], label.filterItemId)">
                {{label.value}}
            </label>
        </ng-template>

    </li>
</ul>
