<div class="cv_addfor-carousel-item-img">
    <img *ngIf="variant.mainImage" [src]="variant.mainImage | imgWorker:280:260" class="img-fluid" [alt]="gift.name">
    <img *ngIf="!variant.mainImage" src="assets/images/photo/img-1.png" class="img-fluid" [alt]="gift.name">
</div>
<div class="cv_addfor-carousel-item-name">
    {{gift.name}}
</div>
<div class="cv_addfor-carousel-item-select">
    <div class="dropdown">
        <div class="btn btn-dropdown dropdown-toggle" role="button" id="dropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <ng-container *ngIf="variant.quantity">
                {{variant.quantity}} {{'BOUQUET.PIECES' | translate}} –
            </ng-container>
            <ng-container *ngIf="variant.price">{{variant.price | myCurrency: currency: language}}</ng-container>
        </div>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-item" *ngFor="let v of variants" (click)="selectVariant(v)">
                {{v.quantity}} {{'BOUQUET.PIECES' | translate}}
                – {{v.price | myCurrency: currency: language}}
            </div>
        </div>
    </div>
</div>
<button class="cv_itemcard-buy-btn cursor-pointer" (click)="addToOrder()" [disabled]="!variant.price || added">
    <ng-container *ngIf="!added;else addedBlock">{{'BOUQUET.ADD_TO_ORDER' | translate}}</ng-container>
    <ng-template #addedBlock>{{'BOUQUET.ADDED' | translate}}</ng-template>
</button>