<div class="col-12">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a [href]="baseUrl" itemprop="url">
                    <span itemprop="title">{{'BOUQUET.FRONT' | translate}}</span>
                </a>
            </li>
            <li class="breadcrumb-item" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a itemprop="url" [href]="cityPath + '/' + catalogPath">
                    <span itemprop="title">{{'BOUQUET.CATALOG_OF_BOUQUETS' | translate}}</span>
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" >
                <span>{{bouquetTitle | titleCase: langId}}</span>
            </li>
        </ol>
    </nav>
</div>