<div class="row align-items-start justify-content-center">

    <div class="col-lg-4 col-6 cv_item" *ngFor="let item of items | byLangId:langId" itemscope
         itemtype="http://schema.org/Product">
        <a [href]="city + prefix + item.url" itemprop="url">
            <app-bouquet-teaser [item]="item"></app-bouquet-teaser>
        </a>
    </div>

</div>