<div class="container">
    <app-header class="row justify-content-between align-items-center cv_topbar cv_blur"></app-header>
    <app-menu class="row justify-content-center align-items-center cv_nav cv_blur"></app-menu>
    <router-outlet></router-outlet>
    <app-pre-footer class="row align-items-center justify-content-center cv_pre-footer cv_blur"></app-pre-footer>
    <app-footer class="row justify-content-center align-items-center cv_footer"></app-footer>
    <app-sub-footer class="cv_sub-footer row align-items-center justify-content-center cv_blur"></app-sub-footer>
</div>