<div class="col">
    <div class="cv_review-title">Отзывы о наших букетах</div>
</div>
<div class="col-auto"><a href="#" class="cv_review-btn">Оформить заказ</a></div>
<div class="w-100"></div>
<div class="col-lg-6 col-12">
    <div class="row cv_review-item">
        <div class="col-auto cv_review-item-img">
            <img src="images/photo/img-1.png" class="img-fluid" alt="">
        </div>
        <div class="col cv_review-item-right">
            <div class="cv_item-rating">
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-empty.svg" alt="">
                </div>
            </div>
            <div class="cv_review-item-name">
                <a href="#">Букет «Мисс очарование»</a>
            </div>
            <div class="cv_review-item-text">
                Букет отличный, особенно понравились синие цветы – дольше всех стояли!
            </div>
            <div class="cv_review-item-who">
                Андрей, 12 мая 2018
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-12">
    <div class="row cv_review-item">
        <div class="col-auto cv_review-item-img">
            <img src="images/photo/img-1.png" class="img-fluid" alt="">
        </div>
        <div class="col cv_review-item-right">
            <div class="cv_item-rating">
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-empty.svg" alt="">
                </div>
            </div>
            <div class="cv_review-item-name">
                <a href="#">Букет «Мисс очарование»</a>
            </div>
            <div class="cv_review-item-text">
                Букет отличный, особенно понравились синие цветы – дольше всех стояли!
            </div>
            <div class="cv_review-item-who">
                Андрей, 12 мая 2018
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-12">
    <div class="row cv_review-item">
        <div class="col-auto cv_review-item-img">
            <img src="images/photo/img-1.png" class="img-fluid" alt="">
        </div>
        <div class="col cv_review-item-right">
            <div class="cv_item-rating">
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-empty.svg" alt="">
                </div>
            </div>
            <div class="cv_review-item-name">
                <a href="#">Букет «Мисс очарование»</a>
            </div>
            <div class="cv_review-item-text">
                Букет отличный, особенно понравились синие цветы – дольше всех стояли!
            </div>
            <div class="cv_review-item-who">
                Андрей, 12 мая 2018
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-12">
    <div class="row cv_review-item">
        <div class="col-auto cv_review-item-img">
            <img src="images/photo/img-1.png" class="img-fluid" alt="">
        </div>
        <div class="col cv_review-item-right">
            <div class="cv_item-rating">
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-empty.svg" alt="">
                </div>
            </div>
            <div class="cv_review-item-name">
                <a href="#">Букет «Мисс очарование»</a>
            </div>
            <div class="cv_review-item-text">
                Букет отличный, особенно понравились синие цветы – дольше всех стояли!
            </div>
            <div class="cv_review-item-who">
                Андрей, 12 мая 2018
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-12">
    <div class="row cv_review-item">
        <div class="col-auto cv_review-item-img">
            <img src="images/photo/img-1.png" class="img-fluid" alt="">
        </div>
        <div class="col cv_review-item-right">
            <div class="cv_item-rating">
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-empty.svg" alt="">
                </div>
            </div>
            <div class="cv_review-item-name">
                <a href="#">Букет «Мисс очарование»</a>
            </div>
            <div class="cv_review-item-text">
                Букет отличный, особенно понравились синие цветы – дольше всех стояли!
            </div>
            <div class="cv_review-item-who">
                Андрей, 12 мая 2018
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-12">
    <div class="row cv_review-item">
        <div class="col-auto cv_review-item-img">
            <img src="images/photo/img-1.png" class="img-fluid" alt="">
        </div>
        <div class="col cv_review-item-right">
            <div class="cv_item-rating">
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-empty.svg" alt="">
                </div>
            </div>
            <div class="cv_review-item-name">
                <a href="#">Букет «Мисс очарование»</a>
            </div>
            <div class="cv_review-item-text">
                Букет отличный, особенно понравились синие цветы – дольше всех стояли!
            </div>
            <div class="cv_review-item-who">
                Андрей, 12 мая 2018
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-12">
    <div class="row cv_review-item">
        <div class="col-auto cv_review-item-img">
            <img src="images/photo/img-1.png" class="img-fluid" alt="">
        </div>
        <div class="col cv_review-item-right">
            <div class="cv_item-rating">
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-empty.svg" alt="">
                </div>
            </div>
            <div class="cv_review-item-name">
                <a href="#">Букет «Мисс очарование»</a>
            </div>
            <div class="cv_review-item-text">
                Букет отличный, особенно понравились синие цветы – дольше всех стояли!
            </div>
            <div class="cv_review-item-who">
                Андрей, 12 мая 2018
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-12">
    <div class="row cv_review-item">
        <div class="col-auto cv_review-item-img">
            <img src="images/photo/img-1.png" class="img-fluid" alt="">
        </div>
        <div class="col cv_review-item-right">
            <div class="cv_item-rating">
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-full.svg" alt="">
                </div>
                <div class="cv_item-rating-img">
                    <img src="images/rating-empty.svg" alt="">
                </div>
            </div>
            <div class="cv_review-item-name">
                <a href="#">Букет «Мисс очарование»</a>
            </div>
            <div class="cv_review-item-text">
                Букет отличный, особенно понравились синие цветы – дольше всех стояли!
            </div>
            <div class="cv_review-item-who">
                Андрей, 12 мая 2018
            </div>
        </div>
    </div>
</div>