<div class="row lk_content">
    <div class="col">
        <h1 *ngIf="languageId == 1">Карта сайта
            <ng-container *ngIf="!isMain">({{cityName}})</ng-container>
        </h1>
        <h1 *ngIf="languageId == 2">Sitemap
            <ng-container *ngIf="!isMain">({{cityName}})</ng-container>
        </h1>
    </div>
</div>

<div class="host-list">
    <a [href]="locationService.baseUrl()" class="l0bg" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
        Cvety.kz
    </a>
</div>

<div class="first-list" [class.hidden]="nodes.length === 0">
    <ul [@animateStagger]="{value:'50'}">
        <li *ngFor="let item of nodes">

            <!-- LINK -->
            <a [href]="item.url" class="l2bg item"
               (click)="goTo(item.url, $event)"
               [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{item.value}}
            </a>
            <!-- / LINK -->

        </li>
    </ul>
</div>