:host {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
    display: block;

    .first-list {
        &:after {
            content: '';
            width: 55px;
            margin-left: 20px;
            height: 2px;
            display: block;
            background-color: #efefef;
        }
    }

    .second-list {
        margin-left: 30px;

        &:after {
            content: '';
            width: 55px;
            margin-left: 20px;
            height: 2px;
            display: block;
            background-color: #efefef;
        }
    }

    .third-list {
        margin-left: 60px;
    }

    .l0bg {
        background-color: #2381E9 !important;
        display: inline-block;
        max-width: 500px;
        padding: 10px;
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        text-overflow: ellipsis;
        margin: 5px 0;
        -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
        position: relative;

        &:hover {
            -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
            box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
        }
    }

    ul {
        list-style: none;
        padding-left: 20px;
        margin: 0;

        & > li {
            border-left: solid #efefef 2px;
            padding-left: 15px;

            &:last-child {
                padding-bottom: 10px;
            }

            &:first-child {
                padding-top: 10px;
            }

            & > .item {
                display: inline-block;
                max-width: 500px;
                cursor: pointer;
                padding: 10px;
                color: #fff;
                text-decoration: none;
                border-radius: 4px;
                text-overflow: ellipsis;
                margin: 5px 0;
                -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
                position: relative;

                &.l1bg {
                    background-color: #5BCCF6 !important;
                }

                &.l2bg {
                    background-color: #9CD159 !important;
                }

                &.l3bg {
                    background-color: #ffd54f !important;
                }

                &:hover {
                    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
                    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: -15px;
                    top: 50%;
                    margin-top: -1px;
                    height: 2px;
                    width: 15px;
                    background: #efefef;
                }
            }
        }
    }
}
