<div class="cv_accordion" *ngFor="let item of items;index as i">
    <div class="cv_accordion-button" data-toggle="collapse"
         [attr.data-target]="'#collapse-' + i"
         [attr.aria-controls]="'collapse-' + i"
         aria-expanded="true">
        {{item.title}}
    </div>
    <div class="cv_accordion-collapsed collapse show" [id]="'collapse-' + i">
        <div [innerHtml]="item.content | safeHtml"></div>
    </div>
</div>

<div class="cv_accordion cv_accordion-info">
    {{'FAQ.STILL_HAVE_QUESTIONS' | translate}}?<br>
    love@cvety.kz<br>
    +7 (702) 222 07 30
</div>