<ul class="cv_filters-list cv_filters-list-size">
    <li *ngFor="let item of items" [class.cv_filter-active]="activeFilterItems[item.id]">

        <a [href]="urls[item.id]" *ngIf="!!(counts[item.id] > 2 && !isActive(item.id)) || !isCatalog;else noLink">
            <label>{{item.label}}</label>
        </a>

        <ng-template #noLink>
            <label (click)="goTo(urls[item.id], item.id)">{{item.label}}</label>
        </ng-template>
    </li>
</ul>