<app-title class="row align-items-end justify-content-between cv_title cv_blur"></app-title>
<app-content class="row align-items-start justify-content-between cv_content"></app-content>
<app-progress class="row align-items-center justify-content-center cv_progress"></app-progress>