<div class="col lk_pre-footer-line"></div>
<div class="col-auto lk_pre-footer-title">{{'PRE_FOOTER.WHERE_WE_DELIVER' | translate}}</div>
<div class="col lk_pre-footer-line"></div>

<div class="w-100"></div>

<div class="col lk_pre-footer-box" *ngFor="let sub of container">
    <a *ngFor="let city of sub" [href]="url(city.code)" class="lk_pre-footer-link text-truncate">
        <ng-container *ngIf="langId === 1;else elseBlock">{{city.name}}</ng-container>
        <ng-template #elseBlock>{{city.enName}}</ng-template>
    </a>
</div>

<div class="col-12 text-center">
    <a [href]="url2('all-cities')" class="cv_pre-footer-more">{{'PRE_FOOTER.ALL_CITIES' | translate}}</a>
</div>