.cv_accordion{
	border-top: 1px solid #E0E0E0;
	font-family: 'Gill Sans';
	a{
		color: #000;
		&:hover{
			color: #333;
		}
	}
	&-button{
		font-family: 'Gill Sans';
		color: #202020;
		font-size: 16px;
		font-weight: 600;
		padding-top: 20px;
		padding-bottom: 20px;
		&:hover{
			cursor: pointer;
		}
		&:after{
			content: url('../images/collapse-down.svg');
			float: right;
			margin-right: 15px;
		}
		&[aria-expanded="true"]:after{
			content: url('../images/collapse-up.svg');
		}
	}
	&-collapsed{
		padding: 10px 30px 30px 30px;
		font-family: 'Gill Sans';
		color: #333;
		font-size: 16px;
	}
	&-info{
		padding-top: 30px;
		padding-bottom: 30px;
		color: #333;
	}
}