.cv_addfor{
	margin-top: 50px;

	&-line{
		height: 1px;
		background-color: #DEDEDE;
	}
	&-title{
		font-family: 'Gill Sans';
		font-size: 14px;
		color: #202020;
		font-weight: 600;
		text-transform: uppercase;
	}
	&-carousel{
		margin-top: 30px;
		&-item{
			padding: 15px;
			margin: 0 30px;
			&-img{
				background-color: #EFEFEF;
				height: 260px;
				overflow: hidden;
				text-align: center;
				img{
					margin: 0 auto;
				}
			}
			&-name{
				font-family: 'Gill Sans';
				font-size: 16px;
				color: #444;
				padding: 15px;
				a{	
					display: block;
					font-family: 'Gill Sans';
					font-size: 16px;
					color: #444;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
						color: #000;
					}
				}
			}
			&-select{
				.btn-dropdown{
					width: 100%;
				}
			}
		}
	}
}