.cv_breadcrumb{
	.breadcrumb{
		background: none;
		padding-left: 0;
		margin-bottom: 48px;
		a{
			color: #999 !important;
			text-decoration: underline;
			&:hover, &:active, &:focus{
			color: #888 !important;
			}
		}
	}
	.breadcrumb-item{
		padding-top: 15px;
		color: #999;
		font-size: 13px;
	}
	.breadcrumb-item+.breadcrumb-item::before{
		content: "";
		width: 1px;
		background-color: #999;
		height: 16px;
		padding: 0;
		margin-right: .5rem;
		vertical-align: top;
		margin-top: -1px;
	}
}