.cv_checkout{
	
&-card{
  position: relative;
  width: 100%;  
  padding-bottom: 35px;
  margin-top: 30px;
}

&-card__front{
  width: 70%;
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #e7e7e7;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

&-card__group:nth-child(n+2){
  margin-top: 15px;
}

&-card__field{
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

&-card__month, &-card__year, &-card__cvc{
  width: 25%;
  margin-bottom: 0 !important;
}

&-card__hint{
  position: absolute;
  left: -9999px;
}

&-card__input{
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border: 1px solid #c7c7c7;  
  
  font-family: inherit;
  font-size: 12px;
}

&-card__input:focus{
  outline: none;
  border-color: #000;
}

&-card__caption{
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}

&-card__separator{
  font-size: 24px;
  color: #000;

  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

&-card__footer{

	overflow: hidden;
}
&-card__button{
	width: 70%;
	display: block;
	margin: 25px auto;
	background-color: #000;
	line-height: 45px;
	height: 45px;
	border-radius: 6px;
	outline: 0;
	color: #fff;
	font-size: 14px;
	font-family: 'Gill Sans';
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	padding: 0 60px;

	&:hover {
		color: #eee;
		text-decoration: none;
		background-color: #000;
	}
}
}