.cv_cities{
	margin-bottom: 60px;
	&-list{
		list-style-type: none;
		padding: 0;
		margin: 0;
		li{
			display: block;
			a{

			font-size: 16px;
			color: #444;
			font-family: 'Gill Sans';
			}
		}
	}
	&-letter ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
		li{
			font-size: 68px;
			font-weight: 600;
			font-family: 'EB Garamond';
		}
	}
}