.cv_delivered{
	margin-top: 50px;
	&-img{
		text-align: center;
		height: 240px;
		overflow: hidden;
		position: relative;
		img{
			margin: 0 auto;
		}
	}
	&-plus{
		position: absolute;
		bottom: 5px;
		right: 5px;
		height: 24px;
		width: 24px;
		background-color: #fff;
		img{
			margin-bottom: 2px;
		}
	}
	&-name{
		padding: 20px;
		font-size: 16px;
		color: #444;
		font-family: 'Gill Sans';
	}
}