.cv_delivery{
	margin-top: 50px;

	&-line{
		height: 1px;
		background-color: #DEDEDE;
	}
	&-title{
		font-family: 'Gill Sans';
		font-size: 14px;
		color: #202020;
		font-weight: 600;
		text-transform: uppercase;
	}
	&-carousel{
		margin-top: 30px;
		&-item{
			padding: 15px;
			margin: 0 0px;
			&-img{
				// background-color: #C4C4C4;
				height: 220px;
				overflow: hidden;
				text-align: center;
				img{
					margin: 0 auto;
				}
			}
			&-name{
				font-family: 'Gill Sans';
				font-size: 16px;
				color: #444;
				padding: 15px;
				text-align: center;
				a{	
					display: block;
					font-family: 'Gill Sans';
					font-size: 16px;
					color: #444;
					text-decoration: underline;
					&:hover{
						text-decoration: none;
						color: #000;
					}
				}
			}
			&-soc{
				a+a{
					margin-left: 5px;
				}
			}
		}
	}
	&-more{
		margin-top: 15px;
		text-align: center;
		a{
			color: #999;
			font-family: 'Gill Sans';
			font-size: 14px;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
				color: #000;
			}
		}
	}
}