.cv_feedback{
	margin-top: 50px;

	&-line{
		height: 1px;
		background-color: #DEDEDE;
	}
	&-title{
		font-family: 'Gill Sans';
		font-size: 14px;
		color: #202020;
		font-weight: 600;
		text-transform: uppercase;
	}
	&-carousel{
		margin-top: 30px;
		&-item{
			padding: 15px;
			margin: 0 30px;
			&-img{
				// background-color: #C4C4C4;
				height: 156px;
				overflow: hidden;
				text-align: center;
			}
			&-name{
				font-family: 'Gill Sans';
				font-size: 16px;
				color: #444;
				margin-top: 10px;
				margin-bottom: 8px;
				a{	
					display: block;
					font-family: 'Gill Sans';
					font-size: 16px;
					font-weight: 600;
					color: #202020;
					text-decoration: none;
					&:hover{
						text-decoration: none;
						color: #000;
					}
				}
			}
			&-text{
				font-family: 'Gill Sans';
				font-size: 16px;
				color: #444;
			}
			&-who{
				font-family: 'Gill Sans';
				font-size: 13px;
				color: #999;
			}
		}
	}
	&-more{
		margin-top: 15px;
		text-align: center;
		a{
			color: #999;
			font-family: 'Gill Sans';
			font-size: 14px;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
				color: #000;
			}
		}
	}
}