.cv_filters{
	border-bottom: 1px solid #C4C4C4;
	padding-top: 15px;
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 30px;
	@media (min-width: 769px) {
		display: block !important;
	}
	&:first-child{
		border-top: 1px solid #C4C4C4;
	}
	&-box{
		@media (min-width: 789px) {
			// display: block !important;
		}
	}

	&-title{
		font-family: 'Gill Sans';
		font-weight: 600;
		font-size: 16px;
		color: #202020;
		margin-bottom: 20px;
		&-plus{
			float: right;
			margin-left: 15px;
			@media (min-width: 789px) {
				// display: none !important;
			}
		}
		.cv_filters-title-plus:before{
			content: url(../images/plus.svg);
			width: 14px;
			height: 14px;
		}
		&[aria-expanded="true"]{
			.cv_filters-title-plus:before{
				margin-top: -5px;
				content: url(../images/minus.svg);
			}
		}
	}
	&-list-size{
		padding: 0;
		margin: 0;
		list-style-type: none;
		li{
			display: inline-block;
			label{
				padding: 5px 10px !important;
				background-color: #fafafa;
				min-width: 44px;
				text-align: center;
				border: 1px solid #eee;
				&:hover, &.cv_filter-active{
					border: 1px solid #000;
				}
			}
		}
	}
	&-list:not(.cv_filters-list-size){
		padding: 0;
		margin: 0;
		list-style-type: none;
		height: 160px;
		overflow: hidden;
		li{
			display: block;
			padding: 0;
			margin: 0;
			label {
			position: relative;
			padding: 0 0 0 20px;
			cursor: pointer;
			font-size: 14px;
			font-family: 'Roboto';
			color: #444;
			&:hover{
				color: #000;
				&:after {
					left: 2px;
					background-color: #ccc;
				}
			}
			&:before {
				content: '';
				position: absolute;
			}
			&:after {
				content: '';
				position: absolute;
				left: -20px;
				transition: .2s;
				top: 7px;
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: transparent;
			}
			
		
		&.cv_filter-active{
				font-weight: 800;
				&:after {
					left: 2px;
					background-color: #444;
				}
			}
			&:focus &:before {
				box-shadow: none;
			}
		}
		}
	}
	&_link{
		font-size: 14px;
		font-family: 'Roboto';
		color: #444;
		padding-left: 20px;
		&:hover{
			color: #000;
		}
	}
	&-btn-filter{
		@media (min-width: 789px) {
			display: none !important;
		}
	}
	&-collapse{
		@media (min-width: 789px) {
			display: block !important;
		}
	}
	&-btn{
		margin-top: 30px;
		margin-bottom: 30px;
		a{
			display: block;
			width: 100%;
			border: 1px solid #999;
			border-radius: 2px;
			padding: 10px 30px;
			font-weight: 800;
			font-size: 14px;
			color: #202020;
			font-size: 'Roboto';
			text-align: center;
			text-transform: uppercase;
			&:hover{
				text-decoration: none !important;
				border: 1px solid #000;
				background-color: #efefef;
				color: #000;
			}
		}
	}
	
		
	
	&-right{
		@media (max-width: 768px) {
			// display: none;
			position: fixed;
			overflow-x: scroll;
			right: -100%;
			top: 0;
			background-color: #fff;
			z-index: 9;
			min-width: 50vw;
			max-width: 260px;
			height: 100vh;
			padding: 30px 0;
			border-left: 1px solid #eee;
			border-bottom: 1px solid #eee;
			transform-style: preserve-3d;
			transition: right .3s linear;
			box-shadow: -4px 0px 4px 0px rgba(0,0,0,0.03);
			&.show{
				right: 0;
			}
			.cv_filters, .cv_filters-btn{
				background-color: #fff;
			}

		}
	}
	&-filterit{
		border: 1px solid #202020;
		border-radius: 2px;
		padding: 15px;
		text-align: center;
		text-transform: uppercase;
		color: #000;
		margin: 0 0 30px 0;
	}
}
