.cv_pre-footer{
	margin-top: 50px;
	&-line{
		height: 1px;
		background-color: #DEDEDE;
	}
	&-title{
		font-size: 14px;
		font-family: 'Gill Sans';
		color: #000;
		font-weight: 600;
		text-transform: uppercase;
		a{
			display: inline-block;
		}
	}
	&-box{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	&-link{
		display: block;
		font-size: 16px;
		color: #444;
		line-height: 1.8;
		font-family: 'Gill Sans';
		&:hover{
			color: #000;
			text-decoration: none;
		}
	}
	&-more{
		display: inline-block;
		font-size: 16px;
		text-decoration: underline;
		color: #444;
		line-height: 1.8;
		font-family: 'Gill Sans';
		margin-bottom: 30px;
		&:hover{
			color: #000;
			text-decoration: none;
		}
	}
}
.cv_footer{
	margin-bottom: 30px;
	&-left{
		margin-top: 30px;
	}
	&-nav{
		margin-bottom: 10px;
		&-link{
			font-size: 15px;
			color: #444;
			font-family: 'Gill Sans';
		}
	}
	&-copy{
		font-size: 13px;
		color: #999;
		margin-bottom: 10px;
		font-family: 'Gill Sans';
	}
}
.cv_sub-footer{
	display: none;
	background-color: #eee;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-top: 30px;
	&-span{
		margin-bottom: 15px;
	}
	&-soc{
		margin-bottom: 15px;
		a+a{
			margin-left: 10px;
		}
		img{
			width: 40px;
			opacity: .6;
		}
	}
	&-tel{
		font-size: 20px;
		margin-bottom: 10px;
	}
	&-min{
		font-size: 14px;
		color: #888;
	}
}