.cv_infopage{
	&-title{
		font-family: 'Gill Sans';
		font-size: 32px;
		margin-bottom: 50px;
	}
	&-sidebar{
		&-item{
			border-top: 1px solid #E0E0E0;
			border-left: 0 !important;
			border-right: 0 !important;
			border-radius: 0 !important;
			font-family: 'Gill Sans';
			font-size: 13px;
			text-transform: uppercase;
			padding-right: 10px !important;
			&:last-child{
				border-bottom: 1px solid #E0E0E0;
			}
			&.active{
				background-color: #000000;
				color: #fff;
				border-color: #999999;
				&:after{
					content: url('../images/right.svg');
				}
			}
			&:after{
				content: url('../images/right-1.svg');
				float: right;
			}
		}
	}
	&-tab{
		    font-family: 'Gill Sans';
		    color: #333;
		    font-size: 16px;
		a{
			color: #000;
			text-decoration: underline;
			&:hover{
				color: #333;
			}
		}
	}
	&-map{
		padding: 0 30px;
		// border: 1px solid #000;
		// border-radius: 6px;
		iframe{
			width: 100%;
			height: 250px;
		}
	}
	&-contacts{
		padding: 0;
		margin: 0;
		list-style-type: none;
		li{
			display: block;
			padding: 5px 0 0 0;
			img{
				display: inline-block;
				vertical-align: top;
				max-width: 20px;
			}
		}
	}
	&-contact{
		margin-bottom: 15px;
		&-info{
			font-size: 14px;
			color: #888;
		}
	}
	&-rekvisiti{
		padding: 30px 40px;
		&-title{
			font-weight: 600;
		}
	}
}