.cv_itemdesk{
	&-review {
		padding: 15px;
		// border-bottom: 1px solid #dadada;

		&-box {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #dadada;
		}

		&-img {
			max-width: 145px;
		}

	}
	&-info {
		padding: 15px;
		border-bottom: 1px solid #DADADA;
		min-height: 160px;

		&-title {
			font-size: 26px;
			font-weight: 500;
			margin-bottom: 20px;
			color: #444;
			font-family: 'Gill Sans';
		}

		&-cnt {
			color: #AAA;
			font-size: 18px;
			margin-left: 15px;
		}

		&-link {
			color: #444;
			font-size: 18px;
			text-decoration: underline;
			display: block;
			margin-top: 8px;

			&:hover {
				color: #666;
			}

		}
	}
}