.cv_itemcard {
	&-title{
		font-family: 'Gill Sans';
		color: #000;
		font-size: 32px;
	}
	&-desc{
		&-label{
			color: #999;
			font-size: 13px;
			margin-bottom: 5px;
		}
		color: #333;
		font-family: 'Roboto';
		font-size: 16px;
		margin-top: 15px;
	}

	&-fullprice {
		margin-top: 26px;
		padding-left: 15px;

		&-cnt {
			font-size: 32px;
			color: #202020;
			font-weight: 800;
			padding-left: 0;
		}
	}

	&-size {
		margin-top: 15px;
		margin-bottom: 15px;
		&-label{
			color: #999;
			font-size: 13px;
			margin-bottom: 5px;
		}
		.form-check{
			position: relative;
		}
		.jq-radio{
			height: 40px;
			background-color: #FAFAFA;
			color: #4D4D4D;
			font-size: 16px;
			padding: 10px;
			width: 53px;
			border: 1px solid #eee;
			cursor: pointer;
			&.checked, &:checked{
				border: 1px solid #000;
			}
			
		}
		label{
			position: absolute;
			left: 0;
			top: 0;
			height: 40px;
			width: 53px;
			text-align: center;
			line-height: 40px;
		}
	}
	&-color {
		// display: none;
		margin-top: 15px;
		margin-bottom: 15px;
		&-label{
			color: #999;
			font-size: 13px;
			margin-bottom: 5px;
		}
		.form-check-inline{
			margin-right: 0 !important;
		}
		.jq-radio{
			height: 24px;
			width: 24px;
			background-color: grey;
			border-radius: 25px;
			border: 1px solid transparent;
			cursor: pointer;
			&.checked, &:checked{
				border: 1px solid #000;
				position: relative;
				&:before{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					height: 22px;
					width: 22px;
					border: 2px solid #fff;
					background-color: transparent;
					border-radius: 25px;
				}
			}
			&.color-1{
				background-color: #D82332;
			}
			&.color-2{
				background-color: #F1AB3E;
			}
			&.color-3{
				background-color: #FFF0D9;
			}
			&.color-4{
				background-color: #540E82;
			}
			&.color-5{
				background-color: #FF99CA;
			}
		}

	}
	&-addit {
		margin-top: 15px;
		margin-bottom: 15px;
		// padding-left: 20px;
		&-label{
			color: #999;
			font-size: 13px;
			margin-bottom: 5px;
		}
		.form-check{
			// padding-left: 0 !important;
			margin-bottom: 10px;
			&-label{
				span{
					font-weight: 700;
				}
			}
		}
		.jq-checkbox{
			position: absolute !important;
			background-color: rgba(196, 196, 196, .22);
			border: 1px solid #BDBDBD;
			border-radius: 2px;
			height: 16px;
			width: 16px;
			vertical-align: top;
			&.checked{
				.jq-checkbox__div{
					height: 10px;
				    width: 10px;
				    background-color: #333;
				    margin: 2px;
				    border-radius: 2px;
				}
			}
		}

	}

	&-buy {
		padding-left: 15px;
		&-btn {
			margin-top: 10px;
			display: block;
			background-color: #000;
			line-height: 45px;
			height: 45px;
			border-radius: 2px;
			color: #fff;
			font-size: 14px;
			font-family: 'Gill Sans';
			font-weight: 600;
			text-transform: uppercase;
			text-align: center;
			padding: 0 60px;

			&:hover {
				color: #eee;
				text-decoration: none;
				background-color: #000;
			}

		}
		&-label .col{
			color: #999;
			font-size: 13px;
			margin-top: 10px;
			margin-bottom: 30px;
		}

	}
	&-info{
		margin-bottom: 20px;
		&-label{
			color: #999;
			font-size: 13px;
			margin-bottom: 5px;
		}
		&-desc{
			color: #333;
			font-size: 16px;
			margin-bottom: 5px;
		}
		img{
			height: 40px;
		}
	}
	&-slider {
		.slick-slide {
			width: 100px;
			margin-top: 15px;
			margin-right: 15px;
			border: 1px solid transparent;

			&:hover,
			&:focus,
			&.slick-current {
				cursor: pointer;
				border: 1px solid #000;
			}

		}

	}
	&-rating {
		padding-left: 15px;

		&-cnt {
			font-size: 12px;
			color: #999;
			padding-right: 15px;
			padding-left: 10px;
			margin-top: 3px;
			// margin-right: 10px;
			border-right: 1px solid #999999;
		}

		&-link {
			font-size: 12px;
			color: #444;
			margin-top: 3px;

			&:hover {
				color: #666;
			}

		}

		.spec-padding {
			padding-left: 0;
			padding-right: 2px;
			img{
				width: 18px;
				margin-bottom: 4px;
			}
		}

		&-name {
			font-size: 18px;
			font-weight: 600;
			color: #202020;
			margin-top: 10px;
			font-family: 'Gill Sans';

			a {
				font-size: 18px;
				font-weight: 600;
				color: #202020;
				margin-top: 10px;
			}

		}

		&-content {
			font-size: 16px;
			color: #444;
			margin-top: 10px;
			margin-bottom: 10px;
			// min-height: 68px;
		}

		&-by {
			font-size: 12px;
			color: #999;
		}

	}
}
