.cv_items{
	&-title{
		font-weight: 600;
	}
}
.cv_item{
	padding: 15px 5px;

	&-img{
		// background-color: #EFEFEF;
		text-align: center;
		padding: 0;
		margin-bottom: 20px;
		// height: 385px;
		overflow: hidden;
	}
	&-rating{
		&-img{
			margin-right: -1px;
			display: inline-block;
			img {
			    height: 18px;
			    width: 18px;
			}
		}
		&-link{
			display: inline-block;
			margin-left: 10px;
			vertical-align: text-top;
			a{

				font-family: 'Gill Sans';
				font-size: 16px;
				color: #999;
				// text-decoration: underline;
				&:hover{
					color: #888;
				}
			}
		}
	}
	&-name{
		margin-top: 10px;
		font-family: 'Gill Sans';
		font-size: 16px;
		color: #444;
		margin-bottom: 5px;

	}
	&-price{
		font-family: 'Gill Sans';
		font-size: 18px;
		color: #202020;
		font-weight: 600;
	}
	&-more{
		background-color: #EFEFEF;
		padding: 15px;
		height: 100%;
		&-title{
			font-size: 24px;
			font-weight: 600;
			color: #000;
			margin-bottom: 30px;
		}
		&-link{
			font-size: 16px;
			text-decoration: underline;
			color: #000;
			&:hover, &:focus{
				color: #999;
			}
		}
	}
}