.cv_nav{
	border-top: 1px solid #DEDEDE;
	border-bottom: 1px solid #DEDEDE;
	padding-top: 20px;
	padding-bottom: 20px;
	&-collapse{
		@media (min-width: 769px) {
			display: none !important;
		}
		.cv_footer-nav-link{
			font-size: 16px;
			padding-top: 6px;
			padding-bottom: 6px;
			&:hover, &:focus, &:active{
				color: #888;
			}
		}
		.dropdown-toggle{
			width: 100%;
			margin-bottom: 10px;
			background-color: #fff;
			border: 1px solid #000;
			border-radius: 2px;
		}
		.dropdown-menu{
			width: 100%;
		}
	}
	&-burger{
		@media (min-width: 769px) {
			display: none !important;
		}
	}
	&-link{
		padding: 0 30px;
		color: #000;
		font-size: 18px;
		font-family: 'Gill Sans';
		&:hover{
			color: #202020;
			text-decoration: none;
		}
		img{
			margin-right: 10px;
			vertical-align: bottom;
		}
	}
	&-mob{
		@media (max-width: 768px) {
			display: none;
		}
	}

}