.cv_title{
	margin-top: 65px;
	margin-bottom: 45px;
	&-text{
		font-family: 'EB Garamond';
		font-size: 44px;
		color: #202020;
	}
	&-link{
		font-family: 'Gill Sans';
		font-size: 14px;
		margin-left: 30px;
		padding-bottom: 10px;
		display: inline-block;
		color: #AFAFAF;
		&.active, &:hover{
			color: #807E7E;
			text-decoration: underline;
		}
	}
	&-links-sort{
		@media (min-width: 769px) {
			display: block !important;
		}
	}
	&-btn{
		display: none;
	}
}