.cv_progress{
	margin-top: 60px;
	margin-bottom: 60px;
	&--text{
		display: block;
		font-family: 'Gill Sans';
		font-size: 13px;
		text-align: center;
		color: #999;
		margin-bottom: 15px;
	}
	&--bar{
		margin-bottom: 15px;
		padding: 0 30px;
		.progress-bar{
			background-color: #333;
		}
	}
	&--button{
		background-color: #000;
		color: #fff;
		font-family: 'Roboto';
		font-size: 14px;
		text-transform: uppercase;
		border-radius: 2px !important;
		padding: 16px 26px;
	}
} 