.cv_ratepage{
	padding: 15px;
	&-bigtitle{
		font-size: 20px;
		font-weight: 800;
		text-align: center;
	}
	&-name {
		margin-top: 20px;
		margin-bottom: 10px;
		font-size: 20px;
		text-align: center;
		font-weight: 600;
	}
	&-upload{
		margin-top: 30px;
		margin-bottom: 15px;
		line-height: 45px;
		height: 45px;
		padding: 0 15px;
		min-width: 215px;
		width: 100%;
		border-radius: 0;
		background-color: #000;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 14px;
		color: #fff;
		opacity: 1;
		&:before{
			content: "Загрузить фото";
		}
			&:hover{
				background-color: #222;
			}
			&-input{
				display: none;
				width: 0;
				height: 0;
				visibility: hidden;
				opacity: 0;
			}
		}
	&-uploaded{
		height: 180px;
		width: 180px;
		border: 1px solid #000;
		margin: 0 auto;
	}
	&-rate {
		input {
			display: none;
		}
		label {
			cursor: pointer;
			&:before {
				content: url('../images/rating-empty.svg');
				margin: 2px;
				width: 25px;
				display: inline-block;
			}

		}

		input:checked ~ label:before {
			content: url('../images/rating-full.svg');
		}
		input:hover ~ label:before {
			content: url('../images/rating-full.svg');
		}

	}
	&-info{
		margin-top: 20px;
		font-size: 16px;
		color: #aaa;
	}
	&-right{
		&-mt{
			margin-top: 49px;
		}
		&-name{
			margin-top: 22px;
			margin-bottom: 15px;
			font-size: 14px;
			font-weight: 600;
			color: #000;
		}
		&-check {
			height: 46px;
			label{
				position: relative;
				width: 100%;
				margin-bottom: 0 !important;
				height: 46px;
				span{
					position: absolute;
					top: 10px;
					left: 15px;
					color: #444;
					font-size: 16px;
					cursor: pointer;
				}
				&:hover .jq-checkbox{
					cursor: pointer;
					&:before{
						position: absolute;
						content: url('../images/check-smile.svg');
						background: none;
					    top: 8px !important;
					    right: 5px !important;
					    left: auto !important;
					    height: auto;
					    width: auto;
					}
				}
			}
			.jq-checkbox{
				border-top: 1px solid #CCCCCC;
				background-color: #fff;
				padding: 0px;
				border-radius: 0;
				display: block;
				width: 100%;
				line-height: 46px;
				height: 46px;
				&:hover, &.checked{
					// border: 1px solid #000;
					cursor: pointer;
					&:before{
						position: absolute;
						content: url('../images/check-smile.svg');
						background: none;
					    top: 8px !important;
					    right: 5px !important;
					    left: auto !important;
					    height: auto;
					    width: auto;
					}
				}
				span{
					padding: 0 15px;
				}
				&__div{

				}
			}
		}
	}
	&-leave{
		padding-top: 20px;
		display: none;
		&-title{
			font-size: 16px;
			font-weight: 600;
			color: #000;
			margin-bottom: 15px;
		}
		&-input{
			border-radius: 0 !important;
			border: 1px solid #ccc;
			margin-bottom: 15px;
		}
		&-submit{
			margin-top: 30px;
			line-height: 45px;
			height: 45px;
			padding: 0 15px;
			min-width: 215px;
			width: 100%;
			border-radius: 0;
			background-color: #000;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 14px;
			color: #fff;
			&:hover{
				background-color: #222;
			}
		}
	}
	&-item.positive{
		.jq-checkbox{
			&:hover, &.checked{
					&:before{
						content: url('../images/check-smile-1.svg');
					}
				}
			}
		
	}
	&-item{
		display: none;
	}
}