.cv_review{
	margin-top: 50px;
	&-title{
		font-family: 'Gill Sans';
		font-size: 32px;
		margin-bottom: 50px;
		&-sub{
			margin-top: 10px;
			font-size: 14px;
			a{
				color: #000;
				&:hover{
					color: #000;
				}
			}
		}
	}
	&-btn {
			display: block;
			background-color: #000;
			line-height: 45px;
			height: 45px;
			border-radius: 2px;
			color: #fff;
			font-size: 14px;
			font-family: 'Gill Sans';
			font-weight: 600;
			text-transform: uppercase;
			text-align: center;
			padding: 0 60px;

			&:hover {
				color: #eee;
				text-decoration: none;
				background-color: #000;
			}

		}
		&-item{
			padding: 30px 15px;
			margin: 15px;
			border: 1px solid #E0E0E0;
			&-img{
				// background-color: #C4C4C4;
				overflow: hidden;
				text-align: center;
			}
			&-name{
				font-family: 'Gill Sans';
				font-size: 16px;
				color: #444;
				margin-top: 10px;
				margin-bottom: 8px;
				a{	
					display: block;
					font-family: 'Gill Sans';
					font-size: 16px;
					font-weight: 600;
					color: #202020;
					text-decoration: none;
					&:hover{
						text-decoration: none;
						color: #000;
					}
				}
			}
			&-text{
				font-family: 'Gill Sans';
				font-size: 16px;
				color: #444;
			}
			&-who{
				font-family: 'Gill Sans';
				font-size: 13px;
				color: #999;
				margin-bottom: 10px;
			}
			&-tags{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				span{
					margin-right: 5px;
					border: 1px solid #000;
					border-radius: 6px;
					font-size: 10px;
					padding: 5px 10px;
					margin-bottom: 5px;
				}
			}
		}
}