.slick-prev{
	left: 0px;
}
.slick-prev:before{
	content: url('../images/arrow-left.svg');
	font-size: 18px;
	
}
.slick-next{
	right: 0px;
}
.slick-next:before{
	content: url('../images/arrow-right.svg');
	font-size: 18px;

}
.slick-next, .slick-prev{
	width: 26px;
    height: 27px;
    border: 1px solid #999999;
}
.slick-dots{
	left: 0;
}