.cv_status{
	&-title{
		font-size: 36px;
		font-weight: 600;
		font-family: 'EB Garamond';
	}
	&-timeline{
		margin-top: 50px;
		padding-bottom: 50px;
		&-step{
			width: 60px;
			height: 60px;
			text-align: center;
			background-size: contain;
			background: transparent url('../images/check-inactive.svg') center center no-repeat;
			&.active{
				background: transparent url('../images/check-active.svg') center center no-repeat;
			}
			img{
				margin-top: 20px;
			}
			&-text{
				position: absolute;
				left: 6px;
				top: 70px;
				font-family: 'Gill Sans';
				font-weight: 600;
				font-size: 16px;
				margin-top: 10px;
				color: #ccc;
				&.active{
					color: #000;
				}
				a{display: none;}
			}
		}
		&-line{
			margin-top: 29px;
			height: 5px;
			background-color: rgba(0, 0, 0, 0.1);
			&.active{
				background-color: #000;
			}
		}
	}
	&-info{
		margin-top: 50px;
		&-title{
			font-family: 'Gill Sans';
			font-size: 18px;
			color: #000;
			margin-bottom: 20px;
		}
		&-desc{
			font-family: 'Gill Sans';
			font-size: 16px;
			color: #000;
			margin-bottom: 15px;
		}
		&-add{
			font-family: 'Gill Sans';
			font-size: 14px;
			color: #aaa;
			line-height: 30px;
		}
		&-txt{
			font-family: 'Gill Sans';
			margin-top: 10px;
			margin-bottom: 15px;
		}
		img{
			height: 160px;
			width: 160px;
		}

	}
}