.cv_topbar{
	margin-top: 35px;
	margin-bottom: 35px;
	font-family: 'Gill Sans';
	&-left{
		&-phone{
			font-size: 20px;
			color: #202020;
		}
		&-city{
			font-size: 14px;
			color: #828282;
			a{
				color: #202020;
				text-decoration: underline;
				&:hover{
					color: #000;
					text-decoration: none;
				}
			}
		}
	}
	&-right{
		&-nav{
			a{
				color: #202020;
				font-size: 16px;
				text-decoration: underline;
				&:hover{
					color: #000;
					text-decoration: none;
				}
			}
		}
		&-garancy{
			color: #828282;
			font-size: 14px;
		}
	}
}