.callback-right-check {
    button {
        position: relative;
        width: 100%;
        margin-bottom: 0!important;
        height: 46px;
        border: none;
        outline: none;
        border-top: 1px solid #ccc;
        background-color: #fff;
        padding: 0;
        border-radius: 0;
        display: block;
        line-height: 46px;
        text-align: left;
        padding-left: 14px;
        color: #444;
        font-size: 16px;
        cursor: pointer;
        z-index: 1;

        img.smile-icon {
            position: absolute;
            right: 10px;
            top: 10px;
            display: none;
        }
    }

    &.checked {

        button {
            img.smile-icon {
                display: block !important;
            }
        }
    }
}

.callback-comment {
    margin-top: 20px;
}