<div class="col-12 cv_ratepage-col">
    <div class="cv_ratepage-name">Оцените ваш опыт</div>
    <div class="cv_ratepage-rate d-flex justify-content-center flex-row-reverse">
        <input type="radio" id="star5" name="rating" [value]="5" [checked]="callback.rating === 5">
        <label for="star5" title="5 star" (click)="setRating(5)"></label>

        <input type="radio" id="star4" name="rating" [value]="4" [checked]="callback.rating === 4">
        <label for="star4" title="4 star" (click)="setRating(4)"></label>

        <input type="radio" id="star3" name="rating" [value]="3" [checked]="callback.rating === 3">
        <label for="star3" title="3 star" (click)="setRating(3)"></label>

        <input type="radio" id="star2" name="rating" [value]="2" [checked]="callback.rating === 2">
        <label for="star2" title="2 star" (click)="setRating(2)"></label>

        <input type="radio" id="star1" name="rating" [value]="1" [checked]="callback.rating === 1">
        <label for="star1" title="1 star" (click)="setRating(1)"></label>
    </div>
    <div class="cv_ratepage-info">
        Здравствуйте, вам доставили цветы. Нам важно мнение получателя, оставьте нам оценку.
    </div>
</div>

<div class="col-12 cv_ratepage-col cv_ratepage-item" [ngStyle]="{'display': callback.rating === 1 ? 'block' : 'none'}">
    <div class="row">
        <div class="col">
            <div class="cv_ratepage-right-name">
                Что разочаровало?
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['NOT_FRESH']}">
                <button (click)="disappointChange('NOT_FRESH')">
                    Цветы не свежие
                    <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                </button>
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['NOT_LIKE_IN_PHOTO']}">
                <button (click)="disappointChange('NOT_LIKE_IN_PHOTO')">
                    Букет не как на фото
                    <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                </button>
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['COURIER_NOT_RIGHT']}">
                <button (click)="disappointChange('COURIER_NOT_RIGHT')">
                    Курьер не пунктуальный
                    <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                </button>
            </div>
        </div>
        <div class="col cv_ratepage-right-mt">
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['COURIER_RUDE']}">
                <button (click)="disappointChange('COURIER_RUDE')">
                    Курьер нагрубил
                    <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                </button>
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['WRONG_BOUQUET']}">
                <button (click)="disappointChange('WRONG_BOUQUET')">
                    Получил не тот букет
                    <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                </button>
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['FLORIST_NEEDS_TO_LEARN']}">
                <button (click)="disappointChange('FLORIST_NEEDS_TO_LEARN')">
                    Флористу надо подучиться
                    <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-12 cv_ratepage-col cv_ratepage-item"  [ngStyle]="{'display': callback.rating === 2 ? 'block' : 'none'}">
    <div class="row">
        <div class="col">
            <div class="cv_ratepage-right-name">
                Что не понравилось?
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['NOT_FRESH']}">
                <button (click)="disappointChange('NOT_FRESH')">
                    Цветы не свежие
                    <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                </button>
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['COURIER_NOT_RIGHT']}">
                <button (click)="disappointChange('COURIER_NOT_RIGHT')">
                    Курьер не пунктуальный
                    <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                </button>
            </div>
        </div>
        <div class="col cv_ratepage-right-mt">
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['COURIER_RUDE']}">
                <button (click)="disappointChange('COURIER_RUDE')">
                    Курьер нагрубил
                    <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                </button>
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['FLORIST_NEEDS_TO_LEARN']}">
                <button (click)="disappointChange('FLORIST_NEEDS_TO_LEARN')">
                    Флористу надо подучиться
                    <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-12 cv_ratepage-col cv_ratepage-item"  [ngStyle]="{'display': callback.rating === 3 ? 'block' : 'none'}">
    <div class="row">
        <div class="col">
            <div class="cv_ratepage-right-name">
                Что нам улучшить?
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['MORE_CHOICES']}">
                <button (click)="disappointChange('MORE_CHOICES')">
                    Больше выбора
                    <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                </button>
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['COURIER_NOT_RIGHT']}">
                <button (click)="disappointChange('COURIER_NOT_RIGHT')">
                    Курьер не пунктуальный
                    <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                </button>
            </div>
        </div>
        <div class="col cv_ratepage-right-mt">
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['COURIER_RUDE']}">
                <button (click)="disappointChange('COURIER_RUDE')">
                    Курьер нагрубил
                    <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                </button>
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['FLORIST_NEEDS_TO_LEARN']}">
                <button (click)="disappointChange('FLORIST_NEEDS_TO_LEARN')">
                    Флористу надо подучиться
                    <img src="/assets/images/smile/noun_emotion_1020290.svg" class="smile-icon">
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-12 cv_ratepage-col cv_ratepage-item positive"  [ngStyle]="{'display': callback.rating === 4 ? 'block' : 'none'}">
    <div class="row">
        <div class="col">
            <div class="cv_ratepage-right-name">
                Что понравилось?
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['FRESH_FLOWERS']}">
                <button (click)="disappointChange('FRESH_FLOWERS')">
                    Цветы свежие
                    <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                </button>
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['BOUQUET_EXACTLY']}">
                <button (click)="disappointChange('BOUQUET_EXACTLY')">
                    Букет в точности как на фото
                    <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                </button>
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['PUNCTUAL']}">
                <button (click)="disappointChange('PUNCTUAL')">
                    Курьер пунктуальный
                    <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                </button>
            </div>
        </div>
        <div class="col cv_ratepage-right-mt">
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['COURIER_RUDE']}">
                <button (click)="disappointChange('COURIER_RUDE')">
                    Курьер нагрубил
                    <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                </button>
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['FLORIST_WELL_DONE']}">
                <button (click)="disappointChange('FLORIST_WELL_DONE')">
                    Флорист молодец
                    <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-12 cv_ratepage-col cv_ratepage-item positive"  [ngStyle]="{'display': callback.rating === 5 ? 'block' : 'none'}">
    <div class="row">
        <div class="col">
            <div class="cv_ratepage-right-name">
                Что понравилось?
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['SUPER_FRESH_FLOWERS']}">
                <button (click)="disappointChange('SUPER_FRESH_FLOWERS')">
                    Цветы супер свежие
                    <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                </button>
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['BOUQUET_EXACTLY']}">
                <button (click)="disappointChange('BOUQUET_EXACTLY')">
                    Букет в точности как на фото
                    <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                </button>
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['COURIER_UMNICHKA']}">
                <button (click)="disappointChange('COURIER_UMNICHKA')">
                    Курьер умничка
                    <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                </button>
            </div>
        </div>
        <div class="col cv_ratepage-right-mt">
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['FAST_SHIPPING']}">
                <button (click)="disappointChange('FAST_SHIPPING')">
                    Быстрая доставка
                    <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                </button>
            </div>
            <div class="callback-right-check" [ngClass]="{'checked': disappointed['FLORIST_WELL_DONE']}">
                <button (click)="disappointChange('FLORIST_WELL_DONE')">
                    Флорист молодец
                    <img src="/assets/images/smile/noun_emotion_1020252.svg" class="smile-icon">
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-12 callback-comment" [ngStyle]="{'display': callback.rating > 0 ? 'block' : 'none'}">
    <div class="cv_ratepage-leave-title">Развернутый комментарий</div>
    <div class="form-group">
        <textarea class="form-control cv_ratepage-leave-input" id="cv-leave-comment" rows="5"
                  [(ngModel)]="callback.comment"
                  placeholder="Напишите ваши впечатления о покупке..."></textarea>
    </div>
    <div class="form-group">
        <button (click)="addCallback()" class="btn cv_ratepage-leave-submit">Отправить</button>
    </div>
</div>

