@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Thin'), local('Roboto-Thin'), url('../../fonts/roboto/Robotothin.woff2') format('woff2'), url('../../fonts/roboto/Robotothin.woff') format('woff'), url('../../fonts/roboto/Robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('../../fonts/roboto/Robotothinitalic.woff2') format('woff2'), url('../../fonts/roboto/Robotothinitalic.woff') format('woff'), url('../../fonts/roboto/Robotothinitalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Light'), local('Roboto-Light'), url('../../fonts/roboto/Robotolight.woff2') format('woff2'), url('../../fonts/roboto/Robotolight.woff') format('woff'), url('../../fonts/roboto/Robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('../../fonts/roboto/Robotolightitalic.woff2') format('woff2'), url('../../fonts/roboto/Robotolightitalic.woff') format('woff'), url('../../fonts/roboto/Robotolightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto'), local('Roboto-Regular'), url('../../fonts/roboto/Roboto.woff2') format('woff2'), url('../../fonts/roboto/Roboto.woff') format('woff'), url('../../fonts/roboto/Roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Italic'), local('Roboto-Italic'), url('../../fonts/roboto/Robotoitalic.woff2') format('woff2'), url('../../fonts/roboto/Robotoitalic.woff') format('woff'), url('../../fonts/roboto/Robotoitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../../fonts/roboto/Robotomedium.woff2') format('woff2'), url('../../fonts/roboto/Robotomedium.woff') format('woff'), url('../../fonts/roboto/Robotomedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('../../fonts/roboto/Robotomediumitalic.woff2') format('woff2'), url('../../fonts/roboto/Robotomediumitalic.woff') format('woff'), url('../../fonts/roboto/Robotomediumitalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Bold'), local('Roboto-Bold'), url('../../fonts/roboto/Robotobold.woff2') format('woff2'), url('../../fonts/roboto/Robotobold.woff') format('woff'), url('../../fonts/roboto/Robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('../../fonts/roboto/Robotobolditalic.woff2') format('woff2'), url('../../fonts/roboto/Robotobolditalic.woff') format('woff'), url('../../fonts/roboto/Robotobolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Black'), local('Roboto-Black'), url('../../fonts/roboto/Robotoblack.woff2') format('woff2'), url('../../fonts/roboto/Robotoblack.woff') format('woff'), url('../../fonts/roboto/Robotoblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('../../fonts/roboto/Robotoblackitalic.woff2') format('woff2'), url('../../fonts/roboto/Robotoblackitalic.woff') format('woff'), url('../../fonts/roboto/Robotoblackitalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
