<img [src]="selectedImage | imgWorker:445:445" class="img-fluid cv_itemcard-slider-for" itemprop="image"
     [alt]="alt['0']" [title]="title['0']">

<div class="cv_itemcard-slider">
    <ng-container *ngFor="let img of variant.images; index as i" >

        <img [src]="img | imgWorker:100:100"
             [alt]="alt[i+1]" [title]="title[i+1]"
             (click)="selectImage(img)">

    </ng-container>
</div>