<div class="col-auto cv_itemcard-fullprice-cnt">{{fullPrice | myCurrency: currency: language}}</div>

<div class="d_none">
    <time itemprop="priceValidUntil" [attr.datetime]="priceValidUntil">{{priceValidUntil}}</time>
    <a itemprop="url" [href]="fullUrl"></a>
    <meta itemprop="priceCurrency" content="RUB" />
    <meta itemprop="availability" content="InStock" />
    <span itemprop="price">{{fullPrice}}</span>
</div>