<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        {{language.name}}
    </button>
    <div class="dropdown-menu dropdown-menu-right">
        <a *ngFor="let l of languages" [href]="links[l.code]" class="dropdown-item"
           (click)="changeUrl(links[l.code], $event, l)">
            {{l.name}}
        </a>
    </div>
</div>