<ng-container *ngFor="let label of items | byLangId:langId; index as idx">
    <a [href]="urls[label.filterItemId]" *ngIf="isValid(label) || !isCatalog; else noLink">

        <div class="form-check form-check-inline">
            <div class="jq-radio form-check-input color-{{(idx + 1)}}"
                 [class.checked]="activeFilterItems[label.filterItemId]"
                 id="color-{{idx + 1}}-styler"
                 unselectable="on"
                 style="user-select: none; display: inline-block; position: relative;">
                <input class="form-check-input color-{{(idx + 1)}}"
                       type="radio"
                       name="colors"
                       id="color-{{idx + 1}}"
                       value="color{{idx + 1}}"
                       style="position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;">
                <div class="jq-radio__div"></div>
            </div>
            <label class="form-check-label" for="color-{{(idx + 1)}}"> </label>
        </div>

    </a>
    <ng-template #noLink>

        <div class="form-check form-check-inline" (click)="goTo(urls[label.filterItemId], label.filterItemId)">
            <div class="jq-radio form-check-input color-{{(idx + 1)}}"
                 [class.checked]="activeFilterItems[label.filterItemId]"
                 id="color-{{(idx + 1)}}-styler"
                 unselectable="on"
                 style="user-select: none; display: inline-block; position: relative;">
                <input class="form-check-input color-{{(idx + 1)}}"
                       type="radio"
                       name="colors"
                       id="color-{{(idx + 1)}}"
                       value="color{{(idx + 1)}}"
                       style="position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;">
                <div class="jq-radio__div"></div>
            </div>
            <label class="form-check-label" for="color-{{(idx + 1)}}"> </label>
        </div>
    </ng-template>

</ng-container>

<!--
<div class="form-check form-check-inline">
    <div class="jq-radio form-check-input color-4" id="color-4-styler" unselectable="on"
         style="user-select: none; display: inline-block; position: relative;">
        <input class="form-check-input color-4"
               type="radio" name="colors"
               id="color-4" value="color4"
               style="position: absolute; z-index: -1; opacity: 0; margin: 0px; padding: 0px;">
        <div class="jq-radio__div"></div>
    </div>
    <label class="form-check-label" for="color-4"> </label>
</div>-->
