<div class="wrapper" >
    <aside *ngFor="let message of messages | reverse" [@slideInRight] class="mb-20">
        <div class="notification"

             [ngClass]="{'is-info':     message.style=='info',
                     'is-danger':   message.style=='danger',
                     'is-success':  message.style=='success'}">

            <button class="delete" (click)="dismiss(message.id)"></button>
            {{message.content}}
        </div>

    </aside>
</div>