<app-breadcrumb  class="row align-items-center cv_breadcrumb"></app-breadcrumb>
<app-reviews-content  class="row align-items-start justify-content-center cv_review"></app-reviews-content>
<app-progress  class="row align-items-center justify-content-center cv_progress"></app-progress>