<div class="col cv_pre-footer-line"></div>
<div class="col-auto cv_pre-footer-title">
    <a href="https://vk.com/cvety_kz" target="_blank">
        <img src="assets/images/ic-vk.svg" alt="vk">
    </a>
    <a target="_blank" href="https://www.facebook.com/%D0%94%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B0-%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D0%B2-%D0%B2-%D0%90%D1%81%D1%82%D0%B0%D0%BD%D0%B5-cvetykz-636187769897028/">
        <img src="assets/images/ic-fb.svg" alt="fb">
    </a>
    <a target="_blank" href="https://www.instagram.com/cvetykz/">
        <img src="assets/images/ic-ig.svg" alt="ig">
    </a>
</div>
<div class="col cv_pre-footer-line"></div>
<div class="w-100"></div>

<div class="col cv_footer-left">
    <nav class="cv_footer-nav row justify-content-start align-items-center" *ngIf="isMain">
        <a [href]="url('delivery')" class="col-auto cv_footer-nav-link">{{'FOOTER.DELIVERY' | translate}}</a> -
        <a [href]="url('payment')" class="col-auto cv_footer-nav-link">{{'FOOTER.PAYMENT' | translate}}</a> -
        <a [href]="url('guarantee')" class="col-auto cv_footer-nav-link">{{'FOOTER.GUARANTEE' | translate}}</a> -
        <a [href]="urlWithCity('sitemap')" class="col-auto cv_footer-nav-link">
            {{'FOOTER.SITEMAP' | translate}}
        </a>
    </nav>

    <nav class="cv_footer-nav row justify-content-start align-items-center" *ngIf="!isMain">
        <a target="_blank" [href]="url('delivery')" class="col-auto cv_footer-nav-link">{{'FOOTER.DELIVERY' | translate}}</a> -
        <a target="_blank" [href]="url('payment')" class="col-auto cv_footer-nav-link">{{'FOOTER.PAYMENT' | translate}}</a> -
        <a target="_blank" [href]="url('guarantee')" class="col-auto cv_footer-nav-link">{{'FOOTER.GUARANTEE' | translate}}</a> -
        <a [href]="urlWithCity('sitemap')" class="col-auto cv_footer-nav-link">
            {{'FOOTER.SITEMAP' | translate}}
        </a>
    </nav>

    <div class="cv_footer-copy row">
        <div class="col">© 2018 Onetwoflowers. {{'FOOTER.DESCRIPTION' | translate}} {{citySecondName}}</div>
    </div>
</div>

<app-language-selector class="col-auto"></app-language-selector>

<div class="col-auto">
    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            {{currency.code}}
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <a *ngFor="let c of currencies$ | async" class="dropdown-item" (click)="setCurrency(c)">
                {{c.code}}
            </a>
        </div>
    </div>
</div>