<app-breadcrumb class="row align-items-center cv_breadcrumb"></app-breadcrumb>

<app-item-card class="row align-items-top justify-content-start cv_itemcard"
               itemscope itemtype="http://schema.org/Product"></app-item-card>

<app-add-for class="row align-items-center justify-content-center cv_addfor"></app-add-for>

<!--<app-reviews class="row align-items-center justify-content-between cv_feedback" id="cv-review">-->
<!--</app-reviews>-->

<!--<app-feedback-list class="row align-items-center justify-content-center cv_feedback cv_blur"></app-feedback-list>-->
<!--<app-delivered class="row align-items-center justify-content-center cv_delivered"></app-delivered>-->