<div class="col cv_feedback-line"></div>
<div class="col-auto cv_feedback-title">{{'BOUQUET.REVIEWS' | translate}}</div>
<div class="col cv_feedback-line"></div>
<div class="w-100"></div>

<div class="col-12 cv_feedback-carousel">
    <div class="cv_feedback-carousel-item">
        <div class="row">
            <div class="col-auto cv_feedback-carousel-item-img">
                <img src="assets/images/photo/img-1.png" class="img-fluid" alt="">
            </div>
            <div class="col cv_feedback-carousel-item-right">
                <div class="cv_item-rating">
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-empty.svg" alt="">
                    </div>
                </div>
                <div class="cv_feedback-carousel-item-name">
                    <a href="#">Букет «Мисс очарование»</a>
                </div>
                <div class="cv_feedback-carousel-item-text">
                    Букет отличный, особенно понравились синие цветы – дольше всех стояли!
                </div>
                <div class="cv_feedback-carousel-item-who">
                    Андрей, 12 мая 2018
                </div>
            </div>
        </div>
    </div>
    <div class="cv_feedback-carousel-item">
        <div class="row">
            <div class="col-auto cv_feedback-carousel-item-img">
                <img src="assets/images/photo/img-1.png" class="img-fluid" alt="">
            </div>
            <div class="col cv_feedback-carousel-item-right">
                <div class="cv_item-rating">
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-empty.svg" alt="">
                    </div>
                </div>
                <div class="cv_feedback-carousel-item-name">
                    <a href="#">Букет «Мисс очарование»</a>
                </div>
                <div class="cv_feedback-carousel-item-text">
                    Букет отличный, особенно понравились синие цветы – дольше всех стояли!
                </div>
                <div class="cv_feedback-carousel-item-who">
                    Андрей, 12 мая 2018
                </div>
            </div>
        </div>
    </div>
    <div class="cv_feedback-carousel-item">
        <div class="row">
            <div class="col-auto cv_feedback-carousel-item-img">
                <img src="assets/images/photo/img-1.png" class="img-fluid" alt="">
            </div>
            <div class="col cv_feedback-carousel-item-right">
                <div class="cv_item-rating">
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-empty.svg" alt="">
                    </div>
                </div>
                <div class="cv_feedback-carousel-item-name">
                    <a href="#">Букет «Мисс очарование»</a>
                </div>
                <div class="cv_feedback-carousel-item-text">
                    Букет отличный, особенно понравились синие цветы – дольше всех стояли!
                </div>
                <div class="cv_feedback-carousel-item-who">
                    Андрей, 12 мая 2018
                </div>
            </div>
        </div>
    </div>
    <div class="cv_feedback-carousel-item">
        <div class="row">
            <div class="col-auto cv_feedback-carousel-item-img">
                <img src="assets/images/photo/img-1.png" class="img-fluid" alt="">
            </div>
            <div class="col cv_feedback-carousel-item-right">
                <div class="cv_item-rating">
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-full.svg" alt="">
                    </div>
                    <div class="cv_item-rating-img">
                        <img src="assets/images/rating-empty.svg" alt="">
                    </div>
                </div>
                <div class="cv_feedback-carousel-item-name">
                    <a href="#">Букет «Мисс очарование»</a>
                </div>
                <div class="cv_feedback-carousel-item-text">
                    Букет отличный, особенно понравились синие цветы – дольше всех стояли!
                </div>
                <div class="cv_feedback-carousel-item-who">
                    Андрей, 12 мая 2018
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 cv_feedback-more">
    <a [href]="url('/reviews/')">{{'BOUQUET.SHOW_ALL' | translate}}</a>
</div>