.dropdown-toggle::after {
    display: none;
}

button#dropdown_cities {
    background: transparent;
    padding: 0;
    color: #202020;
    font-size: 14px;
    text-decoration: underline;
}

div#menu {
    min-width: 15rem;
}