<div class="dropdown" [class.show]="openCities" (appClickOutside)="openCities=false">
    <button class="btn dropdown-toggle"
            type="button"
            (click)="openCities = !openCities">
        {{getLabel(city)}}
    </button>
    <div id="menu" class="dropdown-menu" aria-labelledby="dropdown_cities" [class.show]="openCities">
        <form class="px-4 py-2">
            <input type="search"
                   class="form-control"
                   id="searchCity"
                   [formControl]="searchControl"
                   placeholder="{{'HEADER.CITY_OF_DELIVERY' | translate}}..." autofocus="autofocus">
        </form>
        <div id="menuItems">
            <input *ngFor="let c of cities | filter:searchControl.value"
                   type="button"
                   class="dropdown-item cursor-pointer"
                   [value]="getLabel(c)"
                   (click)="selectCity(c)">
        </div>
        <div id="empty" class="dropdown-header" style="display: none;">
            {{'HEADER.CITY_NOT_FOUND' | translate}}
        </div>
    </div>
</div>