<div class="col-12">
    <nav aria-label="breadcrumb">

        <!-- FOR CATALOG WITH PARAMS -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item" *ngFor="let item of breadcrumbs | async"
                itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                <a itemprop="url" [href]="item.url">{{item.title}}</a>
            </li>
        </ol>
        <!-- / FOR CATALOG WITH PARAMS -->

    </nav>
</div>