<div class="col-12">
    <div class="cv_itemcard-size-label">{{'BOUQUET.BOUQUET_SIZE' | translate}}</div>

    <div class="form-check form-check-inline" *ngFor="let v of variants | orderBy:'quantity'; index as idx"
         (click)="selectVariant(v)">
        <input class="form-check-input size-{{idx}}"
               type="radio"
               name="sizes"
               [id]="'size-' + idx"
               value="size1"
               [checked]="variant.quantity === v.quantity">
        <label class="form-check-label" [for]="'size-' + idx">
            {{v.quantity}}
        </label>
    </div>

</div>

