<ng-container *ngIf="langId === 1">
    <div class="col-12 text-center cv_sub-footer-span">
        Присоединяйтесь к нам в соц. сетях
    </div>
    <div class="col-12 text-center cv_sub-footer-soc">
        <a href="https://vk.com/cvety_kz" target="_blank">
            <img src="assets/images/ic-vk.svg" alt="vk">
        </a>
        <a target="_blank" href="https://www.facebook.com/%D0%94%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B0-%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D0%B2-%D0%B2-%D0%90%D1%81%D1%82%D0%B0%D0%BD%D0%B5-cvetykz-636187769897028/">
            <img src="assets/images/ic-fb.svg" alt="fb">
        </a>
        <a target="_blank" href="https://www.instagram.com/cvetykz/">
            <img src="assets/images/ic-ig.svg" alt="ig">
        </a>
    </div>
    <div class="col-12 text-center">
        <div class="cv_sub-footer-min">(c) 2018 Cvety.kz. Заказ и доставка свежих цветов по {{citySecondName}}.</div>
    </div>
</ng-container>

<ng-container *ngIf="langId === 2">
    <div class="col-12 text-center cv_sub-footer-span">
        Join us in the social networks
    </div>
    <div class="col-12 text-center cv_sub-footer-soc">
        <a href="https://vk.com/cvety_kz" target="_blank">
            <img src="assets/images/ic-vk.svg" alt="vk">
        </a>
        <a target="_blank" href="https://www.facebook.com/%D0%94%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BA%D0%B0-%D1%86%D0%B2%D0%B5%D1%82%D0%BE%D0%B2-%D0%B2-%D0%90%D1%81%D1%82%D0%B0%D0%BD%D0%B5-cvetykz-636187769897028/">
            <img src="assets/images/ic-fb.svg" alt="fb">
        </a>
        <a target="_blank" href="https://www.instagram.com/cvetykz/">
            <img src="assets/images/ic-ig.svg" alt="ig">
        </a>
    </div>
    <div class="col-12 text-center">
        <div class="cv_sub-footer-min">(c) 2018 Cvety.kz. Order and delivery of fresh flowers in {{citySecondName}}.</div>
    </div>
</ng-container>