<div class="col-12">
    <div class="cv_itemcard-addit-label">{{'BOUQUET.INCREASE_YOUR_EMOTIONS' | translate}}</div>
</div>
<div class="col-12">
    <div class="form-check" (click)="makeInBoxClick()">
        <input class="form-check-input" type="checkbox" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            {{'BOUQUET.MAKE_IN_BOX' | translate}} <span> +{{inBoxPrice | myCurrency: currency: language}}</span>
        </label>
    </div>
    <div class="form-check" (click)="addBoxRaffaelloClick()">
        <input class="form-check-input" type="checkbox" id="defaultCheck2">
        <label class="form-check-label" for="defaultCheck2">
           {{'BOUQUET.ADD_BOX_RAFFAELLO' | translate}} <span> +{{rafaelloPrice | myCurrency: currency: language}}</span>
        </label>
    </div>
</div>