.btn-dropdown{
	color: #444;
	border: 1px solid #888888;
	border-radius: 0;
	&:hover, &:focus{
		color: #000;
	}
}
input[type="checkbox"]:not(.cv_filters input[type=checkbox]){
	display: none;
	opacity: 0;
	visibility: hidden;
}
input[type="checkbox"]:not(.cv_filters input[type=checkbox]) + label{
	cursor: pointer;
	position: relative;
	color: #333;
}
input[type="checkbox"]:not(.cv_filters input[type=checkbox]) + label:before{
	content: '';
	display: inline-block;
	margin-right: 10px;
	vertical-align: text-bottom;
	width: 16px;
	height: 16px;
	border: 1px solid #BDBDBD;
	border-radius: 2px;
	background-color: rgba(196, 196, 196, 0.22);
}
input[type="checkbox"]:not(.cv_filters input[type=checkbox]):checked + label:after{
	content: url(../images/checkbox.svg);
	position: absolute;
	display: inline-block;
	top: 1px;
	left: 0;
}