@font-face {
	font-family: 'Gill Sans';
	src: url('../fonts/GillSans.ttf') format('ttf');
}
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700,800&subset=cyrillic');