@media (max-width: 576px) {
	.cv_title-text, .cv_title-links{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.cv_title{
		margin-top: 30px !important;
		margin-bottom: 30px !important;
	}
	
	.cv_itemcard-buy-btn{
		width: 100%;
	}
	.cv_itemcard-buy{
		padding-right: 15px;
	}
	.cv_itemcard-fullprice-cnt{
		margin: 0 auto;
	}
	.lk_checkout-deliver-name{
		padding-left: 0 !important;
	}
}
@media (max-width: 768px) {
	.cv_item-more{
		// height: auto !important;
		text-align: center;
	}
	.cv_item-more-title{
		margin-bottom: 5px !important;
	}
	.cv_items{
		-ms-flex: 0 0 100% !important;
		flex: 0 0 100% !important;
		max-width: 100% !important;
	}
	.cv_items .cv_item-rating{
		display: none;
	}
	.cv_items-title{
		padding: 0 5px;
		margin-bottom: 10px;
	}
	.cv_item-img{
		// height: 230px !important;
		margin-bottom: 10px !important;
	}
	.cv_item{
		padding: 0 0px 10px 5px!important;
	}
	.cv_item-img{
		padding: 0 !important;
	}
	// .cv_item-more-title{
	// 	font-size: 14px !important;
	// }
	// .cv_item-more-link{
	// 	font-size: 10px !important;
	// }
	.cv_item-more{
		padding: 30px 15px !important;
	}
	.cv_items-fix{
		padding-right: 5px !important;
	}
	.cv_topbar{
		margin-bottom: 0 !important;
		margin-top: 15px !important;
	}
	.cv_topbar-left, .cv_topbar-right{
		display: none;
	}
	.cv_breadcrumb .breadcrumb{
		margin-bottom: 0 !important;
	}
	.cv_breadcrumb{
		// display: none;
	}
	.cv_infopage-title{
		margin-bottom: 10px !important;
		font-size: 24px !important;
	}
	.cv_nav{
		// display: none;
		position: absolute;
		justify-content: flex-end!important;
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
		right: 15px;
		top: 0px;
		border: 0 !important;
		.cv_nav-collapse:not(.show){
			display: none;
		}
		.cv_nav-collapse{
			margin-top: 15px;
			// text-align: center;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
			background-color: #fff;
			border-radius: 2px;
			padding: 15px 30px;
			z-index: 10;
		}
		.cv_nav-link{
			// display: block;
			width: 100%;
			text-align: center;
			padding: 15px;
			&+.cv_nav-link{
				border-top: 1px solid #DEDEDE;
			}
		}
	}
	.cv_filters input[type=checkbox]+label{
		width: 100%;
	}
	.cv_title-text{
		font-size: 24px !important;
	}
	
	.cv_title-links{
		position: relative;
		display: none !important;
	}
	.cv_title-btn{
		display: block !important;
		text-align: center;
		padding: 10px 15px;
		border: 1px solid #202020;
		border-radius: 2px;
		text-transform: uppercase;
		color: #202020;
		font-size: 14px;
		font-family: 'Gill Sans';
		&:hover, &:active, &:focus{
			color: #202020;
			text-decoration: none;
		}
		img{
			margin-bottom: 6px;
			margin-left: 10px;
		}
	}
	.cv_filters-btn-filter{
		display: block !important;
		text-align: center;
		padding: 10px 15px;
		border: 1px solid #202020;
		border-radius: 2px;
		text-transform: uppercase;
		color: #202020;
		font-size: 14px;
		font-family: 'Gill Sans';
		&:hover, &:active, &:focus{
			color: #202020;
			text-decoration: none;
		}
		img{
			margin-bottom: 6px;
			margin-left: 10px;
		}
	}
	.cv_title-links-sort{
		position: absolute;
		top: 45px;
		right: 15px;
		text-align: center;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		background-color: #fff;
		border-radius: 2px;
		padding: 15px 30px;
		z-index: 1;
		.cv_title-link{
			display: block;
			margin-left: 0;
		}
	}
	.cv_filters{
		padding-bottom: 15px !important;
		border-bottom: #dedede;
	}
	.cv_filters-title{
		font-weight: 400 !important;
		
	}
	.cv_review-item-img{

	}
	.cv_feedback-carousel-item-img{
		height: auto !important;
		margin-bottom: 15px;
	}
	.cv_footer-left{
		-ms-flex: 0 0 100%;
    	flex: 0 0 100%;
    	max-width: 100%;
	}
	.cv_footer{
		display: none;
	}
	.cv_blur{
		&.blurit{
		-webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    -webkit-filter: blur(5px);
	    filter: blur(5px);
	    overflow: hidden;
	    -webkit-transform-style: preserve-3d;
	    transform-style: preserve-3d;
	    -webkit-transition: -webkit-filter .3s linear;
	    transition: -webkit-filter .3s linear;
	    transition: filter .3s linear;
	    transition: filter .3s linear,-webkit-filter .3s linear;
	    will-change: filter;
		}
	}
	.cv_wrapper{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: transparent;
	}
	.cv_itemcard{
		margin-top: 20px;
	}
	.cv_ratepage-col,
	.cv_ratepage-right-mt,
	.cv_ratepage-review-box {
		flex: 1 1 100%;
		max-width: 100%;
	}

	.cv_ratepage-review-box {
		margin-left: 0;
	}

	.cv_itemdesk-info{
		display: none;
	}

	.cv_itemdesk-right-mt,
	.cv_ratepage-right-mt {
		margin-top: 0 !important;
	}
	.cv_ratepage-rating {
		margin-top: 15px;
	}
	.cv-status-info-left,
	.cv-status-info-right {
		flex: 1 1 100%;
		max-width: 100%;
		margin-bottom: 30px;
	}

	.cv_status-timeline-step-text {
		position: relative !important;
	}

	.cv_status-timeline {
		flex-direction: column !important;

		.col {
			-ms-flex: 0 0 auto !important;
			flex: 0 0 auto !important;
			width: auto !important;
			max-width: none !important;
		}

	}

	.cv_status-timeline-line {
		margin-top: 0 !important;
		margin-left: 27px;
		height: 50px !important;
		width: 5px;
	}

	.cv_status-timeline-step {
		display: inline-block;
		margin-right: 30px;
		vertical-align: middle;
	}

	.cv_status-timeline-step-text {
		display: inline-block;
		top: inherit !important;
		left: inherit !important;
		vertical-align: middle;
		margin-top: 0 !important;
	}

	.cv_status-title {
		font-size: 26px !important;
	}

	.cv_status-chat-btn {
		display: block;
		padding: 8px !important;
	}

	.cv_status-chat-btn img {
		margin-right: 0 !important;
	}

	.cv_status-chat-btn span {
		display: none;
	}

	.cv_status-timeline-step-text a {
		display: block !important;
		font-size: 14px;
		text-decoration: underline;
		color: #ccc;
		font-weight: 400;
		margin-top: 10px;
	}

	.cv_status-timeline-step-text.active a {
		color: #888;
	}

	.cv_status-info img {
		height: 85px !important;
		width: 85px !important;
	}
	.cv_sub-footer{
		display: block !important;
	}
	.cv_pre-footer-title{
		text-decoration: underline;
	}
	.cv_pre-footer-title img.arrow{
		display: inline-block;
		margin-bottom: 8px;
		margin-left: 10px;
	}
	.cv_pre-footer-line{
		// display: none !important;
	}
	.cv_pre-footer-box{
		display: none;
		
		&.visible-city{
		display: block !important;
		text-align: center;
		margin: 15px 0px !important;
		// margin-bottom: 0px !important;
	}
}
	.cv_pre-footer-link + .cv_pre-footer-link{
		border-top: 1px solid #eee;
	}
	.cv_cities{
		position: relative;
		margin-bottom: 0 !important;
		.col-sm-12{
		    -ms-flex: 0 0 100% !important;
		    flex: 0 0 100% !important;
		    max-width: 100% !important;
		}
		&-letter{
			position: absolute;
			top: 0px;
			left: 15px;
			li{
				font-size: 30px !important;
				color: #888;
			}
		}
		&-list{
			
			li{
				padding-left: 60px !important;
				border-bottom: 1px solid #eee;
				padding-top: 10px;
				padding-bottom: 10px;
				&:first-child{
					border-top: 1px solid #eee;
				}
				&:last-child{
					border-bottom: 0 !important;
				}
				a{
					display: block !important;
				}
			}
		}
	}
}
@media (min-width: 769px) {
	.cv_review-item-img{
		height: 200px;
	}
	.cv_filters-row, .cv_sortit-left{
		display: none !important;
	}
	.cv_item-more-link{
		font-size: 18px !important;
	}
	.cv_item-more-title{
		font-size: 26px !important;
	}
	.cv_item-more{
		padding: 30px !important;
		// height: auto !important;
		text-align: center;
	}
	.cv_pre-footer-title img.arrow{
		display: none;
	}
}