<div class="col cv_addfor-line"></div>
<div class="col-auto cv_addfor-title">{{'BOUQUET.ADD_TO_THE_BOUQUET' | translate}}</div>
<div class="col cv_addfor-line"></div>
<div class="w-100"></div>
<div class="col-12 text-center">{{'BOUQUET.INCREASE_THE_INTENSITY' | translate}}</div>

<div class="col-12 cv_addfor-carousel">

    <app-gift class="cv_addfor-carousel-item" *ngFor="let node of adds$ | async" [gift]="node">
    </app-gift>

</div>