<div class="col cv_delivery-line"></div>
<div class="col-auto cv_delivery-title">{{'FRONT.DELIVERY_PHOTOS' | translate}}</div>
<div class="col cv_delivery-line"></div>
<div class="w-100"></div>

<app-delivery-block class="col-12 cv_delivery-carousel"></app-delivery-block>

<!--
<div class="col-12 cv_delivery-more">
    <a [href]="getUrl('/delivery-photos/')" *ngIf="langId === 1">показать все</a>
    <a [href]="getUrl('/delivery-photos/')" *ngIf="langId === 2">show all</a>
</div>-->
