:host {
    display: block;
    margin-top: 50px;
}

my-date-picker {
    position: absolute;
    display: none;
}

.datepicker-container {
    position: relative;

    &.open {
        my-date-picker {
            display: block;
        }
    }
}

.lk_checkout-dropdown {
    position: relative;

    .dropdown-menu {
        position: absolute;
        display: none;
    }

    &.open {
        .dropdown-menu {
            display: block;
        }
    }
}

.hidden {
    display: none !important;
}

.lk_checkout-add {
    margin-top: 45px;
}



button.btn.btn-block.lk_checkout--button {
    border-radius: 4px;
    font-size: 25px;
    height: 55px;
    min-height: 55px;
    max-height: 55px;
    min-width: 60%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    background: #2C2E2F;
    color: #fff;
    text-transform: none;

    span.button-text {
        padding-left: 8px;
    }
}

@media (max-width: 1200px) {
    button.btn.btn-block.lk_checkout--button {
        height: 45px;
        min-height: 45px;
        max-height: 45px;
        font-size: 20px;
        margin-bottom: 40px;
    }
}



.mt-24 {
    margin-top: 24px;
}

.lk_checkout-deliver-price {
    padding-right: 10px !important;
    padding-left: 0 !important;
}

.pay-button-container {
    width: 100%;
    min-width: 100px;
    max-width: 500px;
    margin: 0 auto;
}

.mb-8 {
    margin-bottom: 8px;
}