<div class="container">
    <div class="row align-items-center lk_content">
        <h1>{{'ORDER.CHECKOUT' | translate}}</h1>
    </div>
    <div class="row align-items-start justify-content-between lk_content lk_checkout">
        <div class="col-12 col-sm-6 lk_checkout--left">
            <form name="orderForm" [formGroup]="orderForm">

                <!--<div class="row justify-content-between lk_checkout-title">
                    <span class="lk_checkout-title-text form-group">{{'ORDER.RECIPIENT' | translate}}</span>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1"
                               formControlName="receiveMyself">
                        <label class="form-check-label" for="exampleCheck1">{{'ORDER.MY_SELF' | translate}}</label>
                    </div>
                </div>-->
                <div class="row justify-content-between lk_checkout-title">
                    <span class="lk_checkout-title-text">{{'ORDER.RECIPIENT' | translate}}</span>
                </div>
                <div class="form-row lk_checkout-form">
                    <div class="col lk_checkout-form-left">
                        <input type="text" class="form-control"
                               formControlName="recipientName"
                               [placeholder]="'ORDER.RECIPIENT_NAME' | translate">
                    </div>
                    <div class="col lk_checkout-form-right">
                        <input type="text" class="form-control"
                               formControlName="recipientPhone"
                               [placeholder]="'ORDER.RECIPIENT_PHONE' | translate">
                    </div>
                </div>

                <div class="row justify-content-between lk_checkout-title">
                    <span class="lk_checkout-title-text">{{'ORDER.DELIVERY_ADDRESS' | translate}}</span>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck2">
                        <label class="form-check-label" for="exampleCheck2">
                            {{'ORDER.LEARN_FROM_RECIPIENT' | translate}}
                        </label>
                    </div>
                </div>

                <div class="form-row lk_checkout-form">
                    <div class="col lk_checkout-form-left lk_checkout-form-right">
                        <input type="text" class="form-control" formControlName="deliveryAddress"
                               [placeholder]="'ORDER.ENTER_ADDRESS' | translate">
                    </div>
                </div>

                <div class="form-row lk_checkout-form">
                    <div class="col lk_checkout-form-left">
                        <input type="text" class="lk-datepicker form-control"
                               formControlName="deliveryDate"
                               (click)="datePickerOpen=!datePickerOpen" readonly
                               [placeholder]="'ORDER.ENTER_DATE' | translate">

                        <div class="datepicker-container" [class.open]="datePickerOpen">
                            <my-date-picker name="deliveryDate"
                                            [options]="myDatePickerOptions"
                                            [locale]="'ru'"
                                            (dateChanged)="setDate($event)"></my-date-picker>
                        </div>
                    </div>
                    <div class="col lk_checkout-form-right">
                        <div class="btn-group lk_checkout-dropdown" [class.open]="deliveryTypeOpen">
                            <button class="btn dropdown-toggle" type="button"
                                    (click)="deliveryTypeOpen=!deliveryTypeOpen">
                                {{deliveryType}}
                            </button>
                            <div class="dropdown-menu">
                                <div class="dropdown-item cursor-pointer"
                                     (click)="deliveryType = 'Как можно скорее';deliveryTypeOpen=false">
                                    {{'ORDER.AS_SOON_AS_POSSIBLE' | translate}}
                                </div>
                                <div class="dropdown-item cursor-pointer"
                                     (click)="deliveryType = 'До обеда';deliveryTypeOpen=false">
                                    {{'ORDER.BEFORE_LUNCH' | translate}}
                                </div>
                                <div class="dropdown-item cursor-pointer"
                                     (click)="deliveryType = 'В течении дня';deliveryTypeOpen=false">
                                    {{'ORDER.DURING_THE_DAY' | translate}}
                                </div>
                                <div class="dropdown-item cursor-pointer"
                                     (click)="deliveryType = '23:59';deliveryTypeOpen=false">
                                    23:59
                                </div>
                                <div class="dropdown-item cursor-pointer"
                                     (click)="deliveryType = '-';deliveryTypeOpen=false">
                                    -
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-row lk_checkout-form">
                    <div class="col lk_checkout-form-left lk_checkout-form-right">
                        <textarea class="form-control" rows="4"
                                  formControlName="postcardText"
                                  [placeholder]="'ORDER.WRITE_POSTCARD_TEXT' | translate"></textarea>
                    </div>
                </div>

                <div class="row justify-content-between lk_checkout-title">
                    <span class="lk_checkout-title-text">
                        {{'ORDER.SENDER' | translate}}
                    </span>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck3">
                        <label class="form-check-label" for="exampleCheck3">
                            {{'ORDER.ANONYMOUSLY' | translate}}
                        </label>
                    </div>
                </div>

                <div class="form-row lk_checkout-form">
                    <div class="col lk_checkout-form-left">
                        <input type="text" class="form-control"
                               formControlName="senderName"
                               [placeholder]="'ORDER.WHAT_NAME' | translate">
                    </div>
                    <div class="col lk_checkout-form-right">
                        <input type="text" class="form-control"
                               formControlName="senderPhone"
                               [placeholder]="'ORDER.YOUR_PHONE_NUMBER' | translate">
                    </div>
                </div>

                <div class="form-row lk_checkout-form">
                    <div class="col lk_checkout-form-left lk_checkout-form-right">
                        <input type="email" class="form-control"
                               formControlName="senderEmail"
                               [placeholder]="'ORDER.YOUR_MAIL' | translate">
                    </div>
                </div>

                <!--<div class="row justify-content-start lk_checkout-title">
                    <div class="form-group form-check">
                        <input type="checkbox"
                               formControlName="makePhoto"
                               class="form-check-input" id="exampleCheck4">
                        <label class="form-check-label" for="exampleCheck4">
                            {{'ORDER.MAKE_PHOTO' | translate}}
                        </label>
                    </div>
                </div>-->

                <div class="row justify-content-between lk_checkout-title">
                    <span class="lk_checkout-title-text">
                        {{'ORDER.CHOOSE_PAYMENT' | translate}}
                    </span>
                </div>

                <div class="row justify-content-between lk_checkout-title">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="kazkom" formControlName="pay" value="kazkom">
                        <label class="form-check-label" for="kazkom">
                            <img src="/assets/images/avatars/visa.png" alt="">
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="paypal" formControlName="pay" value="paypal">
                        <label class="form-check-label" for="paypal">
                            <img src="/assets/images/paypal.png" alt="">
                        </label>
                    </div>
                    <!--<div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="qiwi" formControlName="pay" value="qiwi">
                        <label class="form-check-label" for="qiwi">
                            <img src="/assets/images/qiwi.png" alt="">
                        </label>
                    </div>-->
                </div>

                <div class="row mt-24 lk_checkout-btns-full">

                    <!-- KAZKOM INIT PAYMENT BUTTON -->
                    <div class="pay-button-container" [class.hidden]="paymentType !== 'kazkom'">
                        <button class="btn btn-block lk_checkout--button" (click)="cardPay()"
                                [disabled]="orderForm.invalid">
                            <span class="button-text">{{'ORDER.PROCEED_TO_CHECKOUT' | translate}}</span>
                        </button>
                    </div>


                    <!-- PAYPAL INIT PAYMENT BUTTON -->
                    <div class="mb-8" [class.hidden]="paymentType !== 'paypal'">
                        <div id="paypal-button-container"></div>
                    </div>

                    <!-- KIWI INIT PAYMENT BUTTON -->
                    <!--<div class="pay-button-container"
                         [class.hidden]="paymentType === 'paypal' || paymentType === 'kazkom'">
                        <button class="btn btn-block lk_checkout&#45;&#45;button"
                                [routerLink]="'/' + locationService.baseUrl() + '/qiwi-pay'"
                                [disabled]="orderForm.invalid">
                            <span class="button-text">{{'ORDER.PROCEED_TO_CHECKOUT' | translate}}</span>
                        </button>
                    </div>-->

                </div>

            </form>
        </div>

        <div class="col-md-5 col-sm-6 lk_checkout--right">
            <div class="lk_checkout-info">

                <div class="row align-items-start justify-content-between mb-16" *ngFor="let product of bouquets">
                    <!--<div class="col-auto col&#45;&#45;padding-right-5 lk_checkout-sm-dnone">
                        <img [src]="product.mainImage | imgWorker:100:100" class="img-fluid lk_checkout-deliver-image">
                    </div>-->
                    <div class="col-6">
                        <span class="lk_checkout-deliver-name">{{product.name}}</span>
                    </div>
                    <div class="col-auto">
                        <span class="">{{product.price | myCurrency: currency: language}}</span>
                    </div>
                </div>

                <div class="row align-items-start justify-content-between mb-16" *ngFor="let product of gifts">
                    <!--<div class="col-auto col&#45;&#45;padding-right-5 lk_checkout-sm-dnone">
                        <img [src]="product.mainImage | imgWorker:170:170" class="img-fluid lk_checkout-deliver-image">
                    </div>-->
                    <div class="col-6">
                        <span class="lk_checkout-deliver-name">{{product.name}}</span>
                    </div>
                    <div class="col-auto">
                        <span class="">{{product.price | myCurrency: currency: language}}</span>
                    </div>
                </div>

                <div class="row align-items-start justify-content-between"
                     *ngFor="let item of makeInBox">
                    <div class="col-auto">
                        {{'ORDER.MAKE_IN_BOX' | translate}}
                    </div>
                    <div class="col-auto">
                        {{item.price | myCurrency: currency: language}}
                    </div>
                </div>

                <div class="row align-items-start justify-content-between"
                     *ngFor="let item of addBoxRaffaello">
                    <div class="col-auto">
                        {{'ORDER.ADD_BOX_RAFFAELLO' | translate}}
                    </div>
                    <div class="col-auto">
                        {{item.price | myCurrency: currency: language}}
                    </div>
                </div>

                <div class="row align-items-start justify-content-between lk_checkout-deliver-del">
                    <div class="col-auto">
                        {{'ORDER.DELIVERY' | translate}}
                    </div>
                    <div class="col-auto">
                        {{'ORDER.FREE' | translate}}
                    </div>
                </div>

                <div class="row align-items-start justify-content-between lk_checkout-deliver-atall">
                    <div class="col-auto">
                        {{'ORDER.TOTAL_FOR_PAYMENT' | translate}}
                    </div>
                    <div class="col-auto">
                        {{displayTotal | myCurrency: currency: language}}
                    </div>
                </div>
            </div>

            <div class="lk_checkout-add">
                <div class="row align-items-start lk_checkout-pb-30">
                    <div class="col-auto col--padding-right-5">
                        <img src="assets/images/visa.svg" alt="">
                    </div>
                    <div class="col-auto col--padding-right-5 col--padding-left-0">
                        <img src="assets/images/cirrus.svg" alt="">
                    </div>
                    <div class="col-auto col--padding-right-5 col--padding-left-0">
                        <img src="assets/images/maestro.svg" alt="">
                    </div>
                    <div class="col-auto col--padding-right-5 col--padding-left-0">
                        <img src="assets/images/mastercard.svg" alt="">
                    </div>
                    <div class="col-auto col--padding-right-5 col--padding-left-0">
                        <img src="assets/images/american express.svg" alt="">
                    </div>
                    <div class="col-auto col--padding-right-5 col--padding-left-0">
                        <img src="assets/images/paypal.svg" alt="">
                    </div>
                </div>
                <div class="row align-items-center lk_checkout-pb-15">
                    <div class="col-auto"><img src="assets/images/locked.svg" alt=""></div>
                    <div class="col">
                        {{'ORDER.WE_USE_SSL' | translate}}
                    </div>
                </div>
                <div class="row align-items-center lk_checkout-pb-15">
                    <div class="col-auto"><img src="assets/images/money-back.svg" alt=""></div>
                    <div class="col">
                        {{'ORDER.AFTER_WE_SEND_LINK' | translate}}
                    </div>
                </div>
                <div class="row align-items-center lk_checkout-pb-15">
                    <div class="col-auto"><img src="assets/images/track-2.svg" alt=""></div>
                    <div class="col">
                        {{'ORDER.BOUQUET_REPLACE' | translate}}
                    </div>
                </div>
            </div>
        </div>
        <div class="lk_checkout-promo">
            <!--<a href="#collapseExample" class="lk_checkout-promo-link" data-toggle="collapse" role="button"-->
            <!--aria-expanded="false" aria-controls="collapseExample">-->
            <!--{{'ORDER.PROMO_CODE' | translate}}-->
            <!--</a>-->
            <div class="collapse" id="collapseExample">

                <form class="form-inline">

                    <div class="form-group lk_checkout-promo-input">
                        <input type="password" class="form-control" id="inputPassword2"
                               [placeholder]="'ORDER.ENTER_PROMO' | translate">
                    </div>
                    <button type="submit" class="lk_checkout-promo-btn btn mb-2">
                        {{'ORDER.APPLY' | translate}}
                    </button>
                </form>

            </div>
        </div>

    </div>
</div>

<!-- HIDDEN KAZKOM FORM -->
<form ngNoForm name="SendOrder" method="post" [action]="kazkom.actionUrl" class="hidden">
    <input type="hidden" name="Signed_Order_B64" [value]="kazkom.Signed_Order_B64">
    <input type="hidden" name="email" [value]="senderEmail">
    <p>
        <input type="hidden" name="Language" [value]="kazkom.Language">
        <input type="hidden" name="BackLink" [value]="kazkom.BackLink">
        <input type="hidden" name="FailureBackLink" [value]="kazkom.FailureBackLink">
        <input type="hidden" name="PostLink" [value]="kazkom.PostLink">
        <input type="submit" name="GotoPay" value="GotoPay" #kazkomSubmit>&nbsp;
</form>
<!-- / HIDDEN KAZKOM FORM -->