@import "~@ng-select/ng-select/themes/default.theme.css";

.dropdown-item, .cursor-pointer {
    cursor: pointer;
}

// loader
app-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99998;
}

a:hover {
    text-decoration: none;
}

.cv_itemcard-slider .slick-slide {
    width: 100px;
    height: 100px;
}

.cv_filters-title {
    cursor: pointer;
}

// checkout

.lk_checkout-title {
    margin-top: 15px
}

.lk_checkout-title-text {
    // margin-top: 10px;
    font-size: 16px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase
}

.lk_checkout-title .form-check-input {
    border: 1px solid #bdbdbd
}

.lk_checkout-form {
    margin-right: -15px;
    margin-left: -15px;
    // margin-bottom: 10px
}

.lk_checkout-form #paypal-button-container, .xcomponent-outlet, .lk_checkout--button {
    width: 100% !important;
}

.lk_checkout-btns-full > div + div {
    width: 100% !important;
}

.lk_checkout-form-left {
    padding-left: 0 !important;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .lk_checkout-form-left {
        max-width: 100%;
        flex: 1 1 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 10px
    }
    .lk_checkout-sm-dnone {
        display: none !important;
    }
    .lk_checkout-info .ng-star-inserted {
        margin-left: 0;
        margin-right: 0;
    }
}

.lk_checkout-form-right {
    padding-right: 0 !important;
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    .lk_checkout-form-right {
        max-width: 100%;
        flex: 1 1 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 10px
    }
}

.lk_checkout-form input, .lk_checkout-form select {
    line-height: 50px !important;
    height: 50px !important;
    border-radius: 0 !important;
    border: 1px solid #999
}

.lk_checkout-form input::-webkit-input-placeholder, .lk_checkout-form select::-webkit-input-placeholder {
    color: #999
}

.lk_checkout-form input:-ms-input-placeholder, .lk_checkout-form select:-ms-input-placeholder {
    color: #999
}

.lk_checkout-form input::-ms-input-placeholder, .lk_checkout-form select::-ms-input-placeholder {
    color: #999
}

.lk_checkout-form input::placeholder, .lk_checkout-form select::placeholder {
    color: #999
}

.lk_checkout-form textarea {
    border-radius: 0 !important;
    border: 1px solid #999
}

.lk_checkout-form textarea::-webkit-input-placeholder {
    color: #999
}

.lk_checkout-form textarea:-ms-input-placeholder {
    color: #999
}

.lk_checkout-form textarea::-ms-input-placeholder {
    color: #999
}

.lk_checkout-form textarea::placeholder {
    color: #999
}

.lk_checkout-form .form-check-label {
    color: #333
}

.lk_checkout-form .lk-datepicker {
    //background: transparent url(/assets/images/calendar.svg) right center no-repeat;
    background-size: 23px;
    background-position-x: 95%;
    background-color: #fff !important;
}

.lk_checkout-dropdown {
    width: 100%
}

.lk_checkout-dropdown button {
    width: 100%;
    text-align: left !important;
    height: 50px !important;
    border-radius: 0 !important;
    border: 1px solid #999 !important;
    color: #495057;
    background-color: #fff
}

.lk_checkout-dropdown button::after {
    top: 11px !important
}

.lk_checkout .jq-radio {
    border-radius: 10px !important;
    margin-right: 15px !important
}

.lk_checkout .jq-radio.checked:before {
    border-radius: 10px !important
}

.lk_checkout--button {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    background-color: #000;
    border-radius: 0;
    color: #fff;
    height: 39px;
    text-transform: uppercase
}

.lk_checkout--button:focus, .lk_checkout--button:hover {
    background-color: #222
}

.lk_checkout-info {
    background-color: rgba(84, 14, 130, .05);
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 30px
}

.lk_checkout-deliver {
    color: #444;
    font-size: 20px;
    margin-bottom: 10px;
    display: inline-block
}

@media (max-width: 1024px) {
    .lk_checkout-deliver {
        padding-left: 15px
    }
}

.lk_checkout-deliver-date {
    font-weight: 600;
    color: #444;
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block
}

.lk_checkout-deliver-change {
    display: none !important;
    text-decoration: underline;
    margin-bottom: 10px;
    display: inline-block
}

.lk_checkout-deliver-change:hover {
    color: #666
}

@media (max-width: 768px) {
    .lk_checkout-deliver-change {
        padding-left: 30px
    }
}

.lk_checkout-deliver-image {
    max-width: 100px
}

.lk_checkout-deliver-name {
    display: block;
    max-width: 75%
}

@media (max-width: 1024px) {
    .lk_checkout-deliver-name {
        padding-left: 30px;
        max-width: 100%
    }
}

.lk_checkout-deliver-price {
    padding-right: 30px;
    padding-left: 0
}

@media (max-width: 1024px) {
    .lk_checkout-deliver-price {
        padding-right: 30px
    }
}

.lk_checkout-deliver-link {
    text-decoration: underline;
    margin-bottom: 10px;
    display: block
}

.lk_checkout-deliver-link:hover {
    color: #666
}

@media (max-width: 1024px) {
    .lk_checkout-deliver-link {
        padding-left: 30px
    }
}

.lk_checkout-deliver-del {
    margin-top: 10px;
    // margin-left: 0;
    // margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5
}

.lk_checkout-deliver-atall {
    // margin-left: 0;
    // margin-right: 0;
    padding-top: 10px
}

.lk_checkout-promo {
    margin-bottom: 30px;
    display: none !important
}

.lk_checkout-promo-link {
    display: inline-block;
    color: #540e82;
    border-bottom: 1px dashed #540e82;
    margin-bottom: 10px
}

.lk_checkout-promo-link.collapsed {
    color: #540e82;
    border-bottom: 1px dashed #540e82
}

.lk_checkout-promo-link:hover {
    color: #444;
    border-bottom: 1px dashed #444;
    text-decoration: none
}

.lk_checkout-promo .collapse.show {
    display: block !important
}

.lk_checkout-promo-btn {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 2px !important;
    border: 2px solid #000
}

.lk_checkout-promo-input {
    margin-right: 10px;
    margin-bottom: 7px !important
}

.lk_checkout-promo-input input {
    border-radius: 0 !important
}

.lk_checkout-pb-30 {
    margin-bottom: 30px;
    display: none !important;
}

.lk_checkout-pb-15 {
    margin-bottom: 15px
}

.col--padding-left-0 {
    padding-left: 0 !important;
}

.col--padding-right-5 {
    padding-right: 5px !important;
}

.mb-16 {
    margin-bottom: 16px;
}

.cv_filters input[type=checkbox] {
    display: none;
}

a:hover {
    text-decoration: none !important;
}

.ml-4px {
    margin-left: 4px;
}

.mr-4px {
    margin-right: 4px;
}

.lk_pre-footer-line {
    height: 1px;
    background-color: #dedede
}

.lk_pre-footer-title {
    font-size: 16px;
    font-family: 'Gill Sans';
    color: #000;
    font-weight: 600;
    text-transform: uppercase
}

.lk_pre-footer-box {
    margin-top: 30px;
    margin-bottom: 30px
}

.lk_pre-footer-link {
    display: block;
    font-size: 15px;
    color: #444;
    line-height: 1.8
}

.lk_pre-footer-link:hover {
    color: #000;
    text-decoration: none
}

.lk_footer {
    margin-bottom: 30px
}

.lk_footer .lk_pre-footer-line {
    margin-bottom: 30px
}

a.center-icon {
    margin-left: 4px;
    margin-right: 4px;
}

.cv_itemcard-slider {
    margin-top: 5px;
}

@media (max-width: 768px) {
    .lk_checkout--left, .lk_checkout--right {
        max-width: 100%;
        flex: 1 1 100%;
    }

    .lk_checkout-deliver-image {
        display: none;
    }
}

.cv_item-rating-img {
    margin-right: 3px !important;
    display: inline-block;
}

.cv_itemcard-addit .jq-checkbox {
    margin-right: 5px;
}

.cv_item-rating-link {
    color: #999 !important;
}

.cv_itemcard-buy-btn {
    border: none !important;
}

.slick-slide {
    position: relative;
}

app-delivery-block {
    .slick-next, .slick-prev {
        top: 135px;
    }

    .slick-next {
        right: -5px;
    }

    .slick-prev {
        left: -5px;
    }

    .cv_delivery-carousel-item {
        padding: 0px;
        margin: 0px 20px;

        .img-fluid {
            width: 100%;
            height: auto;
        }
    }
}

.paypal-button-text {
    text-transform: uppercase;
}

div#paypal-button-container {
    margin-top: 30px;
    margin-bottom: 17px;
}

.cv_delivery-carousel-item-img {
    height: 260px !important;
}

@media (max-width: 768px) {
    .cv_delivery-carousel-item-img {
        //height: 390px !important;
    }

    app-delivery-block {
        .slick-next, .slick-prev {
            top: 140px;
        }

        .slick-next {
            right: 0;
        }
        .slick-prev {
            left: 0;
        }
    }
}

@media (max-width: 992px) {
    app-front {
        //.cv_item:last-child {
        //    display: none;
        //}
    }

    app-catalog {
        .cv_item:last-child {
            display: none;
        }
    }

    app-bouquets {
        .cv_item:last-child {
            display: none;
        }
    }
}

// Review

.lk_itemdesk {
    padding-top: 38px
}

.lk_itemdesk-tabs {
    padding-bottom: 15px
}

.lk_itemdesk-tabs-btn {
    margin-right: 10px
}

.lk_itemdesk-tabs-btn a {
    position: relative;
    border: 1px solid #ccc;
    background-color: #fff !important;
    color: #444 !important;
    padding: 8px 10px 8px 40px !important
}

.lk_itemdesk-tabs-btn a.active, .lk_itemdesk-tabs-btn a:focus, .lk_itemdesk-tabs-btn a:hover {
    border: 1px solid #444
}

.lk_itemdesk-tabs-btn a:before {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 8px
}

.lk_itemdesk-tabs-btn a.ic-lk-desk:before {
    top: 3px;
    content: url(/assets/images/ic-lk-desk.svg);
    margin-right: 5px
}

.lk_itemdesk-tabs-btn a.ic-lk-desk.active:before {
    content: url(/assets/images/ic-lk-desk-a.svg)
}

.lk_itemdesk-tabs-btn a.ic-lk-pay:before {
    content: url(/assets/images/ic-lk-pay.svg);
    margin-right: 5px
}

.lk_itemdesk-tabs-btn a.ic-lk-pay.active:before {
    content: url(/assets/images/ic-lk-pay-a.svg)
}

.lk_itemdesk-tabs-btn a.ic-lk-review:before {
    top: 3px;
    content: url(/assets/images/ic-lk-review.svg);
    margin-right: 5px
}

.lk_itemdesk-tabs-btn a.ic-lk-review.active:before {
    content: url(/assets/images/ic-lk-review-a.svg)
}

.lk_itemdesk-tabs-btn a.ic-lk-security:before {
    top: 3px;
    content: url(/assets/images/ic-lk-security.svg);
    margin-right: 5px
}

.lk_itemdesk-tabs-btn a.ic-lk-security.active:before {
    content: url(/assets/images/ic-lk-security-a.svg)
}

.lk_itemdesk-tabs-content {
    padding-top: 15px;
    padding-bottom: 15px
}

.lk_itemdesk-info {
    padding: 15px;
    border-bottom: 1px solid #dadada;
    min-height: 160px
}

.lk_itemdesk-info-title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #444
}

.lk_itemdesk-info-cnt {
    color: #aaa;
    font-size: 18px;
    margin-left: 15px
}

.lk_itemdesk-info-link {
    color: #444;
    font-size: 18px;
    text-decoration: underline;
    display: block;
    margin-top: 8px
}

.lk_itemdesk-info-link:hover {
    color: #666
}

.lk_itemdesk-info-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #444;
    font-size: 16px
}

.lk_itemdesk-info-list li {
    line-height: 1.4
}

.lk_itemdesk-info-list-vertical {
    padding: 0;
    margin: 0;
    list-style-type: none
}

.lk_itemdesk-info-list-vertical li {
    display: inline-block;
    margin-right: 5px
}

.lk_itemdesk-info-text {
    color: #444;
    font-size: 16px;
    line-height: 1.4
}

.lk_itemdesk-review {
    padding: 15px;
    border-bottom: 1px solid #dadada
}

.lk_itemdesk-review-box {
    margin-bottom: 20px
}

.lk_itemdesk-review-img {
    max-width: 145px
}

.lk_itemdesk-ux {
    padding: 15px;
    border-bottom: 1px solid #dadada
}

.lk_itemdesk-ux-name {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    font-weight: 600
}

.lk_itemdesk-ux-rate input {
    display: none
}

.lk_itemdesk-ux-rate label {
    cursor: pointer
}

.lk_itemdesk-ux-rate label:before {
    content: url(/assets/images/rate-unfilled.svg);
    margin: 2px;
    display: inline-block
}

.lk_itemdesk-ux-rate input:checked ~ label:before {
    content: url(/assets/images/rate-filled.svg)
}

.lk_itemdesk-ux-rate input:hover ~ label:before {
    content: url(/assets/images/rate-filled.svg)
}

.lk_itemdesk-ux-info {
    margin-top: 20px;
    font-size: 16px;
    color: #aaa
}

.lk_itemdesk-ux-right-mt {
    margin-top: 43px
}

.lk_itemdesk-ux-right-name {
    margin-top: 22px;
    font-size: 18px;
    font-weight: 600;
    color: #000
}

.lk_itemdesk-ux-right-check {
    margin-top: 15px
}

.lk_itemdesk-ux-right-check label {
    position: relative;
    width: 100%;
    margin-bottom: 0 !important
}

.lk_itemdesk-ux-right-check label span {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #444;
    font-size: 16px;
    cursor: pointer
}

.lk_itemdesk-ux-right-check label:hover .jq-checkbox {
    border: 1px solid #000;
    cursor: pointer
}

.lk_itemdesk-ux-right-check label:hover .jq-checkbox:before {
    position: absolute;
    content: url(/assets/images/check-smile.svg);
    background: 0 0;
    top: 8px !important;
    right: 5px !important;
    left: auto !important;
    height: auto;
    width: auto
}

.lk_itemdesk-ux-right-check .jq-checkbox {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 12px 15px;
    border-radius: 0;
    display: block;
    width: 100%;
    line-height: 46px;
    height: 46px
}

.lk_itemdesk-ux-right-check .jq-checkbox.checked, .lk_itemdesk-ux-right-check .jq-checkbox:hover {
    border: 1px solid #000;
    cursor: pointer
}

.lk_itemdesk-ux-right-check .jq-checkbox.checked:before, .lk_itemdesk-ux-right-check .jq-checkbox:hover:before {
    position: absolute;
    content: url(/assets/images/check-smile.svg);
    background: 0 0;
    top: 8px !important;
    right: 5px !important;
    left: auto !important;
    height: auto;
    width: auto
}

.lk_itemdesk-ux-leave {
    padding-top: 20px
}

.lk_itemdesk-ux-leave-title {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-bottom: 15px
}

.lk_itemdesk-ux-leave-input {
    border-radius: 0 !important;
    border: 1px solid #ccc;
    margin-bottom: 15px
}

.lk_itemdesk-ux-leave-submit {
    line-height: 45px;
    height: 45px;
    padding: 0 15px;
    min-width: 215px;
    border-radius: 0;
    background-color: #000;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    float: right
}

.lk_itemdesk-ux-leave-submit:hover {
    background-color: #222
}

.w-100-p {
    width: 100%;
}

//rate fix
.good .cv_ratepage-right-check .jq-checkbox.checked:before,
.good .cv_ratepage-right-check .jq-checkbox:hover:before {
    content: url(/assets/images/smile/noun_emotion_1020252.svg) !important;
    background: none !important;
}

.cv_ratepage-item.positive .jq-checkbox.checked:before,
.good .cv_ratepage-right-check label:hover .jq-checkbox:before {
    content: url(/assets/images/smile/noun_emotion_1020252.svg) !important;
    background: none !important;
}

.cv_filter-active {
    label {
        border: 1px solid #000 !important;
    }
}

app-info-page-guarantee div p {
    margin-bottom: 0;
}