<div class="cv_delivery-carousel-item"  *ngFor="let item of list">
    <div class="cv_delivery-carousel-item-img">
        <img [src]="item.image" class="img-fluid"
             [alt]="item.title + ' ' + item.bouquetName"
             [title]="item.title + ' ' + item.bouquetName">
    </div>
    <div class="cv_delivery-carousel-item-name">
        {{item.title}} {{item.bouquetName}}
    </div>
</div>