<app-step-one class="row cv_ratepage" (submit)="setCallback($event)" *ngIf="formNumber === 1"></app-step-one>

<app-step-two class="row cv_ratepage" *ngIf="formNumber === 2"
              (submit)="formSubmit()"
              (changeUrl)="setImageUrl($event)">
</app-step-two>

<app-step-three class="row cv_ratepage" *ngIf="formNumber === 3"></app-step-three>