<div class="section__container">
    <h1>
        <ng-container *ngIf="isSuccess; else elseBlock">{{'PAY_CALLBACK.SUCCESS' | translate}}</ng-container>
        <ng-template #elseBlock>{{'PAY_CALLBACK.ERROR' | translate}}</ng-template>
    </h1>

    <div class="go-to-front">
        <a [routerLink]="baseUrl$ | async">
            {{'PAY_CALLBACK.LINK' | translate}}
        </a>
    </div>

</div>