:host {
    display: block;
    min-height: 250px;
    padding-top: 30px;

    h1 {
        text-align: center;
        color: #55008b;
        position: relative;
    }

    .go-to-front {
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
        margin-top: 20px;

        a {
            color: #212529;
        }
    }
}